/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.discovery-delay {
  margin-top: 0;
}

.discovery-time-ms {
  color: var(--sys-color-error-bright);
}

ul.discovery-icon-results {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;

    span {
      /* push the text down to align slightly better with the icons */
      padding-top: 2px;
    }
  }
}
