/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.insight {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  margin: var(--sys-size-6) 0;
  border-radius: var(--sys-shape-corner-extra-small);
  overflow: hidden;
  border: var(--sys-size-1) solid var(--sys-color-divider);
  background-color: var(--sys-color-base);
  user-select: text;

  &.closed {
    background-color: var(--sys-color-surface3);
    border: none;
  }

  header {
    padding: var(--sys-size-5) var(--sys-size-6);

    h3 {
      font: var(--sys-typescale-body4-medium);
    }
  }
}

.insight-hover-icon {
  position: absolute;
  top: var(--sys-size-5);
  right: var(--sys-size-5);
  border: none;
  width: var(--sys-size-9);
  user-select: none;
  height: var(--sys-size-9);
  box-shadow: var(--sys-elevation-level1);
  border-radius: var(--sys-shape-corner-full);
  background: var(--sys-color-cdt-base-container);
  opacity: 0%;
  transition: opacity 0.2s ease;

  .insight:hover & {
    opacity: 100%;
  }

  devtools-button {
    transition: transform 0.2s ease;
  }

  &.active devtools-button {
    transform: rotate(180deg);
  }
}

.insight-body {
  padding: var(--sys-size-5) var(--sys-size-6);
}

.insight-title {
  color: var(--sys-color-on-base);
  margin-block: 3px;
}

.insight-description {
  border-bottom: var(--sys-size-1) solid var(--sys-color-divider);
}

.link {
  color: var(--sys-color-primary);
}

.dl-title {
  font-weight: bold;
}

dd.dl-title {
  text-align: right;
}

.dl-value {
  font-weight: bold;
}

.metric-value-bad {
  color: var(--app-color-performance-bad);
}

.metric-value-good {
  color: var(--app-color-performance-good);
}

.insight-entry {
  font: var(--sys-typescale-body4-medium);
  padding-block: var(--sys-size-3);
  display: flex;
  align-items: center;
}

.insight-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: var(--sys-size-5) var(--sys-size-6);
}

.element-img {
  max-width: 90%;
}

.element-img-details {
  font: var(--sys-typescale-body4-regular);

  .element-img-details-size {
    color: var(--color-text-secondary);
  }
}

::slotted(*) {
  font: var(--sys-typescale-body4-regular);
}

.insight-savings {
  font-weight: var(--ref-typeface-weight-bold);
}

ul.insight-icon-results {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--sys-size-3);

    span {
      /* push the text down to align slightly better with the icons */
      padding-top: 2px;
    }
  }
}

ul.url-list {
  list-style-position: inside;
  padding: 0;

  li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.devtools-link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--sys-color-primary);
}

.devtools-link.invalid-link {
  color: var(--sys-color-state-disabled);
}
