/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.insight {
  display: block;
  width: auto;
  height: auto;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid var(--sys-color-outline);
  background-color: var(--sys-color-base);

  &.closed {
    background-color: var(--sys-color-neutral-container);
    border: none;
  }

  &.closed:hover {
    background-color: var(--sys-color-state-disabled-container);
  }
}

.insight-title {
  color: var(--sys-color-on-base);
  margin-block: 3px;
}

.table-container dl {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.table-container dt {
  padding: 3px;
}

.table-container dd {
  display: grid;
  justify-items: end;
  margin-inline-start: auto;
}

.insight-description {
  border-bottom: 1px solid var(--sys-color-outline);
  padding-bottom: 10px;
}

.link {
  color: var(--sys-color-primary);
}

.dl-title {
  font-weight: bold;
}

.dl-value {
  font-weight: bold;
}
