/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.insight {
  display: block;
  width: auto;
  height: auto;
  margin: 10px 0;
  border-radius: var(--sys-shape-corner-extra-small);
  overflow: hidden;
  border: 1px solid var(--sys-color-divider);
  background-color: var(--sys-color-base);

  &.closed {
    background-color: var(--sys-color-surface3);
    border: none;
  }

  &.closed:hover {
    background-color: var(--sys-color-state-disabled-container);
  }

  header {
    padding: 10px;

    h3 {
      font: var(--sys-typescale-body4-medium);
    }
  }
}

.insight-body {
  padding: 0 10px;
}

.insight-title {
  color: var(--sys-color-on-base);
  margin-block: 3px;
}

.table-container dl {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.table-container dt {
  padding: 3px;
}

.table-container dd {
  display: grid;
  justify-items: end;
  margin-inline-start: auto;
}

.insight-description {
  border-bottom: 1px solid var(--sys-color-outline);
  padding-bottom: 10px;
}

.link {
  color: var(--sys-color-primary);
}

.dl-title {
  font-weight: bold;
}

.dl-value {
  font-weight: bold;
}

.metric-value-bad {
  color: var(--app-color-performance-bad);
}

.metric-value-good {
  color: var(--app-color-performance-good);
}

.insight-entry {
  font-weight: bold;
  padding-block: 2px;
  display: flex;
  align-items: center;
}

.insight-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-block: 10px;
}

.element-img {
  max-width: 90%;
}

.element-img-details {
  font-weight: bold;

  .element-img-details-size {
    color: var(--color-text-secondary);
  }
}
