/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

table {
  width: 100%;
  padding: 5px 0;
}

table tr > * {
  text-align: right;
}

table tr > *:first-child {
  text-align: left;
}

table th[scope="row"] {
  font-weight: normal;
}

td {
  font-weight: bold;
}
