/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

table {
  width: 100%;
  padding: 5px 0;
  border-collapse: collapse;
}

thead {
  white-space: nowrap;
}

table tr > * {
  text-align: right;
}

table tr > *:first-child {
  text-align: left;
}

table.interactive tbody tr {
  cursor: pointer;
}

table.interactive tbody tr:hover,
table.interactive tbody tr.selected {
  background-color: var(--app-color-performance-sidebar-table-row-hover);
}

table thead th {
  font: var(--sys-typescale-body4-medium);
}

table tbody th {
  font-weight: normal;
}

table th[scope="row"] {
  padding: 3px 0;
  word-break: break-word;
}
