/*
 * Copyright 2020 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
.media-messages-header {
  background-color: var(--color-background-elevation-1);
  border-bottom: 1px solid var(--color-details-hairline);
  min-height: 26px;
}

.media-messages-body {
  overflow-y: scroll;
}

.media-messages-level-dropdown-element {
  height: 18px;
  line-height: 18px;
}

.media-messages-level-dropdown-text {
  float: left;
}

.media-messages-level-dropdown-checkbox {
  float: left;
  width: 18px;
  height: 100%;
  padding-left: 2px;
}

.media-messages-message-container {
  font-size: 14px;
  line-height: 18px;
  padding: 4px;
  user-select: text;
  border-bottom: 1px solid var(--color-details-hairline);
}

.media-message-warning {
  --override-media-message-warning-background: hsl(45deg 100% 97%);

  background-color: var(--override-media-message-warning-background);
}

.-theme-with-dark-background .media-message-warning,
:host-context(.-theme-with-dark-background) .media-message-warning {
  --override-media-message-warning-background: rgb(79 58 0);
}

.media-message-error {
  --override-media-message-error-background: rgb(255 240 240);

  background-color: var(--override-media-message-error-background);
}

.-theme-with-dark-background .media-message-error,
:host-context(.-theme-with-dark-background) .media-message-error {
  --override-media-message-error-background: rgb(79 0 0);
}

.media-messages-message-filtered {
  display: none;
}

.media-messages-message-unselected {
  display: none;
}

.status-error-box {
  font-family: monospace;
  border: 1px solid var(--color-details-hairline);
  padding: 4px;
}

.status-error-field-label {
  padding-right: 10px;
  color: var(--color-text-secondary);
}

.status-error-field-labeled {
  display: flex;
}
