/*
 * Copyright 2019 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.tree-outline {
  padding-left: 0;
  color: var(--color-text-secondary);
}

li.storage-group-list-item {
  padding: 10px 8px 6px;
}

li.storage-group-list-item:not(:first-child) {
  border-top: 1px solid var(--color-details-hairline);
}

li.storage-group-list-item::before {
  display: none;
}

.player-entry-row {
  height: 26px;
  min-height: 26px;
  line-height: 26px;
}

.player-entry-status-icon {
  width: 28px;
  min-width: 28px;
  height: 26px;
  border-right: 1px solid var(--color-details-hairline);
  overflow: hidden;
}

.player-entry-status-icon-centering {
  margin: auto;
  display: inherit;
}

.player-entry-frame-title {
  height: 26px;
  width: 125px;
  min-width: 125px;
  text-overflow: elipsis;
  padding: 0 10px;
  border-right: 1px solid var(--color-details-hairline);
  overflow: hidden;
}

.player-entry-player-title {
  height: 26px;
  padding-left: 10px;
  overflow: hidden;
}

.player-entry-row:nth-child(odd) {
  background: var(--color-background-elevation-0);
}

.player-entry-row:hover {
  background: var(--color-background-hover-overlay);
}

.player-entry-row.selected {
  background: var(--color-primary-variant);
  color: var(--legacy-selection-fg-color);
}

.player-entry-row.selected .player-entry-status-icon-centering {
  filter: invert(100);
}

.player-entry-header {
  height: 27px;
  line-height: 27px;
  min-height: 27px;
  padding-left: 10px;
  border-bottom: 1px solid var(--color-details-hairline);
}
