/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:focus-visible {
  outline: none;
}

button {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-family: inherit;
  font-size: 12px;
  height: 25px;
  line-height: 14px;
  padding: 5px 12px;
  justify-content: center;
  width: 100%;
}

button:focus-visible {
  box-shadow: 0 0 0 2px var(--color-button-outline-focus);
}

button:hover {
  cursor: pointer;
}

button.primary {
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
  color: var(--color-background);
}

button.primary:hover {
  background: var(--color-button-primary-background-hovering);
  border: 1px solid var(--color-button-primary-background-hovering);
}

button.primary:active {
  background: var(--color-button-primary-background-pressed);
  border: 1px solid var(--color-button-primary-background-pressed);
}

button.secondary {
  border: 1px solid var(--color-details-hairline);
  background: var(--color-background);
  color: var(--color-primary);
}

button.secondary:hover {
  background: var(--color-button-secondary-background-hovering);
}

button.secondary:active {
  background: var(--color-button-secondary-background-pressed);
  border: 1px solid var(--color-button-secondary-background-pressed);
}

button.secondary:focus-visible {
  border: 1px solid var(--color-background);
}

button.text-with-icon {
  padding: 0 12px 0 4px;
}

button.only-icon {
  padding: 0;
}

button devtools-icon {
  width: 19px;
  height: 19px;
}

button.primary devtools-icon {
  --icon-color: var(--color-background);
}

button.secondary devtools-icon {
  --icon-color: var(--color-primary);
}
