/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* TODO(crbug.com/1442257): remove stylelint-disable. */
/* stylelint-disable plugin/use_theme_colors */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
* Reset default UA styles for focused elements.
* The button styles below explicitly implement custom focus styles.
*/
*:focus,
*:focus-visible,
:host(:focus),
:host(:focus-visible) {
  outline: none;
}

:host {
  display: inline-flex;
  flex-direction: row;
}

button {
  /*
    --override-button-no-right-border-radius decides
    whether button has border radius on the right or not.

    It works as a boolean variable:
    * If it is 1, `--button-has-right-border-radius` becomes a 0 multiplier
    for the border-radius-top-right and border-radius-bottom-right properties.
    * If it is not set or 0, it becomes a 1 multiplier
    for the same properties which means they'll continue to have the given
    border radius.
  */
  --button-has-right-border-radius: calc(1 - var(--override-button-no-right-border-radius, 0));
  --button-border-size: 1px;
  --button-height: 24px;
  --button-width: 100%;

  align-items: center;
  border-radius: 12px calc(var(--button-has-right-border-radius) * 12px) calc(var(--button-has-right-border-radius) * 12px) 12px;
  display: inline-flex;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  height: var(--button-height);
  line-height: 14px;
  padding: 5px 12px;
  justify-content: center;
  width: var(--button-width);
  white-space: nowrap;
}

button.small {
  --button-height: 20px;

  border-radius: 2px calc(var(--button-has-right-border-radius) * 2px) calc(var(--button-has-right-border-radius) * 2px) 2px;
}

button:focus-visible {
  outline: 2px solid var(--sys-color-state-focus-ring);
  outline-offset: 2px;
}

button.toolbar,
button.round {
  --button-height: 24px;
  --button-width: 24px;

  background: transparent;
  border: none;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}

button.toolbar {
  border-radius: 2px calc(var(--button-has-right-border-radius) * 2px) calc(var(--button-has-right-border-radius) * 2px) 2px;
}

button.round {
  border-radius: 100%;
}

button.round.small,
button.toolbar.small {
  --button-height: 20px;
  --button-width: 20px;
}

button.round.tiny {
  --button-height: 18px;
  --button-width: 18px;
}

button.primary {
  border: var(--button-border-size) solid var(--sys-color-primary);
  background: var(--sys-color-primary);
  color: var(--sys-color-on-primary);
}

button.primary:hover {
  background: color-mix(in sRGB, var(--sys-color-primary), var(--sys-color-state-hover-on-prominent) 6%);
  border: var(--button-border-size) solid color-mix(in sRGB, var(--sys-color-primary), var(--sys-color-state-hover-on-prominent) 6%);
}

button.primary.active,
button.primary:active {
  background: color-mix(in sRGB, var(--sys-color-primary), var(--sys-color-state-ripple-primary) 32%);
  border: var(--button-border-size) solid color-mix(in sRGB, var(--sys-color-primary), var(--sys-color-state-ripple-primary) 32%);
}

button.primary:focus-visible {
  outline: 2px solid var(--sys-color-state-focus-ring);
  outline-offset: 2px;
  box-shadow: none;
}

button.primary:disabled,
button.primary:disabled:hover {
  border: var(--button-border-size) solid var(--sys-color-state-disabled-container);
  background: var(--sys-color-state-disabled-container);
  color: var(--sys-color-state-disabled);
  cursor: not-allowed;
}

button.secondary {
  border: var(--button-border-size) solid var(--sys-color-tonal-outline);
  background: var(--sys-color-cdt-base-container);
  color: var(--sys-color-primary);
}

button.secondary:hover {
  background: var(--sys-color-state-hover-on-subtle);
}

button.secondary.active,
button.secondary:active {
  background-color: var(--sys-color-surface-variant);
}

button.secondary:focus-visible {
  outline: 2px solid var(--sys-color-state-focus-ring);
  outline-offset: 2px;
  box-shadow: none;
}

button.secondary:disabled,
button.secondary:disabled:hover {
  border: var(--button-border-size) solid var(--sys-color-state-disabled-container);
  color: var(--sys-color-state-disabled);
  cursor: not-allowed;
}

button.toolbar:hover,
button.round:hover {
  background-color: var(--sys-color-state-hover-on-subtle);
}

button.toolbar.active,
button.toolbar:active,
button.round.active,
button.round:active {
  background-color: var(--sys-color-state-ripple-neutral-on-subtle);
}

button.toolbar:focus-visible,
button.round:focus-visible {
  background-color: var(--sys-color-tonal-container);
}

button.toolbar:disabled,
button.toolbar:disabled:hover,
button.round:disabled,
button.round:disabled:hover {
  background: var(--sys-color-cdt-base-container);
  color: var(--sys-color-state-disabled);
  cursor: not-allowed;
}

button.text-with-icon {
  padding: 0 calc(12px - var(--button-border-size)) 0 calc(8px - var(--button-border-size));
}

button.small.text-with-icon {
  padding: 0 calc(9px - var(--button-border-size)) 0 calc(3px - var(--button-border-size));
}

button.only-icon {
  padding: 0;
}

button devtools-icon {
  width: calc(var(--button-width) - 4px);
  height: calc(var(--button-height) - 4px);
}

button.text-with-icon devtools-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

button.toolbar devtools-icon,
button.round devtools-icon {
  --icon-color: var(--icon-default);
}

button.primary-toolbar devtools-icon {
  --icon-color: var(--icon-primary);
}

button.primary devtools-icon {
  --icon-color: var(--sys-color-cdt-base-container);
}

button.secondary devtools-icon {
  --icon-color: var(--icon-primary);
}

button.explicit-size devtools-icon {
  width: unset;
  height: unset;
}

button.small.text-with-icon devtools-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

button.toolbar.explicit-size devtools-icon,
button.round.explicit-size devtools-icon {
  width: unset;
  height: unset;
}

button.toolbar.active devtools-icon,
button.toolbar:active devtools-icon {
  --icon-color: var(--icon-toggled);
}

button.primary-toolbar:active devtools-icon {
  --icon-color: var(--icon-primary);
}

button.toolbar:hover devtools-icon {
  --icon-color: var(--icon-default-hover);
}

button.primary-toolbar:hover devtools-icon {
  --icon-color: var(--icon-primary);
}

button.toolbar:disabled devtools-icon,
button.round:disabled devtools-icon {
  --icon-color: var(--icon-disabled);
}

button.primary:disabled devtools-icon {
  --icon-color: var(--icon-disabled);
}

button.secondary:disabled devtools-icon {
  --icon-color: var(--icon-disabled);
}

.spinner-component.secondary {
  border: 2px solid var(--sys-color-primary);
  border-right-color: transparent;
}

.spinner-component.disabled {
  border: 2px solid var(--sys-color-state-disabled);
  border-right-color: transparent;
}

.spinner-component {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border: 2px solid var(--sys-color-cdt-base-container);
  animation: spinner-animation 1s linear infinite;
  border-right-color: transparent;
  margin-right: 4px;
}

@keyframes spinner-animation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
