/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.value.object-value-node:hover {
  background-color: var(--item-hover-color);
}

.object-value-function-prefix,
.object-value-boolean {
  color: rgb(13 34 170); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.object-value-function {
  font-style: italic;
}

.object-value-function.linkified:hover {
  background-color: rgb(0 0 0 / 10%); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
  cursor: pointer;
}

.object-value-number {
  color: rgb(28 0 207); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.object-value-bigint {
  color: rgb(0 93 0); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.object-value-string,
.object-value-regexp,
.object-value-symbol {
  white-space: pre;
  unicode-bidi: -webkit-isolate;
  color: rgb(196 26 22); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.-theme-with-dark-background .object-value-string,
:host-context(.-theme-with-dark-background) .object-value-string,
.-theme-with-dark-background .object-value-regexp,
:host-context(.-theme-with-dark-background) .object-value-regexp,
.-theme-with-dark-background .object-value-symbol,
:host-context(.-theme-with-dark-background) .object-value-symbol {
  color: rgb(242 139 84);
}

.object-value-string-quote {
  color: #222; /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.object-value-node {
  position: relative;
  vertical-align: baseline;
  color: rgb(48 57 66); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
  display: inline-block;
}

.object-value-arraybuffer,
.object-value-dataview,
.object-value-typedarray,
.object-value-webassemblymemory {
  display: inline-flex;
}

.object-value-arraybuffer devtools-icon,
.object-value-dataview devtools-icon,
.object-value-typedarray devtools-icon,
.object-value-webassemblymemory devtools-icon {
  cursor: pointer;
}

.object-value-null,
.object-value-undefined {
  color: rgb(94 94 94); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.-theme-with-dark-background .object-value-null,
:host-context(.-theme-with-dark-background) .object-value-null,
.-theme-with-dark-background .object-value-undefined,
:host-context(.-theme-with-dark-background) .object-value-undefined {
  color: rgb(161 161 161);
}

.object-value-calculate-value-button:hover {
  text-decoration: underline;
}

.object-properties-section-custom-section {
  display: inline-flex;
  flex-direction: column;
}

.-theme-with-dark-background .object-value-number,
:host-context(.-theme-with-dark-background) .object-value-number,
.-theme-with-dark-background .object-value-boolean,
:host-context(.-theme-with-dark-background) .object-value-boolean {
  color: hsl(252deg 100% 75%);
}

.object-properties-section .object-description {
  color: #808080; /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.value .object-properties-preview {
  white-space: nowrap;
}

.name {
  color: rgb(136 19 145); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
  flex-shrink: 0;
}

.object-properties-preview .name {
  color: #565656; /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

@media (forced-colors: active) {
  .object-value-calculate-value-button:hover {
    forced-color-adjust: none;
    color: Highlight;
  }
}
