/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.object-value-scientific-notation-exponent {
    flex-shrink: 0;
}

.object-value-scientific-notation-mantissa {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    min-width: 1ex;
}

.object-value-scientific-notation-number {
    display: flex !important;
}

.object-value-node:hover {
    background-color: rgba(56, 121, 217, 0.1);
}

.object-value-function-prefix,
.object-value-boolean {
    color: rgb(170, 13, 145);
}

.object-value-function {
    font-style: italic;
}

.object-value-function.linkified:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.object-value-object,
.object-value-promise,
.object-value-map,
.object-value-set,
.object-value-iterator,
.object-value-generator,
.object-value-node,
.object-value-typedarray,
.object-value-array {
    position: relative;
    vertical-align: baseline;
    color: inherit;
    display: inline-block;
}

.object-value-number {
    color: rgb(28, 0, 207);
}

.object-value-string,
.object-value-regexp,
.object-value-symbol {
    white-space: pre;
    unicode-bidi: -webkit-isolate;
    color: rgb(196, 26, 22);
}

.object-value-string-quote {
    color: #222;
}

.object-value-node {
    color: rgb(136, 18, 128);
}

.object-value-null,
.object-value-undefined {
    color: rgb(128, 128, 128);
}

.object-value {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-user-select: text;
}

.object-value-calculate-value-button:hover {
    text-decoration: underline;
}

.object-properties-section-custom-section {
    display: inline-flex;
    flex-direction: column;
}

.-theme-with-dark-background .object-value-number,
:host-context(.-theme-with-dark-background) .object-value-number,
.-theme-with-dark-background .object-value-boolean,
:host-context(.-theme-with-dark-background) .object-value-boolean {
    color: hsl(252, 100%, 75%);
}

.object-properties-section .object-description {
    color: gray;
}
