/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

* {
  box-sizing: border-box;
}

.hbox {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  position: relative;
  flex-direction: row;
}

.release-note-top-section {
  height: 27px;
  line-height: 27px;
  padding: 0 15px;
  flex: none;
  color: var(--sys-color-on-surface);
  background-color: var(--sys-color-cdt-base-container);
  border-bottom: 1px solid var(--sys-color-divider);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.release-note-container {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.release-note-container ul {
  display: flex;
  padding: 10px 16px;
  flex-direction: column;
  flex: none;
  margin: 4px 12px 0 2px;
  max-width: 600px;
}

.release-note-container li {
  display: flex;
  flex-direction: column;
  flex: none;
  line-height: 200%;
  font-size: 14px;
}

.release-note-container .release-note-link {
  border: 1px solid var(--sys-color-divider);
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 4px;
  text-decoration: none;
  color: var(--sys-color-primary);
}

.release-note-container .release-note-link:hover {
  box-shadow: 0 0 0 1px var(--box-shadow-outline-color) inset;
}

.release-note-title,
.release-note-subtitle {
  color: inherit;
  text-decoration: none;
}

.release-note-subtitle {
  font-size: 13px;
  line-height: 125%;
  padding-bottom: 8px;
}

devtools-button {
  margin: 10px 0 20px 20px;
}

.release-note-container li:not(:hover) .release-note-subtitle {
  color: var(--sys-color-token-subtle);
}

.release-note-image {
  flex-shrink: 2;
  margin: 30px 15px;
  width: 260px;
  height: 200px;
}

img {
  width: 260px;
  height: 200px;
  flex: none;
  box-shadow: var(--drop-shadow-depth-1);
}

img:hover {
  box-shadow: var(--drop-shadow-depth-4);
}

@media (forced-colors: active) {
  .release-note-container .release-note-link {
    border-color: ButtonText;
  }

  .release-note-container .release-note-link:hover {
    forced-color-adjust: none;
    border-color: Highlight;
  }

  .release-note-container li .release-note-title,
  .release-note-container li:not(:hover) .release-note-subtitle {
    forced-color-adjust: none;
    color: linktext;
  }
}
