/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:host {
  font-family: var(--default-font-family);
  font-size: inherit;
  display: block;
}

:host-context(.opening) {
  animation: expand 0.3s ease;
  animation-fill-mode: forwards;
}

:host-context(.closing) {
  animation: collapse 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes expand {
  from {
    max-height: 0;
    opacity: 0%;
  }

  to {
    max-height: 2000px;
    opacity: 100%;
  }
}

@keyframes collapse {
  from {
    max-height: 2000px;
    opacity: 100%;
  }

  to {
    max-height: 0;
    opacity: 0%;
    margin: 0;
  }
}

.wrapper {
  padding: 16px 20px;
  background-color: var(--sys-color-cdt-base-container);
  border-radius: 16px;
}

.wrapper.top {
  border-radius: 16px 16px 4px 4px;
}

.wrapper.bottom {
  margin-top: 5px;
  border-radius: 4px 4px 16px 16px;
}

header {
  display: flex;
  flex-direction: row;
  gap: 6px;
  color: var(--sys-color-on-surface);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  height: 20px;
}

header > .filler {
  flex: 1;
}

main {
  --override-markdown-view-message-color: var(--sys-color-on-surface);

  margin: 20px 0;
  color: var(--sys-color-on-surface);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  color: var(--sys-color-on-surface);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

footer > .filler {
  flex: 1;
}

textarea {
  height: 84px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--sys-color-neutral-outline);
  width: 100%;
  font-family: var(--default-font-family);
  font-size: inherit;
}

.buttons {
  margin-bottom: 16px;
}

.dogfood-feedback {
  display: flex;
  gap: 2px;
  align-items: center;
}

.link {
  color: var(--sys-color-primary);
  text-decoration-line: underline;
}

/* stylelint-disable plugin/use_theme_colors */
.loader {
  line-height: 12px;

  --bar-height: 1lh;

  min-block-size: 4lh;
  background:
    linear-gradient(to right, var(--sys-color-gradient-primary), var(--sys-color-gradient-tertiary)),
    linear-gradient(to right, var(--sys-color-gradient-primary), var(--sys-color-gradient-tertiary)),
    linear-gradient(to right, var(--sys-color-gradient-primary), var(--sys-color-gradient-tertiary)),
    radial-gradient(circle, var(--sys-color-gradient-primary), 75%, transparent 0),
    radial-gradient(circle, var(--sys-color-gradient-tertiary), 75%, transparent 0),
    radial-gradient(circle, var(--sys-color-gradient-primary), 75%, transparent 0),
    radial-gradient(circle, var(--sys-color-gradient-tertiary), 75%, transparent 0),
    radial-gradient(circle, var(--sys-color-gradient-primary), 75%, transparent 0),
    radial-gradient(circle, var(--sys-color-gradient-tertiary), 75%, transparent 0);
  background-size:
    calc(100% - var(--bar-height)) 1lh,
    calc(100% - var(--bar-height)) 1lh,
    75% 1lh,
    1lh 1lh,
    1lh 1lh,
    1lh 1lh,
    1lh 1lh,
    1lh 1lh,
    1lh 1lh;
  background-position:
    calc(var(--bar-height) / 2) 0%,
    calc(var(--bar-height) / 2) calc(var(--bar-height) * 1.5),
    calc(var(--bar-height) / 2) calc(var(--bar-height) * 3),
    0% 0%,
    100% 0%,
    0% calc(var(--bar-height) * 1.5),
    100% calc(var(--bar-height) * 1.5),
    0% calc(var(--bar-height) * 3),
    calc(75% + 0.5lh) calc(var(--bar-height) * 3);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background:
      linear-gradient(
        to left,
        #fff0,
        25%,
        color-mix(in srgb, transparent, var(--sys-color-cdt-base-container) 60%),
        75%,
        #fff0
      );
    translate: 100% 0;
    animation: shine-across 1s ease infinite;
  }
}
/* stylelint-enable plugin/use_theme_colors */

@keyframes shine-across {
  to {
    translate: -100% 0;
  }
}

ul {
  padding-left: 1em;
  color: var(--sys-color-primary);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}

ul .link {
  color: var(--sys-color-primary);
  display: inline-flex !important; /* stylelint-disable-line declaration-no-important */
  align-items: center;
  gap: 4px;
  text-decoration-line: underline;
}

summary {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 8px;
}
