/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:host {
  font-family: var(--default-font-family);
  font-size: inherit;
  display: block;
}

.wrapper {
  padding: 16px 20px;
  background-color: var(--sys-color-cdt-base-container);
  border-radius: 16px;
}

.wrapper.top {
  border-radius: 16px 16px 4px 4px;
}

.wrapper.bottom {
  margin-top: 5px;
  border-radius: 4px 4px 16px 16px;
}

header {
  display: flex;
  flex-direction: row;
  gap: 6px;
  color: var(--sys-color-on-surface);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  height: 20px;
}

header > .filler {
  flex: 1;
}

main {
  --override-markdown-view-message-color: var(--sys-color-on-surface);

  margin: 20px 0;
  color: var(--sys-color-on-surface);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  color: var(--sys-color-on-surface);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

footer > .filler {
  flex: 1;
}

textarea {
  height: 84px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--sys-color-neutral-outline);
  width: 100%;
  font-family: var(--default-font-family);
  font-size: inherit;
}

.buttons {
  margin-bottom: 16px;
}

/* stylelint-disable plugin/use_theme_colors */
.loader {
  line-height: 12px;

  --bar-height: 1lh;
  /* TODO use theme variables. */
  --bar-color: #b7eaff;
  --gradient-1: #fff0;
  --gradient-2: #fff9;
  --gradient-3: #fff0;

  min-block-size: 4lh;
  background:
    linear-gradient(to right, var(--bar-color), var(--bar-color)),
    linear-gradient(to right, var(--bar-color), var(--bar-color)),
    linear-gradient(to right, var(--bar-color), var(--bar-color)),
    radial-gradient(circle, var(--bar-color), 75%, transparent 0),
    radial-gradient(circle, var(--bar-color), 75%, transparent 0),
    radial-gradient(circle, var(--bar-color), 75%, transparent 0),
    radial-gradient(circle, var(--bar-color), 75%, transparent 0),
    radial-gradient(circle, var(--bar-color), 75%, transparent 0),
    radial-gradient(circle, var(--bar-color), 75%, transparent 0);
  background-size:
    calc(100% - var(--bar-height)) 1lh,
    calc(100% - var(--bar-height)) 1lh,
    75% 1lh,
    1lh 1lh,
    1lh 1lh,
    1lh 1lh,
    1lh 1lh,
    1lh 1lh,
    1lh 1lh;
  background-position:
    calc(var(--bar-height) / 2) 0%,
    calc(var(--bar-height) / 2) calc(var(--bar-height) * 1.5),
    calc(var(--bar-height) / 2) calc(var(--bar-height) * 3),
    0% 0%,
    100% 0%,
    0% calc(var(--bar-height) * 1.5),
    100% calc(var(--bar-height) * 1.5),
    0% calc(var(--bar-height) * 3),
    calc(75% + 0.5lh) calc(var(--bar-height) * 3);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, var(--gradient-1), 25%, var(--gradient-2), 75%, var(--gradient-3));
    translate: 100% 0;
    animation: shine-across 1s ease infinite;
  }
}
/* stylelint-enable plugin/use_theme_colors */

@keyframes shine-across {
  to {
    translate: -100% 0;
  }
}
