/*
 * Copyright 2025 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  --tooltip-viewport-distance: var(--sys-size-5);
  /* Reset the browser's default styles for [popover] elements. */
  margin: 0;
  background: none;
  border: none;
  padding: 0;
  overflow: visible;
  position-area: bottom;
  justify-self: anchor-center;
  position-try-fallbacks: flip-inline, flip-block, flip-inline flip-block;

  & .container {
    width: max-content;
    margin: var(--sys-size-2);
    color: var(--sys-color-inverse-on-surface);
    background-color: var(--sys-color-inverse-surface);
    box-shadow: var(--sys-elevation-level2);
    border-radius: var(--sys-shape-corner-extra-small);
    padding: var(--sys-size-4) var(--sys-size-5);
  }
}

:host([variant="rich"]) {
  justify-self: unset;
  margin: 0 var(--tooltip-viewport-distance) var(--tooltip-viewport-distance) 0;
  position-area: bottom span-right;
  position-try-fallbacks: --bottom-left, --top-right, --top-left;

  & .container {
    margin-inline: 0;
    margin-block: var(--sys-size-3);
    color: var(--sys-color-on-surface);
    background-color: var(--sys-color-base-container-elevated);
    border-radius: var(--sys-shape-corner-small);
    padding: var(--sys-size-6) var(--sys-size-8);
  }
}

@position-try --bottom-left {
  position-area: bottom span-left;
  margin: 0 0 var(--tooltip-viewport-distance) var(--tooltip-viewport-distance);
}

@position-try --top-right {
  position-area: top span-right;
  margin: var(--tooltip-viewport-distance) var(--tooltip-viewport-distance) 0 0;
}

@position-try --top-left {
  position-area: top span-left;
  margin: var(--tooltip-viewport-distance) 0 0 var(--tooltip-viewport-distance);
}
