:root {
  --border-radius: 4px;
}

.source-order-label-container {
  display: block;
  min-width: 20px;
  position: absolute;
  text-align: center;
  align-items: center;
  background-color: white;
  font-family: Menlo, Consolas, monospace;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
  border: 1.5px solid;
}

.top-corner {
  border-bottom-right-radius: var(--border-radius);
}

.bottom-corner {
  border-top-right-radius: var(--border-radius);
}

.above-element {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.below-element {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.above-element-wider {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.below-element-wider {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.bottom-corner-wider {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.bottom-corner-taller {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.bottom-corner-wider-taller {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
