/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
:root {
  --icon-action: var(--color-primary-bright);
  --icon-arrow-main-thread: var(--color-primary-bright);
  --icon-checkmark-green: var(--color-tertiary-bright);
  --icon-checkmark-purple: var(--color-purple-bright);
  --icon-checkmark-red: var(--color-error-bright);
  --icon-contrast-issue: var(--color-error-bright);
  --icon-default: var(--sys-color-on-surface-subtle);
  --icon-default-hover: var(--color-on-surface);
  --icon-disabled: color-mix(in sRGB, var(--color-on-surface-variant) 55%, transparent);
  --icon-error: var(--color-error-bright);
  --icon-file-authored: var(--color-orange-bright);
  --icon-file-default: var(--color-on-surface-variant);
  --icon-file-document: var(--color-primary-bright);
  --icon-file-font: var(--color-turqoise-bright);
  --icon-file-image: var(--color-tertiary-bright);
  --icon-file-script: var(--color-orange-bright);
  --icon-file-styles: var(--color-purple-bright);
  --icon-fold-marker: var(--color-on-surface-variant);
  --icon-folder-authored: var(--color-orange);
  --icon-folder-primary: var(--color-on-surface-variant);
  --icon-folder-deployed: var(--color-primary-bright);
  --icon-folder-workspace: var(--color-orange);
  --icon-force-white: var(--color-on-primary);
  --icon-gap-default: var(--color-background);
  --icon-gap-force-white: var(--legacy-selection-bg-color);
  --icon-gap-inactive: var(--legacy-selection-inactive-bg-color);
  --icon-gap-toolbar: var(--color-background-elevation-1);
  --icon-gap-toolbar-hover: var(--color-background-elevation-2);
  --icon-info: var(--color-primary-bright);
  --icon-link: var(--color-primary-bright);
  --icon-no-request: var(--color-orange-bright);
  --icon-primary: var(--color-primary-bright);
  --icon-record: var(--color-error-bright);
  --icon-request-response: var(--color-primary-bright);
  --icon-request: var(--color-on-surface-variant);
  --icon-security-lock: var(--color-tertiary-bright);
  --icon-css: var(--sys-color-purple-bright);
  --icon-css-hover: var(--sys-color-purple);
  --icon-status-code-ok: var(--color-tertiary-bright);
  --icon-stop: var(--color-error-bright);
  --icon-toggled: var(--color-primary-bright);
  --icon-warning: var(--color-orange-bright);
  --ui-text: var(--sys-color-on-surface-subtle);
  --text-disabled: var(--ref-palette-neutral60);
  --text-primary: var(--sys-color-on-surface);
  --text-secondary: var(--sys-color-token-subtle);
  --text-link: var(--sys-color-primary);
  --text-selection: var(--sys-color-state-ripple-primary);
  --color-grid-stripe: var(--sys-color-surface1);
  --color-grid-default: var(--sys-color-surface);
}
