/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
:root {
  --icon-action: var(--sys-color-primary-bright);
  --icon-arrow-main-thread: var(--sys-color-primary-bright);
  --icon-checkmark-green: var(--sys-color-green-bright);
  --icon-checkmark-purple: var(--sys-color-purple-bright);
  --icon-checkmark-red: var(--sys-color-error-bright);
  --icon-contrast-issue: var(--sys-color-error-bright);
  --icon-default: var(--sys-color-on-surface-subtle);
  --icon-default-hover: var(--sys-color-on-surface);
  --icon-disabled: var(--sys-color-state-disabled);
  --icon-error: var(--sys-color-error-bright);
  --icon-file-authored: var(--sys-color-orange-bright);
  --icon-file-default: var(--sys-color-on-surface-subtle);
  --icon-file-document: var(--sys-color-blue-bright);
  --icon-file-font: var(--sys-color-cyan-bright);
  --icon-file-media: var(--sys-color-green-bright);
  --icon-file-image: var(--sys-color-green-bright);
  --icon-file-script: var(--sys-color-orange-bright);
  --icon-file-styles: var(--sys-color-purple-bright);
  --icon-fold-marker: var(--sys-color-on-surface-subtle);
  --icon-folder-authored: var(--sys-color-orange);
  --icon-folder-primary: var(--sys-color-on-surface-subtle);
  --icon-folder-deployed: var(--sys-color-primary-bright);
  --icon-folder-workspace: var(--sys-color-orange);
  --icon-force-white: var(--sys-color-on-tonal-container);
  --icon-gap-focus-selected: var(--sys-color-tonal-container);
  --icon-gap-default: var(--sys-color-cdt-base-container);
  --icon-gap-inactive: var(--sys-color-neutral-container);
  --icon-gap-hover: var(--sys-color-state-hover-on-subtle);
  --icon-gap-toolbar: var(--sys-color-surface1);
  --icon-gap-toolbar-hover: var(--sys-color-state-header-hover);
  --icon-info: var(--sys-color-primary-bright);
  --icon-link: var(--sys-color-primary-bright);
  --icon-no-request: var(--sys-color-orange-bright);
  --icon-primary: var(--sys-color-primary-bright);
  --icon-record: var(--sys-color-error-bright);
  --icon-request-response: var(--sys-color-primary-bright);
  --icon-request: var(--sys-color-on-surface-subtle);
  --icon-security-lock: var(--sys-color-green-bright);
  --icon-css: var(--sys-color-purple-bright);
  --icon-css-hover: var(--sys-color-purple);
  --icon-status-code-ok: var(--sys-color-tertiary-bright);
  --icon-stop: var(--sys-color-error-bright);
  --icon-toggled: var(--sys-color-primary-bright);
  --icon-warning: var(--sys-color-orange-bright);
  --ui-text: var(--sys-color-on-surface-subtle);
  --text-disabled: var(--ref-palette-neutral60);
  --text-primary: var(--sys-color-on-surface);
  --text-secondary: var(--sys-color-token-subtle);
  --text-link: var(--sys-color-primary);
  --color-grid-stripe: var(--sys-color-surface1);
  --color-grid-default: var(--sys-color-surface);
  --color-grid-focus-selected: var(--sys-color-tonal-container);
  --color-grid-selected: var(--sys-color-surface-variant);
  --color-grid-hovered: var(--sys-color-state-hover-on-subtle);
}
