/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
:root {
  --icon-arrow-main-thread: var(--color-primary);
  --icon-checkmark-green: var(--color-tertriary);
  --icon-checkmark-purple: var(--color-purple);
  --icon-checkmark-red: var(--color-error);
  --icon-contrast-issue: var(--color-error);
  --icon-default: var(--color-on-surface-variant);
  --icon-default-hover: var(--color-on-surface);
  --icon-error: var(--color-error-bright);
  --icon-error-small: var(--color-error);
  --icon-file-authored: var(--color-orange-bright);
  --icon-file-image: var(--color-tertriary-bright);
  --icon-file-image-small: var(--color-tertriary);
  --icon-file-script: var(--color-orange-bright);
  --icon-file-styles: var(--color-purple-bright);
  --icon-file-styles-small: var(--color-purple);
  --icon-folder-authored: var(--color-orange-bright);
  --icon-folder-deployed: var(--color-primary-bright);
  --icon-folder-workspace: var(--color-orange-bright);
  --icon-info: var(--color-primary-bright);
  --icon-info-small: var(--color-primary);
  --icon-link: var(--color-primary);
  --icon-record: var(--color-error-bright);
  --icon-request-response: var(--color-primary);
  --icon-security-lock: var(--color-tertriary);
  --icon-status-code-ok: var(--color-tertriary);
  --icon-stop: var(--color-error);
  --icon-warning: var(--color-orange-bright);
}
