/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:root {
  --ref-typeface-weight-regular: 400;
  --ref-typeface-weight-medium: 500;
  --ref-typeface-weight-bold: 700;
  --sys-elevation-level1: 0 1px 2px 0 rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%);
  --sys-elevation-level2: 0 1px 2px 0 rgb(0 0 0 / 30%), 0 2px 6px 2px rgb(0 0 0 / 15%);
  --sys-elevation-level3: 0 4px 8px 3px rgb(0 0 0 / 15%), 0 1px 3px 0 rgb(0 0 0 / 30%);
  --sys-elevation-level4: 0 6px 10px 4px rgb(0 0 0 / 15%), 0 2px 3px 0 rgb(0 0 0 / 30%);
  --sys-elevation-level5: 0 8px 12px 6px rgb(0 0 0 / 15%), 0 4px 4px 0 rgb(0 0 0 / 30%);
  --sys-size-1: 1px;
  --sys-size-2: 0.125rem;
  --sys-size-3: 0.25rem;
  --sys-size-4: 0.375rem;
  --sys-size-5: 0.5rem;
  --sys-size-6: 0.75rem;
  --sys-size-7: 0.875rem;
  --sys-size-8: 1rem;
  --sys-size-9: 1.25rem;
  --sys-size-10: 1.375rem;
  --sys-size-11: 1.5rem;
  --sys-size-12: 1.75rem;
  --sys-size-13: 2rem;
  --sys-size-14: 2.5rem;
  --sys-size-15: 2.75rem;
  --sys-size-16: 3rem;
  --sys-size-17: 3.5rem;
  --sys-size-18: 4rem;
  --sys-size-19: 6rem;
  --sys-size-20: 7rem;
  --sys-size-21: 8rem;
  --sys-size-22: 9rem;
  --sys-size-23: 10rem;
  --sys-size-24: 11rem;
  --sys-size-25: 12rem;
  --sys-size-26: 13rem;
  --sys-size-27: 14rem;
  --sys-size-28: 15rem;
  --sys-size-29: 16rem;
  --sys-size-30: 18rem;
  --sys-size-31: 20rem;
  --sys-size-32: 24rem;
  --sys-size-33: 28rem;
  --sys-size-34: 32rem;
  --sys-size-35: 36rem;
  --sys-size-36: 42rem;
  --sys-size-37: 48rem;
  --sys-size-38: 56rem;
  --sys-size-39: 64rem;
  --sys-size-40: 72rem;
  --sys-size-41: 80rem;
  --sys-shape-corner-extra-small: 4px;
  --sys-shape-corner-small: 8px;
  --sys-shape-corner-medium-small: 12px;
  --sys-shape-corner-medium: 16px;
  --sys-shape-corner-large: 24px;
  --sys-shape-corner-full: 9999px;

  /* weight size/line-height */
  --sys-typescale-body1-medium: var(--ref-typeface-weight-medium) var(--sys-typescale-body1-size)/var(--sys-typescale-body1-line-height) var(--default-font-family);
  --sys-typescale-body2-medium: var(--ref-typeface-weight-medium) var(--sys-typescale-body2-size)/var(--sys-typescale-body2-line-height) var(--default-font-family);
  --sys-typescale-body3-medium: var(--ref-typeface-weight-medium) var(--sys-typescale-body3-size)/var(--sys-typescale-body3-line-height) var(--default-font-family);
  --sys-typescale-body4-medium: var(--ref-typeface-weight-medium) var(--sys-typescale-body4-size)/var(--sys-typescale-body4-line-height) var(--default-font-family);
  --sys-typescale-body5-medium: var(--ref-typeface-weight-medium) var(--sys-typescale-body5-size)/var(--sys-typescale-body5-line-height) var(--default-font-family);
  --sys-typescale-headline1-size: 24px;
  --sys-typescale-headline2-size: 20px;
  --sys-typescale-headline3-size: 18px;
  --sys-typescale-headline4-size: 16px;
  --sys-typescale-headline5-size: 14px;
  --sys-typescale-body1-size: 16px;
  --sys-typescale-body2-size: 14px;
  --sys-typescale-body3-size: 13px;
  --sys-typescale-body4-size: 12px;
  --sys-typescale-body5-size: 11px;
  --sys-typescale-headline1-line-height: 32px;
  --sys-typescale-headline2-line-height: 24px;
  --sys-typescale-headline3-line-height: 24px;
  --sys-typescale-headline4-line-height: 24px;
  --sys-typescale-headline5-line-height: 20px;
  --sys-typescale-body1-line-height: 24px;
  --sys-typescale-body2-line-height: 20px;
  --sys-typescale-body3-line-height: 20px;
  --sys-typescale-body4-line-height: 16px;
  --sys-typescale-body5-line-height: 16px;
}
