/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:root {
  --ref-typeface-weight-regular: 400;
  --ref-typeface-weight-medium: 500;
  --ref-typeface-weight-bold: 700;
  --sys-size-1: 1px;
  --sys-size-2: 0.125rem;
  --sys-size-3: 0.25rem;
  --sys-size-4: 0.375rem;
  --sys-size-5: 0.5rem;
  --sys-size-6: 0.75rem;
  --sys-size-7: 0.875rem;
  --sys-size-8: 1rem;
  --sys-size-9: 1.25rem;
  --sys-size-10: 1.375rem;
  --sys-size-11: 1.5rem;
  --sys-size-12: 1.75rem;
  --sys-size-13: 2rem;
  --sys-size-14: 2.5rem;
  --sys-shape-corner-extra-small: 4px;
  --sys-shape-corner-small: 8px;
  --sys-shape-corner-medium-small: 12px;
  --sys-shape-corner-medium: 16px;
  --sys-shape-corner-large: 24px;
  --sys-shape-corner-full: 9999px;

  /* weight size/line-height */
  --sys-typescale-body1-medium: var(--ref-typeface-weight-medium) var(--sys-typescale-body1-size)/var(--sys-typescale-body1-line-height);
  --sys-typescale-body2-medium: var(--ref-typeface-weight-medium) var(--sys-typescale-body2-size)/var(--sys-typescale-body2-line-height);
  --sys-typescale-body3-medium: var(--ref-typeface-weight-medium) var(--sys-typescale-body3-size)/var(--sys-typescale-body3-line-height);
  --sys-typescale-body4-medium: var(--ref-typeface-weight-medium) var(--sys-typescale-body4-size)/var(--sys-typescale-body4-line-height);
  --sys-typescale-body5-medium: var(--ref-typeface-weight-medium) var(--sys-typescale-body5-size)/var(--sys-typescale-body5-line-height);
  --sys-typescale-headline1-size: 24px;
  --sys-typescale-headline2-size: 20px;
  --sys-typescale-headline3-size: 18px;
  --sys-typescale-headline4-size: 16px;
  --sys-typescale-headline5-size: 14px;
  --sys-typescale-body1-size: 16px;
  --sys-typescale-body2-size: 14px;
  --sys-typescale-body3-size: 13px;
  --sys-typescale-body4-size: 12px;
  --sys-typescale-body5-size: 11px;
  --sys-typescale-headline1-line-height: 32px;
  --sys-typescale-headline2-line-height: 24px;
  --sys-typescale-headline3-line-height: 24px;
  --sys-typescale-headline4-line-height: 24px;
  --sys-typescale-headline5-line-height: 20px;
  --sys-typescale-body1-line-height: 24px;
  --sys-typescale-body2-line-height: 20px;
  --sys-typescale-body3-line-height: 20px;
  --sys-typescale-body4-line-height: 16px;
  --sys-typescale-body5-line-height: 16px;
}
