/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.infobar {
  color: var(--sys-color-on-surface);
  display: flex;
  flex: auto;
  flex-direction: column;
  position: relative;
  padding: 6px;
  min-width: fit-content;
}

.infobar:focus {
  outline: 2px solid var(--sys-color-state-focus-ring);
  outline-offset: -2px;
}

.infobar-warning {
  background-color: var(--sys-color-surface-yellow);
  color: var(--sys-color-on-surface-yellow);
}

.infobar-error {
  --override-infobar-error-background: var(--sys-color-surface-error);
  --override-infobar-error-text: var(--sys-color-on-surface-error);

  background-color: var(--override-infobar-error-background);
  color: var(--override-infobar-error-text);
}

.infobar-main-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 25px;
}

.infobar-info-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.infobar-info-message {
  display: flex;
  margin: 5px 0;
}

.infobar-info-text {
  display: flex;
  align-items: center;
  margin: 0 4px;
}

.infobar-details-rows {
  padding: 5px 5px 0;
}

.infobar-details-row {
  display: flex;
  flex-direction: column;
  line-height: 18px;
  padding-bottom: 6px;
}

.infobar-close-container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.infobar-close-container > .infobar-button.link-style {
  margin: 4px;
}

.infobar-selectable {
  user-select: text;
}

.infobar-button {
  color: var(--sys-color-token-subtle);
  padding: 0 4px;
}

.info-icon {
  mask-image: var(--image-file-info);
  background-color: var(--icon-info);
}

.warning-icon {
  mask-image: var(--image-file-warning);
  background-color: var(--icon-warning);
}

.error-icon {
  mask-image: var(--image-file-cross-circle);
  background-color: var(--icon-error);
}

.issue-icon {
  mask-image: var(--image-file-issue-text-filled);
  background-color: var(--icon-info);
}

.icon {
  mask-size: 20px 20px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.devtools-link.text-button:hover,
.devtools-link.text-button:focus,
.devtools-link.text-button:active {
  background-color: transparent;
  box-shadow: none;
}
