/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
:host {
  transition: all var(--sys-motion-duration-long2);
  transition-timing-function: var(--sys-motion-curve-spatial);
}

@starting-style {
  :host {
    height: 0;
    opacity: 0%;
  }
}

.infobar {
  color: var(--sys-color-on-surface);
  background-color: var(--sys-color-cdt-base-container);
  display: flex;
  flex: auto;
  flex-direction: column;
  position: relative;
  padding: var(--sys-size-5) var(--sys-size-8);
  min-width: fit-content;
}

.infobar:focus {
  outline: 2px solid var(--sys-color-state-focus-ring);
  outline-offset: -2px;
}

.infobar-warning {
  background-color: var(--sys-color-surface-yellow);
  color: var(--sys-color-on-surface-yellow);
}

.infobar-error {
  --override-infobar-error-background: var(--sys-color-surface-error);
  --override-infobar-error-text: var(--sys-color-on-surface-error);

  background-color: var(--override-infobar-error-background);
  color: var(--override-infobar-error-text);
}

.infobar-main-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 25px;
}

.infobar-info-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.infobar-info-message {
  display: flex;
  align-items: center;
}

.infobar-info-text {
  display: flex;
  align-items: center;
  font: var(--sys-typescale-body3-regular);
  margin: 0 var(--sys-size-8);
}

.infobar-details-rows {
  padding: 5px 5px 0;
}

.infobar-details-row {
  display: flex;
  flex-direction: column;
  line-height: 18px;
  padding-bottom: 6px;
}

.infobar-close-container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.infobar-close-container > .infobar-button.link-style {
  margin: 4px;
}

.infobar-selectable {
  user-select: text;
}

.infobar-button {
  color: var(--sys-color-token-subtle);
}

.info-icon {
  color: var(--sys-color-primary);
}

.warning-icon {
  color: var(--icon-warning);
}

.error-icon {
  color: var(--icon-error);
}

.issue-icon {
  color: var(--sys-color-primary);
}

.info-icon,
.warning-icon,
.error-icon,
.issue-icon {
  width: var(--sys-size-8);
  height: var(--sys-size-8);
  flex-shrink: 0;
}

.infobar-info-actions {
  display: flex;
  gap: var(--sys-size-3);
}

.devtools-link.text-button:hover,
.devtools-link.text-button:focus,
.devtools-link.text-button:active {
  background-color: transparent;
  box-shadow: none;
}
