/*
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

button.soft-dropdown {
  height: var(--sys-size-9);
  text-align: left;
  position: relative;
  border: none;
  background: none;
  max-width: 120px;

  devtools-icon {
    top: 1px;
  }
}

button.soft-dropdown[disabled] {
  background: var(--sys-color-state-disabled-container);
  color: var(--sys-color-state-disabled);
}

button.soft-dropdown > .title {
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

button.soft-dropdown:hover:not(:active) > .title {
  color: var(--sys-color-on-surface);
}

@media (forced-colors: active) {
  button.soft-dropdown {
    border: 1px solid ButtonText;
    background: ButtonFace;
    color: ButtonText;
  }

  button.soft-dropdown[disabled] {
    opacity: 100%;
  }
}
