/*
 * Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.shadow-split-widget {
  display: flex;
  overflow: hidden;
}

.shadow-split-widget-contents {
  display: flex;
  position: relative;
  flex-direction: column;
  contain: layout size style;
}

.shadow-split-widget-sidebar {
  flex: none;
}

.shadow-split-widget-main,
.shadow-split-widget-sidebar.maximized {
  flex: auto;
}

.shadow-split-widget.hbox > .shadow-split-widget-resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--sys-size-4);
  z-index: 4000;
}

.shadow-split-widget.vbox > .shadow-split-widget-resizer {
  position: absolute;
  left: 0;
  right: 0;
  height: var(--sys-size-4);
  z-index: 4000;
}

.shadow-split-widget.vbox > .shadow-split-widget-sidebar.no-default-splitter {
  border: 0 !important; /* stylelint-disable-line declaration-no-important */
}

.shadow-split-widget.vbox > .shadow-split-widget-sidebar:not(.maximized) {
  border: 0;
  border-top: var(--sys-size-1) solid var(--sys-color-divider);
}

.shadow-split-widget.hbox > .shadow-split-widget-sidebar:not(.maximized) {
  border: 0;
  border-left: var(--sys-size-1) solid var(--sys-color-divider);
}

.shadow-split-widget.vbox > .shadow-split-widget-sidebar:first-child:not(.maximized) {
  border: 0;
  border-bottom: var(--sys-size-1) solid var(--sys-color-divider);
}

.shadow-split-widget.hbox > .shadow-split-widget-sidebar:first-child:not(.maximized) {
  border: 0;
  border-right: var(--sys-size-1) solid var(--sys-color-divider);
}

:host-context(.disable-resizer-for-elements-hack) .shadow-split-widget-resizer {
  pointer-events: none;
}

:host {
  display: flex;
}
