/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* Ref tokens */

:root {
  --ref-palette-primary0: var(--color-ref-primary0, rgb(0 0 0 / 100%));
  --ref-palette-primary10: var(--color-ref-primary10, rgb(4 30 73 / 100%));
  --ref-palette-primary20: var(--color-ref-primary20, rgb(6 46 111 / 100%));
  --ref-palette-primary30: var(--color-ref-primary30, rgb(8 66 160 / 100%));
  --ref-palette-primary40: var(--color-ref-primary40, rgb(11 87 208 / 100%));
  --ref-palette-primary50: var(--color-ref-primary50, rgb(27 110 243 / 100%));
  --ref-palette-primary60: var(--color-ref-primary60, rgb(76 141 246 / 100%));
  --ref-palette-primary70: var(--color-ref-primary70, rgb(124 172 248 / 100%));
  --ref-palette-primary80: var(--color-ref-primary80, rgb(168 199 250 / 100%));
  --ref-palette-primary90: var(--color-ref-primary90, rgb(211 227 253 / 100%));
  --ref-palette-primary95: var(--color-ref-primary95, rgb(236 243 254 / 100%));
  --ref-palette-primary99: var(--color-ref-primary99, rgb(250 251 255 / 100%));
  --ref-palette-primary100: var(--color-ref-primary100, rgb(255 255 255 / 100%));
  --ref-palette-secondary0: var(--color-ref-secondary0, rgb(0 0 0 / 100%));
  --ref-palette-secondary10: var(--color-ref-secondary10, rgb(0 29 53 / 100%));
  --ref-palette-secondary15: var(--color-ref-secondary15, rgb(0 40 69 / 100%));
  --ref-palette-secondary20: var(--color-ref-secondary20, rgb(0 51 85 / 100%));
  --ref-palette-secondary25: var(--color-ref-secondary25, rgb(0 63 102 / 100%));
  --ref-palette-secondary30: var(--color-ref-secondary30, rgb(0 74 119 / 100%));
  --ref-palette-secondary35: var(--color-ref-secondary35, rgb(0 87 137 / 100%));
  --ref-palette-secondary40: var(--color-ref-secondary40, rgb(0 99 155 / 100%));
  --ref-palette-secondary50: var(--color-ref-secondary50, rgb(4 125 183 / 100%));
  --ref-palette-secondary60: var(--color-ref-secondary60, rgb(57 152 211 / 100%));
  --ref-palette-secondary70: var(--color-ref-secondary70, rgb(90 179 240 / 100%));
  --ref-palette-secondary80: var(--color-ref-secondary80, rgb(127 207 255 / 100%));
  --ref-palette-secondary90: var(--color-ref-secondary90, rgb(223 243 255 / 100%));
  --ref-palette-secondary95: var(--color-ref-secondary95, rgb(223 243 255 / 100%));
  --ref-palette-secondary99: var(--color-ref-secondary99, rgb(247 252 255 / 100%));
  --ref-palette-secondary100: var(--color-ref-secondary100, rgb(255 255 255 / 100%));
  --ref-palette-tertiary0: var(--color-ref-tertiary0, rgb(0 0 0 / 100%));
  --ref-palette-tertiary10: var(--color-ref-tertiary10, rgb(7 39 17 / 100%));
  --ref-palette-tertiary20: var(--color-ref-tertiary20, rgb(10 56 24 / 100%));
  --ref-palette-tertiary30: var(--color-ref-tertiary30, rgb(15 82 35 / 100%));
  --ref-palette-tertiary40: var(--color-ref-tertiary40, rgb(20 108 46 / 100%));
  --ref-palette-tertiary50: var(--color-ref-tertiary50, rgb(25 134 57 / 100%));
  --ref-palette-tertiary60: var(--color-ref-tertiary60, rgb(30 164 70 / 100%));
  --ref-palette-tertiary70: var(--color-ref-tertiary70, rgb(55 190 95 / 100%));
  --ref-palette-tertiary80: var(--color-ref-tertiary80, rgb(109 213 140 / 100%));
  --ref-palette-tertiary90: var(--color-ref-tertiary90, rgb(196 238 208 / 100%));
  --ref-palette-tertiary95: var(--color-ref-tertiary95, rgb(231 248 237 / 100%));
  --ref-palette-tertiary99: var(--color-ref-tertiary99, rgb(242 255 238 / 100%));
  --ref-palette-tertiary100: var(--color-ref-tertiary100, rgb(255 255 255 / 100%));
  --ref-palette-error0: var(--color-ref-error0, rgb(0 0 0 / 100%));
  --ref-palette-error10: var(--color-ref-error10, rgb(65 14 11 / 100%));
  --ref-palette-error20: var(--color-ref-error20, rgb(96 20 16 / 100%));
  --ref-palette-error30: var(--color-ref-error30, rgb(140 29 24 / 100%));
  --ref-palette-error40: var(--color-ref-error40, rgb(179 38 30 / 100%));
  --ref-palette-error50: var(--color-ref-error50, rgb(220 54 46 / 100%));
  --ref-palette-error60: var(--color-ref-error60, rgb(228 105 98 / 100%));
  --ref-palette-error70: var(--color-ref-error70, rgb(236 146 142 / 100%));
  --ref-palette-error80: var(--color-ref-error80, rgb(242 184 181 / 100%));
  --ref-palette-error90: var(--color-ref-error90, rgb(249 222 220 / 100%));
  --ref-palette-error95: var(--color-ref-error95, rgb(231 248 237 / 100%));
  --ref-palette-error99: var(--color-ref-error99, rgb(242 255 238 / 100%));
  --ref-palette-error100: var(--color-ref-error100, rgb(255 255 255 / 100%));
  --ref-palette-neutral0: var(--color-ref-neutral0, rgb(0 0 0 / 100%));
  --ref-palette-neutral10: var(--color-ref-neutral10, rgb(31 31 31 / 100%));
  --ref-palette-neutral15: var(--color-ref-neutral15, rgb(40 40 40 / 100%));
  --ref-palette-neutral20: var(--color-ref-neutral20, rgb(48 48 48 / 100%));
  --ref-palette-neutral25: var(--color-ref-neutral25, rgb(60 60 60 / 100%));
  --ref-palette-neutral30: var(--color-ref-neutral30, rgb(71 71 71 / 100%));
  --ref-palette-neutral40: var(--color-ref-neutral40, rgb(94 94 94 / 100%));
  --ref-palette-neutral50: var(--color-ref-neutral50, rgb(117 117 117 / 100%));
  --ref-palette-neutral60: var(--color-ref-neutral60, rgb(143 143 143 / 100%));
  --ref-palette-neutral70: var(--color-ref-neutral70, rgb(171 171 171 / 100%));
  --ref-palette-neutral80: var(--color-ref-neutral80, rgb(199 199 199 / 100%));
  --ref-palette-neutral90: var(--color-ref-neutral90, rgb(227 227 227 / 100%));
  --ref-palette-neutral94: var(--color-ref-neutral94, rgb(239 237 237 / 100%));
  --ref-palette-neutral95: var(--color-ref-neutral95, rgb(242 242 242 / 100%));
  --ref-palette-neutral98: var(--color-ref-neutral98, rgb(250 249 248 / 100%));
  --ref-palette-neutral99: var(--color-ref-neutral99, rgb(253 252 251 / 100%));
  --ref-palette-neutral100: var(--color-ref-neutral100, rgb(255 255 255 / 100%));
  --ref-palette-neutral-variant0: var(--color-ref-neutral-variant0, rgb(0 0 0 / 100%));
  --ref-palette-neutral-variant10: var(--color-ref-neutral-variant10, rgb(25 29 28 / 100%));
  --ref-palette-neutral-variant20: var(--color-ref-neutral-variant20, rgb(45 49 47 / 100%));
  --ref-palette-neutral-variant30: var(--color-ref-neutral-variant30, rgb(68 71 70 / 100%));
  --ref-palette-neutral-variant40: var(--color-ref-neutral-variant40, rgb(92 95 94 / 100%));
  --ref-palette-neutral-variant50: var(--color-ref-neutral-variant50, rgb(116 119 117 / 100%));
  --ref-palette-neutral-variant60: var(--color-ref-neutral-variant60, rgb(142 145 143 / 100%));
  --ref-palette-neutral-variant70: var(--color-ref-neutral-variant70, rgb(169 172 170 / 100%));
  --ref-palette-neutral-variant80: var(--color-ref-neutral-variant80, rgb(196 199 197 / 100%));
  --ref-palette-neutral-variant90: var(--color-ref-neutral-variant90, rgb(225 227 225 / 100%));
  --ref-palette-neutral-variant95: var(--color-ref-neutral-variant95, rgb(239 242 239 / 100%));
  --ref-palette-neutral-variant99: var(--color-ref-neutral-variant99, rgb(250 253 251 / 100%));
  --ref-palette-neutral-variant100: var(--color-ref-neutral-variant100, rgb(255 255 255 / 100%));

  /* Additional fixed colors */
  --ref-palette-blue0: rgb(0 0 0 / 100%);
  --ref-palette-blue10: rgb(4 30 73 / 100%);
  --ref-palette-blue20: rgb(6 46 111 / 100%);
  --ref-palette-blue30: rgb(8 66 160 / 100%);
  --ref-palette-blue40: rgb(11 87 208 / 100%);
  --ref-palette-blue50: rgb(27 110 243 / 100%);
  --ref-palette-blue60: rgb(76 141 246 / 100%);
  --ref-palette-blue70: rgb(124 172 248 / 100%);
  --ref-palette-blue80: rgb(168 199 250 / 100%);
  --ref-palette-blue90: rgb(211 227 253 / 100%);
  --ref-palette-blue95: rgb(236 243 254 / 100%);
  --ref-palette-blue99: rgb(250 251 255 / 100%);
  --ref-palette-blue100: rgb(255 255 255 / 100%);
  --ref-palette-green0: rgb(0 0 0 / 100%);
  --ref-palette-green10: rgb(7 39 17 / 100%);
  --ref-palette-green20: rgb(10 56 24 / 100%);
  --ref-palette-green30: rgb(15 82 35 / 100%);
  --ref-palette-green40: rgb(20 108 46 / 100%);
  --ref-palette-green50: rgb(25 134 57 / 100%);
  --ref-palette-green60: rgb(30 164 70 / 100%);
  --ref-palette-green70: rgb(55 190 95 / 100%);
  --ref-palette-green80: rgb(109 213 140 / 100%);
  --ref-palette-green90: rgb(196 238 208 / 100%);
  --ref-palette-green95: rgb(231 248 237 / 100%);
  --ref-palette-green99: rgb(242 255 238 / 100%);
  --ref-palette-green100: rgb(255 255 255 / 100%);
  --ref-palette-orange0: rgb(0 0 0 / 100%);
  --ref-palette-orange10: rgb(53 16 2 / 100%);
  --ref-palette-orange20: rgb(85 32 5 / 100%);
  --ref-palette-orange30: rgb(121 50 11 / 100%);
  --ref-palette-orange40: rgb(159 67 18 / 100%);
  --ref-palette-orange50: rgb(198 85 26 / 100%);
  --ref-palette-orange60: rgb(232 110 48 / 100%);
  --ref-palette-orange70: rgb(254 141 89 / 100%);
  --ref-palette-orange80: rgb(254 183 150 / 100%);
  --ref-palette-orange90: rgb(255 220 204 / 100%);
  --ref-palette-orange95: rgb(255 236 230 / 100%);
  --ref-palette-orange99: rgb(255 251 255 / 100%);
  --ref-palette-orange100: rgb(255 255 255 / 100%);
  --ref-palette-yellow0: rgb(0 0 0 / 100%);
  --ref-palette-yellow10: rgb(36 26 0 / 100%);
  --ref-palette-yellow20: rgb(62 47 0 / 100%);
  --ref-palette-yellow30: rgb(92 67 0 / 100%);
  --ref-palette-yellow40: rgb(151 103 0 / 100%);
  --ref-palette-yellow50: rgb(202 138 4 / 100%);
  --ref-palette-yellow60: rgb(234 179 8 / 100%);
  --ref-palette-yellow70: rgb(250 204 21 / 100%);
  --ref-palette-yellow80: rgb(253 224 71 / 100%);
  --ref-palette-yellow90: rgb(253 243 170 / 100%);
  --ref-palette-yellow95: rgb(252 248 210 / 100%);
  --ref-palette-yellow99: rgb(255 251 235 / 100%);
  --ref-palette-yellow100: rgb(255 255 255 / 100%);
  --ref-palette-cyan0: rgb(0 0 0 / 100%);
  --ref-palette-cyan10: rgb(0 31 40 / 100%);
  --ref-palette-cyan20: rgb(0 53 67 / 100%);
  --ref-palette-cyan30: rgb(0 78 96 / 100%);
  --ref-palette-cyan40: rgb(0 103 127 / 100%);
  --ref-palette-cyan50: rgb(0 130 159 / 100%);
  --ref-palette-cyan60: rgb(0 157 193 / 100%);
  --ref-palette-cyan70: rgb(56 185 222 / 100%);
  --ref-palette-cyan80: rgb(92 213 251 / 100%);
  --ref-palette-cyan90: rgb(183 234 255 / 100%);
  --ref-palette-cyan95: rgb(221 245 255 / 100%);
  --ref-palette-cyan99: rgb(249 253 255 / 100%);
  --ref-palette-cyan100: rgb(255 255 255 / 100%);
  --ref-palette-purple0: rgb(0 0 0 / 100%);
  --ref-palette-purple10: rgb(47 0 77 / 100%);
  --ref-palette-purple20: rgb(77 0 122 / 100%);
  --ref-palette-purple30: rgb(110 0 171 / 100%);
  --ref-palette-purple40: rgb(140 30 211 / 100%);
  --ref-palette-purple50: rgb(167 67 238 / 100%);
  --ref-palette-purple60: rgb(191 103 255 / 100%);
  --ref-palette-purple70: rgb(209 144 255 / 100%);
  --ref-palette-purple80: rgb(226 182 255 / 100%);
  --ref-palette-purple90: rgb(243 218 255 / 100%);
  --ref-palette-purple95: rgb(251 236 255 / 100%);
  --ref-palette-purple99: rgb(255 251 255 / 100%);
  --ref-palette-purple100: rgb(255 255 255 / 100%);
  --ref-palette-pink0: rgb(0 0 0 / 100%);
  --ref-palette-pink10: rgb(62 0 29 / 100%);
  --ref-palette-pink20: rgb(101 0 51 / 100%);
  --ref-palette-pink30: rgb(142 0 75 / 100%);
  --ref-palette-pink40: rgb(185 0 99 / 100%);
  --ref-palette-pink50: rgb(223 35 125 / 100%);
  --ref-palette-pink60: rgb(255 72 150 / 100%);
  --ref-palette-pink70: rgb(255 132 175 / 100%);
  --ref-palette-pink80: rgb(255 177 200 / 100%);
  --ref-palette-pink90: rgb(255 217 226 / 100%);
  --ref-palette-pink95: rgb(255 236 240 / 100%);
  --ref-palette-pink99: rgb(255 251 255 / 100%);
  --ref-palette-pink100: rgb(255 255 255 / 100%);
}
