/*
 * Copyright 2019 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.panel.network .toolbar.binary-view-toolbar {
  border-top: 1px solid #ccc;
  border-bottom: 0px;
  padding-left: 5px;
}

.binary-view-copied-text {
  opacity: 1;
}

.binary-view-copied-text.fadeout {
  opacity: 0;
  transition: opacity 1s;
}
