/*
 * Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.tree-outline {
    padding-left: 0;
}

.tree-outline > ol {
    padding-bottom: 5px;
    border-bottom: solid 1px #e0e0e0;
}

.tree-outline > .parent {
    -webkit-user-select: none;
    font-weight: bold;
    color: #616161;
    margin-top: -1px;
    height: 20px;
    display: flex;
    align-items: center;
    height: 26px;
}

.tree-outline li {
    display: block;
    padding-left: 5px;
    line-height: 20px;
}

.tree-outline li:not(.parent) {
    margin-left: 10px;
}

.tree-outline li:not(.parent)::before {
    display: none;
}

.tree-outline .header-name {
    color: rgb(33%, 33%, 33%);
    display: inline-block;
    margin-right: 0.25em;
    font-weight: bold;
    vertical-align: top;
    white-space: pre-wrap;
}

.tree-outline .header-separator {
    user-select: none;
}

.tree-outline .header-value {
    display: inline;
    margin-right: 1em;
    white-space: pre-wrap;
    word-break: break-all;
    margin-top: 1px;
}

.tree-outline .error-log {
    color: red;
    display: inline-block;
    margin-right: 0.25em;
    margin-left: 0.25em;
    font-weight: bold;
    vertical-align: top;
    white-space: pre-wrap;
}
