/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  flex: auto;
  display: flex;
}

.value-interpreter {
  --override-text-highlight-color: #80868b;

  border: var(--legacy-divider-border);
  background-color: var(--color-background-elevation-1);
  overflow: hidden;
  width: 400px;
}

.settings-toolbar {
  min-height: 26px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  align-items: center;
}

.settings-toolbar-button {
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.settings-toolbar-button.active devtools-icon {
  --icon-color: var(--icon-toggled);
}

.divider {
  display: block;
  height: 1px;
  margin-bottom: 12px;
  background-color: var(--color-details-hairline, #d0d0d0); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}
