/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.excluded-folder-header {
  display: flex;
  flex-direction: column;
  min-height: var(--sys-size-16);
  border-bottom: var(--sys-size-1) solid var(--app-color-card-divider);
  padding: var(--sys-size-4) var(--sys-size-6);
  gap: var(--sys-size-4);

  & > .excluded-folder-url {
    color: var(--sys-color-on-surface-subtle);
    overflow-wrap: break-word;
  }
}

.exclude-subfolders-text,
.file-system-list-empty {
  padding: 0 var(--sys-size-6);
  height: var(--sys-size-13);
}

.exclude-subfolders-text {
  align-items: center;
  display: flex;
}

.add-button {
  padding: var(--sys-size-4) var(--sys-size-6);
  align-self: flex-start;
}

.file-system-list {
  flex: auto;
}

.file-system-list-empty {
  display: flex;
  align-items: center;
}

.file-system-list-item {
  height: var(--sys-size-13);
  display: flex;
  align-items: center;
  flex: auto 1 1;
}

.file-system-value {
  flex: 1 1 0;
}

.list {
  &:has(div) {
    border: none;
  }
}

.list-item {
  padding-left: var(--sys-size-11);

  &:not(:last-child) {
    .file-system-list-item {
      border-bottom: var(--sys-size-1) solid var(--app-color-card-divider);
    }
  }
}

.editor-buttons {
  padding: var(--sys-size-4) var(--sys-size-6);
}

.list-item .file-system-value {
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  overflow: hidden;
}

.file-system-edit-row {
  flex: none;
  display: flex;
  flex-direction: row;
  margin: var(--sys-size-4) var(--sys-size-6);
  align-items: center;
}

.file-system-edit-row input {
  width: 100%;
  text-align: inherit;
}
