/*
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.mappings-info,
.folder-exclude-pattern {
  height: var(--settings-single-item-height);
}

.mapping-view-container {
  padding-left: 0;
  padding-right: 0;
}

.folder-exclude-pattern {
  display: flex;
  align-items: center;

  & > input {
    flex: 1;
  }
}

label {
  padding-bottom: 0;
}

.mappings-info {
  border: none;
}

.add-button-container {
  max-width: var(--sys-size-35);
  margin-left: var(--sys-size-8);
  width: 100%;

  & .add-folder {
    min-width: var(--sys-size-31);
    max-width: var(--sys-size-35);
  }
}
