/*
 * Copyright 2022 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
    font-size: 12px;
    text-indent: 20px !important;
}

body .foo {
    text-indent: 10px;
}

#container {
    font-family: serif;
    font-size: 14px;
    color: red;
    padding: 2px !important;
}

#container .foo {
    font-style: italic !important;
}

.foo {
    display: list-item;
    color: black;
    margin-left: 1px;
    margin: 10px 0 2px;
    border-radius: 5px;
    font-style: normal !important;
    font-weight: normal !important;
    font-weight: bold;
    padding: 4px;
    padding-right: 1px;
    text-indent: 0 !important;
}

.foo, .foo::before {
    content: "[before Foo]";
    color: blue;
    display: block !important;
}

.foo::before {
    color: red;
}

.foo::after {
    content: "[after Foo]";
    color: green;
}
.foo::after {
    font-family: courier;
    content: "[after Foo 2]";
}

.foo::marker {
    content: "[marker Foo]";
    color: cyan;
}

.foo {
    /* Empty rule that should be reported in the Styles pane */
}

.foo::before {
    /* Empty rule that should be reported in the Styles pane */
}

html {
    color: magenta !important;
}
