// this file is also used by PRESUBMIT.py to tell clang-format
// to not check the format of files in here
// it will ignore any that contain a glob, so if you add a
// glob into this file it willl not mean that the
// clang-format check also ignores that file
front_end/.eslintrc.js
front_end/diff/diff_match_patch.js
front_end/generated/protocol.ts
front_end/javascript_metadata/NativeFunctions.js
front_end/third_party/
node_modules
scripts/migration/**/*.js
scripts/protocol_typescript/*.js
test/**/fixtures/
test/e2e/**/*.js
test/shared/**/*.js

*.d.ts
