// this file is also used by PRESUBMIT.py to tell clang-format
// to not check the format of files in here
// it will ignore any that contain a glob, so if you add a
// glob into this file it willl not mean that the
// clang-format check also ignores that file
front_end/.eslintrc.js
front_end/cm/
front_end/cm_headless/
front_end/cm_modes/
front_end/cm_web_modes/
front_end/diff/diff_match_patch.js
front_end/formatter_worker/acorn/
front_end/protocol_externs.js
front_end/javascript_metadata/NativeFunctions.js
front_end/sdk/wasm_source_map/pkg/wasm_source_map.js
front_end/third_party/
test/e2e/**/*.js
test/shared/**/*.js
test/unittests/scripts/component_bridges/gen/*
test/**/fixtures/
scripts/jsdoc_validator/tests/
scripts/protocol_typescript/*.js
scripts/migration/**/*.js
scripts/component_bridges/gen/*
node_modules
