.DS_Store
.git_cl_description_backup
.vscode
*.ctc.json
*.Makefile
*.mk
*.pyc
*.rules
*.sln
*.stamp
*.tmp
*.vcproj*
*.vcxproj*
*.xcodeproj*
/.dev_profile
/.test_cache
/front_end/protocol_externs.js
/release
/scripts/visualize_deps/out
config.gypi
/karma-coverage
/perf-data
npm-debug.log
/scripts/protocol_typescript/*.js

/build
/buildtools
/out
/third_party/*
!/third_party/emscripten-releases/
/third_party/emscripten-releases/*
!/third_party/emscripten-releases/.emscripten
!/third_party/blink
!/third_party/i18n
!/third_party/pyjson5
!/third_party/typescript

test/screenshots/.generated
test/perf/.generated


