.DS_Store
.git_cl_description_backup
.vscode
*.Makefile
*.mk
*.pyc
*.rules
*.sln
*.stamp
*.tmp
*.vcproj*
*.vcxproj*
*.xcodeproj*
/.dev_profile
/.test_cache
/front_end/*/jsconfig.json
/front_end/protocol_externs.js
/release
/scripts/visualize_deps/out
config.gypi
karma-coverage
npm-debug.log

# These are generated for build and would be put in the symlinked folder (thus this folder)
/front_end/InspectorBackendCommands.js
/front_end/SupportedCSSProperties.js
/front_end/accessibility/ARIAProperties.js

/build
/buildtools
/out
/third_party/*
!/third_party/axe-core
!/third_party/blink
!/third_party/pyjson5
!/third_party/typescript

test/e2e/**/*.js
