/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#container {
  padding: 6px 12px;
  border-bottom: 1px solid var(--sys-color-divider);
  align-items: center;
  display: flex;
}

#contents {
  margin-top: calc(-1 * var(--sys-size-6));
  padding: 0 var(--sys-size-8) var(--sys-size-2);
}

#contents * {
  background: var(--color-background-elevation-dark-only);
}

#contents .key {
  grid-column-start: span 2;
  padding: 12px 0;
  font-weight: bold;
  margin-bottom: -1.2em;
}

#contents .value {
  grid-column-start: span 2;
  padding: 12px 0;
}

#footer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-column-start: span 2;
}

#footer .icon-link {
  vertical-align: sub;
  float: right;
}
