/*
* Copyright 2025 The Chromium Authors
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
 */

:host {
  width: 100%;
  flex: auto 0 1;
  overflow-y: auto;
  flex-direction: column;

  --override-background-list-item-color: var(--sys-color-cdt-base-container);
}

:host([hidden]) {
  display: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  flex: none;
  min-height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-left: var(--sys-size-11);
  border-radius: var(--sys-shape-corner-extra-small);

  &:hover {
    .controls-gradient {
      background-image: linear-gradient(90deg, transparent, var(--sys-color-cdt-base-container));
    }

    .controls-buttons {
      visibility: visible;
    }

  }

  &:focus-within:not(:active),
  &:focus-visible {
    background-color: var(--sys-color-state-hover-on-subtle);

    --override-background-list-item-color: hsl(0deg 0% 96%);

    outline: none;


    .controls-gradient {
      background-image: linear-gradient(90deg, transparent, var(--override-background-list-item-color));
    }

    .controls-buttons {
      background-color: var(--override-background-list-item-color);
      visibility: visible;
    }

  }
}

.controls-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.controls-gradient {
  width: var(--sys-size-16);
}

.controls-buttons {
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: auto;
  visibility: hidden;
  background-color: var(--sys-color-cdt-base-container);
}
