/*
 * Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.search-drawer-header {
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
}

.search-drawer-header input.search-config-search {
    border: none;
    border-radius: 2px;
    color: #303030;
    flex-grow: 1;
    height: 28px;
    margin: 2px 2px 2px 2px;
    min-width: 95px;
    padding: 0 28px;
}

.search-drawer-header input.search-config-search:focus {
    box-shadow: var(--focus-ring-active-shadow);
}

.search-drawer-header .search-icon {
    left: 8px;
    top: 8px;
    position: absolute;
}

.search-config-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.search-drawer-header .search-cancel-button-container {
    position: relative;
}

.search-drawer-header .search-cancel-button {
    position: absolute;
    right: 7px;
    top: 8px;
}

:host-context(.platform-mac) .search-drawer-header input.search-config-search {
    top: 1px;
}

.search-toolbar-summary {
    background-color: #eee;
    border-top: 1px solid #ccc;
    padding-left: 5px;
    flex: 0 0 19px;
    display: flex;
    padding-right: 5px;
}

.search-toolbar-summary .search-message {
    padding-top: 2px;
    padding-left: 1ex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.search-view .search-results {
    overflow-y: auto;
    display: flex;
    flex: auto;
}

.search-view .search-results > div {
    flex: auto;
}

.search-container {
    background-color: white;
    border: #dadada 0.5px;
    border-style: solid none;
    display: flex;
    flex-grow: 1;
    position: relative;
}

.search-container:focus-within {
    background-color: transparent;
    border-color: transparent;
}
