/*
 * Copyright 2022 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.active.split {
  border-radius: 50% 0% 0% 50%;
}

.inactive.split {
  border-radius: 0% 50% 50% 0%;
}

.counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.part {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.active {
  color: var(--color-button-primary-text);
  background-color: var(--color-primary);
}

.inactive {
  color: var(--color-text-disabled);
  background-color: var(--color-background-elevation-2);
}
