/*
 * Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
    white-space: nowrap;
}

.shadow-swatch-icon {
    position: relative;
    margin-left: 1px;
    margin-right: 2px;
    width: 10px;
    height: 10px;
    top: 1px;
    display: inline-block;
    -webkit-user-select: none;
    line-height: 10px;
    -webkit-mask-image: url(Images/smallIcons.png);
    -webkit-mask-size: 190px 30px;
    -webkit-mask-position: -60px -20px;
    background-color: #9C27B0;
}

@media (-webkit-min-device-pixel-ratio: 1.1) {
.shadow-swatch-icon {
    -webkit-mask-image: url(Images/smallIcons_2x.png);
}
} /* media */

.shadow-swatch-icon:hover {
    background-color: #800080;
}
