:host {
    position: absolute;
    z-index: 600;
    pointer-events: none;
    display: flex;
    background-color: white;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    border-radius: 2px;
}

.widget {
    flex: auto;
    pointer-events: none;
    overflow: visible;
}

.popover-content {
    pointer-events: auto;
    overflow: auto;
    -webkit-user-select: text;
    line-height: 11px;
    flex: auto;
    padding: 6px;
}

.popover-content.no-padding {
    padding: 0;
    overflow: hidden;
}

.arrow {
    position: absolute;
    background-image: url(Images/popoverArrows.png);
    width: 19px;
    height: 19px;
    margin-top: -19px;
    top: 0;
    left: 0;
    z-index: 1;
}

:host-context(.-theme-with-dark-background) .arrow {
    -webkit-filter: invert(80%);
}

.arrow.top-left-arrow {
    /* The default is top-left, no styles needed. */
}

.arrow.top-right-arrow {
    right: 19px;
    left: auto;
}

.arrow.bottom-left-arrow {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -19px;
    background-position: 0 -19px;
}

.arrow.bottom-right-arrow {
    right: 15px;
    left: auto;
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -19px;
    background-position: 0 -19px;
}
