/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#close-button-container {
  height: 0;
  width: 100%;
}

#close-button-container #close-button-right-aligner {
  position: relative;
  z-index: 1;
  width: fit-content;
  left: 100%;
  transform: translateX(-100%);
  padding-right: 12px;
}

#slot-container {
  margin-top: -14px;
  padding: 0 12px;
}
