/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.shortcuts-dialog {
  /* overwrite 'white-space: pre' in the toolbar item parent element */
  white-space: nowrap;
}

.keybinds-category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sys-size-4) var(--sys-size-6) var(--sys-size-6) var(--sys-size-8);
}

.keybinds-category-header-text {
  font-size: var(--sys-typescale-body3-size);
  font-weight: var(--ref-typeface-weight-medium);
}

.keybinds-list {
  display: flex;
  flex-direction: column;
  gap: var(--sys-size-4);
  margin: 0;
  padding: 0 var(--sys-size-8);
}

.keybinds-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.keybinds-list-text {
  font-size: var(--sys-typescale-body4-size);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
  color: var(--sys-color-on-surface);
}

.keys-container {
  display: flex;
  gap: var(--sys-size-3);
}

.keybinds-key {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: var(--sys-size-4);
  min-width: var(--sys-size-11);
  height: var(--sys-size-11);
  font: var(--sys-typescale-body5-medium);
  white-space: nowrap;
  border-radius: var(--sys-shape-corner-small);
  background: var(--sys-color-tonal-container);
}
