/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: inline-block;
  white-space: nowrap;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

devtools-icon {
  vertical-align: middle;
}

.link {
  cursor: pointer;
}

.link span {
  color: var(--sys-color-primary);
}
