/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  white-space: normal;
  display: inline-block;
}

.icon-button {
  border: none;
  margin-right: 2px;
  margin-top: 4px;
  display: inline-flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
}

.icon-button.with-click-handler {
  padding: 0 4px;
}

.icon-button.with-click-handler:hover {
  background-color: var(--sys-color-state-hover-on-subtle);
}

.icon-button:focus-visible {
  background-color: var(--sys-color-state-hover-on-subtle);
}

.icon-button-title {
  margin-left: 0.5ex;
}

.compact .icon-button-title {
  display: none;
}

.status-icon {
  margin-left: 1ex;
}

.status-icon:first-child {
  margin-left: inherit;
}

@media (forced-colors: active) {
  .icon-button {
    forced-color-adjust: none;
    background-color: ButtonFace;
  }

  .icon-button:focus-visible,
  .icon-button.with-click-handler:hover {
    background-color: Highlight;
    color: HighlightText;
  }
}
