/*
 * Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.tree-outline ol {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-inline-start: 16px;

  --override-xml-view-tag: rgb(136 18 128);
  --override-xml-view-comment-or-instruction: rgb(35 110 37);
  --override-xml-view-attribute-name: rgb(153 69 0);
  --override-xml-view-attribute-value: rgb(26 26 166);
}

.-theme-with-dark-background .tree-outline ol,
:host-context(.-theme-with-dark-background) .tree-outline ol {
  --override-xml-view-tag: rgb(237 119 229);
  --override-xml-view-comment-or-instruction: rgb(145 220 147);
  --override-xml-view-attribute-name: rgb(255 171 102);
  --override-xml-view-attribute-value: rgb(89 89 229);
}

ol.tree-outline {
  padding-inline-start: 0;
}

.tree-outline li {
  min-height: 12px;
}

.tree-outline li.shadow-xml-view-close-tag {
  margin-left: -16px;
}

.shadow-xml-view-tag {
  color: var(--override-xml-view-tag);
}

.shadow-xml-view-comment {
  color: var(--override-xml-view-comment-or-instruction);
}

.shadow-xml-view-processing-instruction {
  color: var(--override-xml-view-comment-or-instruction);
}

.shadow-xml-view-attribute-name {
  color: var(--override-xml-view-attribute-name);
}

.shadow-xml-view-attribute-value {
  color: var(--override-xml-view-attribute-value);
}

.shadow-xml-view-text {
  color: var(--color-background-inverted);
  white-space: pre;
}

.shadow-xml-view-cdata {
  color: var(--color-background-inverted);
}
