/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  --override-transparent: rgb(0 0 0 / 0%);

  border-radius: 3px;
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: var(--override-menu-background-color, var(--color-background));
}

:host([has-open-dialog]) {
  background-color: var(--override-menu-active-background-color, var(--color-background-elevation-2));
}

#container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: fit-content;
  display: block;
}

#container:focus {
  outline: none;
}

@keyframes slideIn {
  from {
    transform: var(--translate-dialog);
    opacity: 0%;
  }

  to {
    transform: none;
    opacity: 100%;
  }
}
