/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  border: 1px solid var(--sys-color-neutral-outline);
  border-radius: 3px;
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: var(--override-select-menu-background-color, var(--sys-color-cdt-base-container));
}

:host([has-open-dialog]) {
  background-color: var(--override-select-menu-active-background-color, var(--sys-color-neutral-container));
}

button {
  background: none;
}

#side-button {
  border: 1px solid var(--override-select-menu-border, var(--sys-color-neutral-outline));
  border-radius: 3px 0 0 3px;
  border-right: none;
  height: 100%;
  position: relative;
  padding: var(--override-select-button-padding);
}

button:disabled {
  cursor: not-allowed;
}

@keyframes slideIn {
  from {
    transform: var(--translate-dialog);
    opacity: 0%;
  }

  to {
    transform: none;
    opacity: 100%;
  }
}
