/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  height: 100%;
  width: 100%;
  display: block;
}

.show {
  font-size: 12px;
  color: var(--sys-color-on-surface);
  height: 100%;
  width: 100%;
  border: none;
  border-radius: var(--override-select-menu-show-button-border-radius);
  padding: var(--override-select-menu-show-button-padding, 1px 6px);
}

.show:focus-visible {
  outline: 2px solid var(--sys-color-state-focus-ring);
  outline-offset: 2px;
}

#button-label-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  height: 100%;
}

#label[witharrow].single-arrow {
  padding: 0;
}

#label[witharrow] {
  padding: var(--override-select-menu-label-with-arrow-padding, 0 10px 0 0);
  text-align: left;
}

.single-arrow + span#arrow {
  margin: 0;
}

#arrow {
  mask-image: var(--deploy-menu-arrow);
  -webkit-mask-image: var(--deploy-menu-arrow);
  -webkit-mask-position-y: center;
  margin-left: 5px;
  width: 14px;
  flex-shrink: 0;
  height: 14px;
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--override-throttling-icon-and-text-color, var(--override-select-menu-arrow-color, var(--sys-color-on-surface)));
  transform: rotate(var(--arrow-angle));
  transform-origin: center;
  mask-repeat: no-repeat;
  transition: 200ms;
}

.single-arrow {
  border-radius: 0 3px 3px 0;
  border: 1px solid var(--override-select-menu-border, var(--sys-color-neutral-outline));
  height: 100%;
  aspect-ratio: 1 / 1;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button[aria-expanded="true"] #arrow {
  transform: rotate(calc(var(--arrow-angle) + 180deg));
}

button {
  background: none;
}

button[disabled] {
  color: var(--sys-color-state-disabled);
}
