/*
 * Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: block;
}

.preview {
  padding: var(--sys-size-6) var(--sys-size-8);
  border: var(--sys-size-1) solid var(--sys-color-divider);
  color: var(--sys-color-on-surface);
  font-size: var(--sys-typescale-body3-size);
  line-height: var(--sys-typescale-body3-line-height);
  border-radius: var(--sys-shape-corner-medium-small);
  margin: 42px 0;
  letter-spacing: 0.01em;
}

h2 {
  color: var(--sys-color-primary);
  font-size: var(--sys-typescale-body3-size);
  line-height: var(--sys-typescale-body3-line-height);
  letter-spacing: 0.01em;
  margin: 9px 0 var(--sys-size-7);
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: normal;
}

h3 {
  font-size: var(--sys-typescale-body3-size);
  line-height: var(--sys-typescale-body3-line-height);
  letter-spacing: 0.04em;
  color: var(--sys-color-on-surface);
  margin-bottom: var(--sys-size-2);
  font-weight: normal;
}

.preview p {
  margin-bottom: var(--sys-size-11);
}

.thumbnail {
  height: 92px;
}

.video {
  display: flex;
  flex-flow: row wrap;
  gap: var(--sys-size-9);
}

devtools-link {
  color: var(--sys-color-primary);
  text-decoration-line: underline;
}

devtools-link.quick-start-link {
  font-size: var(--sys-typescale-body2-size);
  line-height: var(--sys-size-10);
  letter-spacing: 0.04em;
}

.video-description {
  min-width: min-content;
  flex-basis: min-content;
  flex-grow: 1;
}

@media (forced-colors: active) {
  devtools-link {
    color: linktext;
  }
}
