/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: block;
}

.experiment-preview {
  display: flex;
  align-items: center;
}

.helper {
  text-align: center;
  font-style: italic;
}

.feedback {
  text-align: right;
}

.checkbox-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  padding: 4px;
}

.container.has-link {
  /* For x-link outline not to paint over the helper text
  we need to have 2 * <padding>px additional line height */
  line-height: calc(1em + 8px);
}

.x-link {
  color: var(--color-primary);
  text-decoration-line: underline;
  padding: 4px;
}

.feedback .x-link {
  color: var(--color-text-secondary);
}
