/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}

.experiment-preview,
.feedback,
.learn-more {
  display: flex;
  align-items: center;
}

.helper {
  flex-basis: 100%;
  text-align: center;
  font-style: italic;
}

.spacer {
  flex: 1;
}

.x-link {
  color: var(--color-primary);
  text-decoration-line: underline;
  margin: 0 4px;
}

.feedback .x-link {
  color: var(--color-text-secondary);
}
