/*
 * Copyright 2020 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.report-field-name {
  flex: 0 0 200px;
}

.report-field .copyable {
  user-select: text;
}

.report-field .inline-name {
  color: #888;
  padding-left: 2ex;
}

.report-field .inline-name::after {
  content: ":\A0";
}

.report-field .inline-comment {
  color: #555;
  padding-left: 1ex;
}

.report-field .inline-comment::before {
  content: "(";
}

.report-field .inline-comment::after {
  content: ")";
}

.report-field-value-link {
  display: inline-block;
}

.icon-link.devtools-link {
  background-color: var(--link-color);
  vertical-align: sub;
}

.frame-details-container {
  overflow: auto;
}

.frame-details-report-container {
  min-width: 500px;
}

.text-ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.report-field-value {
  display: flex;
}
