/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.service-workers-view {
    overflow-y: scroll;
}

.service-workers-view > .toolbar {
    border-bottom: 1px solid #dadada;
}

.service-workers-root {
   -webkit-user-select: text;
   margin: 5px;
   overflow: auto;
}

.service-workers-root ol {
    list-style-type: none;
    padding-left: 0;
}

.service-workers-origin {
    padding: 5px;
    background-color: white;
}

.service-workers-origin-title {
    font-size: 14px;
    flex: none;
}

.service-workers-registration {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
    flex: auto;
    box-shadow: #ccc 0px 0px 4px;
}

.service-workers-registration .tabbed-pane > .widget {
    overflow: auto;
}

.service-workers-registration .toolbar {
    flex: none;
}

.service-workers-registration-title {
    flex: none;
    font-size: 15px;
    padding: 4px;
}

.service-workers-versions-panel {
    display: flex;
    flex-direction: column;
}

.service-workers-versions-panel-top {
    flex: none;
    overflow: hidden;
}
.service-workers-versions-panel-bottom {
    flex: none;
}

.service-workers-versions-table-row {
    display: flex;
}

.service-workers-versions-table-row-title {
    color: #888;
    flex: 1 1 0;
    overflow: hidden;
    padding-left: 6px;
    text-overflow: ellipsis;
    height: 24px;
    align-items: center;
    display: flex;
}

.service-workers-versions-table-row-content {
    flex: 3 3 0;
    overflow: hidden;
    padding: 2px;
    text-overflow: ellipsis;
    line-height: 24px;
    height: 24px;
    align-items: center;
    display: flex;
}

.service-workers-versions-table-title {
    color: #888;
    padding: 0 6px;
    line-height: 24px;
}

.service-workers-versions-table-messages-content {
    padding-left: 10px;
    line-height: 22px;
    max-height: 150px;
    overflow: auto;
    margin-right: 10px;
}

.service-workers-versions-table-clients-content {
    overflow: auto;
    line-height: 24px;
    padding-left: 23px;
}

.service-workers-versions-table-worker-running-status-cell {
    display: flex;
    align-items: center;
}

.service-workers-versions-table-running-status-inspect {
    color: hsl(240, 85%, 37%);
    cursor: pointer;
    text-decoration: underline;
    padding: 0 6px;
}

.service-workers-versions-option-panel {
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    display: flex;
}

.service-workers-error {
    display: flex;
}

.service-workers-error > label {
    flex: none;
}

.service-workers-info {
    display: flex;
    align-items: center;
}

.service-worker-client-focus {
   color: hsl(240, 85%, 37%);
   cursor: pointer;
   padding-left: 4px;
   text-decoration: underline;
}
