/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.service-worker-version-stack {
    position: relative;
}

.service-worker-version-stack-bar {
    position: absolute;
    top: 10px;
    bottom: 20px;
    left: 4px;
    content: "";
    border-left: 1px solid #888;
    z-index: 0;
}

.service-worker-version:not(:last-child) {
    margin-bottom: 7px;
}

.service-worker-active-circle,
.service-worker-redundant-circle,
.service-worker-waiting-circle,
.service-worker-installing-circle {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    z-index: 10;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #555;
}

.service-worker-active-circle {
    background-color: #50B04F;
}
.service-worker-waiting-circle {
    background-color: #F38E24;

}
.service-worker-installing-circle {
    background-color: white;
}

.service-worker-redundant-circle {
    background-color: gray;
}

.service-worker-subtitle {
    padding-left: 14px;
    line-height: 14px;
    color: #888;
}

.link {
    margin-left: 7px;
}

.service-worker-editor-with-button {
    align-items: baseline;
    display: flex;
}

.service-worker-notification-editor {
    border: solid 1px #d8d8d8;
    display: flex;
    flex: auto;
    margin-right: 4px;
    max-width: 400px;
    min-width: 80px;
}

.report-field-value-filename,
.service-worker-client-string {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.service-worker-client {
    display: flex;
}

.service-worker-client-focus-link {
    flex: none;
    margin-right: 2px;
    align-self: center;
}

.service-worker-notification-editor.source-code {
    /** Simulate CodeMirror that is shown above */
    padding: 4px;
}

.service-worker-list {
    background-color: #f9f9f9;
    overflow: auto;
}

.service-workers-this-origin {
    flex-shrink: 0;
    flex-grow: 0;
}

.service-worker-has-current .service-workers-other-origin {
    margin-top: 16px;
    border-top: 1px solid rgb(230, 230, 230)
}

.service-worker-list-empty .service-workers-other-origin {
    display: none;
}

.service-workers-this-origin,
.service-worker-filter,
.service-workers-other-origin {
    min-width: 400px;
}

.service-worker-filter {
    padding: 16px 20px 12px 12px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: white;
    border-bottom: solid 1px rgb(230, 230, 230);
}

.service-worker-filter-label {
    cursor: pointer;
    margin-left: 4px;
}

.service-worker-filter[data-keyboard-focus="true"]:focus {
    background-color: var(--toolbar-bg-color);
}

.service-worker-filter-label::before {
    user-select: none;
    -webkit-mask-image: url(Images/treeoutlineTriangles.svg);
    -webkit-mask-size: 32px 24px;
    content: '';
    color: transparent;
    background-color: rgb(110, 110, 110);
    text-shadow: none;
    height: 12px;
    width: 10px;
    display: inline-block;
}

.service-worker-filter[aria-checked="true"] .service-worker-filter-label::before {
    -webkit-mask-position: -16px 0;
}

.service-worker-filter-toolbar {
    margin: 8px 10px 0 12px;
    max-width: 530px;
}

.service-worker-filter-collapsed .service-worker-filter-toolbar {
    display: none;
}
