/*
 * Copyright 2025 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.ai-code-completion-summary-toolbar {
  display: flex;
  border-top: var(--sys-size-1) solid var(--sys-color-divider);
  background-color: var(--sys-color-cdt-base-container);
  padding: var(--sys-size-2) var(--sys-size-5);
  align-items: center;
  gap: var(--sys-size-5);
  flex-shrink: 0;
  color: var(--sys-color-on-surface-subtle);

  span.link {
    color: var(--sys-color-on-surface-subtle);
  }

  .ai-code-completion-disclaimer {
    border-right: var(--sys-size-1) solid var(--sys-color-divider);
    padding-right: var(--sys-size-5);
  }

  .ai-code-completion-recitation-notice {
    span.link {
      padding-left: var(--sys-size-3);
    }
  }

  devtools-tooltip:popover-open {
    display: flex;
    flex-direction: column;
    align-items: center;

    .citations-tooltip-container {
        display: inline-flex;
        padding: var(--sys-size-4) var(--sys-size-5);
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: var(--sys-size-2);

        x-link {
            color: var(--sys-color-primary);
            text-decoration: underline;
        }
    }

    .disclaimer-tooltip-container {
      padding: var(--sys-size-4) 0;
      max-width: var(--sys-size-30);

      .tooltip-text {
        color: var(--sys-color-on-surface-subtle);
        padding: 0 var(--sys-size-5);
        align-items: flex-start;
        gap: 10px;
      }

      .link {
        padding: var(--sys-size-5) var(--sys-size-8) 0 var(--sys-size-5);
      }
    }
  }
}
