/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.breadcrumbs {
  display: none;
  align-items: center;
  height: 29px;
  padding: 3px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.breadcrumbs::-webkit-scrollbar {
  display: none;
}

.breadcrumb {
  padding: 2px 6px;
  border-radius: 4px;
}

.breadcrumb:hover {
  background-color: var(--sys-color-state-hover-on-subtle);
}

.range {
  font-size: 12px;
  white-space: nowrap;
}

.active-breadcrumb {
  font-weight: bold;
  color: var(--app-color-active-breadcrumb);
}
