/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.label-parts-wrapper {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  color: var(--color-selected-option);
  align-items: center;
}

.label-box {
  background-color: var(--sys-color-token-variable);
  border-radius: 4px;
  font-family: var(--monospace-font-family);
  font-weight: bold;
}

.entry-highlight-wrapper {
  border: 2px solid var(--sys-color-token-variable);
}
