/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: block;
}

:host * {
  box-sizing: border-box;
}

devtools-dialog {
  --override-transparent: rgb(0 0 0 / 50%);
}

.title {
  font-size: var(--sys-typescale-headline4-size);
  line-height: var(--sys-typescale-headline4-line-height);
  font-weight: var(--ref-typeface-weight-medium);
  margin: 0;
}

.section-title {
  font-size: var(--sys-typescale-headline5-size);
  line-height: var(--sys-typescale-headline5-line-height);
  font-weight: var(--ref-typeface-weight-medium);
  margin: 0;
}

.privacy-disclosure {
  margin: 8px 0;
}

.url-override {
  margin: 8px 0;
}

details > summary {
  font-size: var(--sys-typescale-body4-size);
  line-height: var(--sys-typescale-body4-line-height);
  font-weight: var(--ref-typeface-weight-medium);
}

.content {
  max-width: 500px;
  padding: 16px;
}

.buttons-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
  gap: 8px;
}

input[type="checkbox"] {
  height: 12px;
  width: 12px;
  min-height: 12px;
  min-width: 12px;
  margin: 6px;
}

input[type="text"][disabled] {
  color: var(--sys-color-state-disabled);
}

label {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.warning {
  margin: 2px 8px;
  color: var(--color-error-text);
}
