/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
.ignore-list-setting-description {
  margin-bottom: 5px;
}

.regex-row {
  display: flex;

  /* The tag name of CheckboxLabel element */
  dt-checkbox {
    flex: auto;
  }

  devtools-button {
    height: 24px;
  }

  &:not(:hover) devtools-button {
    display: none;
  }
}

.new-regex-row {
  display: flex;

  .new-regex-text-input {
    flex: auto;
  }
}
