/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: block;
}

.breakdown {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--sys-color-token-subtle);
}

.value {
  display: inline-block;
  padding: 0 5px;
  color: var(--sys-color-on-surface);
}
