/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.container {
  /* stylelint-disable-next-line property-no-unknown */
  container-type: inline-size;
  height: 100%;
  font-size: var(--sys-typescale-body4-size);
  line-height: var(--sys-typescale-body4-line-height);
  font-weight: var(--ref-typeface-weight-regular);
}

.live-metrics-view {
  --min-main-area-size: 60%;

  background-color: var(--sys-color-cdt-base-container);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.live-metrics,
.next-steps {
  padding: 8px 16px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.live-metrics {
  flex: 1;
}

.next-steps {
  flex: 0 0 300px;
  box-sizing: border-box;
  border: none;
  border-left: 1px solid var(--sys-color-divider);
}

/* stylelint-disable-next-line at-rule-no-unknown */
@container (max-width: 600px) {
  .live-metrics-view {
    flex-direction: column;
  }

  .next-steps {
    flex-basis: 40%;
    border: none;
    border-top: 1px solid var(--sys-color-divider);
  }
}

.metric-cards {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  width: 100%;
}

.section-title {
  font-size: var(--sys-typescale-headline4-size);
  line-height: var(--sys-typescale-headline4-line-height);
  font-weight: var(--ref-typeface-weight-medium);
  margin: 10px 0;
}

.section-title:first-child {
  margin-top: 0;
}

.metric-card {
  border-radius: var(--sys-shape-corner-small);
  padding: 14px 16px;
  background-color: var(--sys-color-surface3);
  height: 100%;
  box-sizing: border-box;
}

.next-steps-card {
  border-radius: var(--sys-shape-corner-small);
  padding: 14px 16px;
  background-color: var(--sys-color-surface3);
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-title {
  font-size: var(--sys-typescale-headline5-size);
  line-height: var(--sys-typescale-headline5-line-height);
  font-weight: var(--ref-typeface-weight-medium);
}

.metric-card .card-title {
  margin-bottom: 6px;
}

.compare-text {
  margin: 8px 0;
}

.related-element-info {
  overflow: hidden;
  text-wrap: nowrap;
}

.related-element-label {
  font-weight: var(--ref-typeface-weight-medium);
}

.related-element-link {
  background-color: var(--sys-color-cdt-base-container);
  border-radius: 2px;
  padding: 0 2px;
  margin-left: 4px;
}

.card-metric-values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  margin-bottom: 8px;
}

.metric-value {
  text-wrap: nowrap;
}

.local-value,
.field-value {
  font-size: 32px;
  line-height: 36px;
  font-weight: var(--ref-typeface-weight-regular);
}

.metric-value-label {
  font-weight: var(--ref-typeface-weight-medium);
}

.good {
  color: var(--app-color-performance-good);
}

.needs-improvement {
  color: var(--app-color-performance-ok);
}

.poor {
  color: var(--app-color-performance-bad);
}

.good-bg {
  background-color: var(--app-color-performance-good);
}

.needs-improvement-bg {
  background-color: var(--app-color-performance-ok);
}

.poor-bg {
  background-color: var(--app-color-performance-bad);
}

.interactions-list {
  padding: 0;
  margin: 0;
  overflow: auto;
  flex-grow: 1;
  min-height: 100px;
}

.interaction {
  display: flex;
  align-items: center;
  padding: 7px 0;
  border: none;
  border-bottom: 1px solid var(--sys-color-divider);
  gap: 32px;
}

.interaction:first-child {
  border-top: 1px solid var(--sys-color-divider);
}

.interaction-type {
  font-weight: var(--ref-typeface-weight-medium);
  width: 60px;
  flex-shrink: 0;
}

.interaction-node {
  overflow: hidden;
  flex-grow: 1;
}

.interaction-duration {
  text-align: end;
  width: max-content;
  flex-shrink: 0;
  font-weight: var(--ref-typeface-weight-medium);
}

.divider {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--sys-color-divider);
  margin: 2px 0;
  box-sizing: border-box;
}

.field-data-histogram {
  display: grid;
  grid-template-columns: max-content 100px max-content;
  grid-auto-rows: 1fr;
  column-gap: 8px;
  justify-items: flex-end;
  align-items: center;
  flex: 1;
}

.histogram-bar {
  height: 6px;
}

.histogram-label {
  width: 100%;
  font-weight: var(--ref-typeface-weight-medium);
}

.histogram-range {
  color: var(--sys-color-token-subtle);
}

.histogram-percent {
  color: var(--sys-color-token-subtle);
  font-weight: var(--ref-typeface-weight-medium);
}

.record-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.record-action devtools-button {
  overflow: hidden;
}

.shortcut-label {
  width: max-content;
  color: var(--sys-color-token-subtle);
  flex-shrink: 0;
}

.live-metrics-option {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
  max-width: 100%;
  text-wrap: nowrap;
}

.live-metrics-option > devtools-select-menu {
  min-width: 0;
  max-width: 100%;
}

.no-data {
  color: var(--sys-color-token-subtle);
}

.tooltip-content {
  margin: 0 6px;
}
