/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.container {
  /* stylelint-disable-next-line property-no-unknown */
  container-type: inline-size;
  height: 100%;
}

.live-metrics-view {
  --min-main-area-size: 60%;

  background-color: var(--sys-color-cdt-base-container);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.live-metrics,
.next-steps {
  padding: 8px 16px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.live-metrics {
  flex: 1;
}

.next-steps {
  flex: 0 0 30%;
  box-sizing: border-box;
  border: none;
  border-left: 1px solid var(--sys-color-divider);
  max-width: 300px;
}

/* stylelint-disable-next-line at-rule-no-unknown */
@container (max-width: 500px) {
  .live-metrics-view {
    flex-direction: column;
  }

  .next-steps {
    flex-basis: 40%;
    border: none;
    border-top: 1px solid var(--sys-color-divider);
    max-width: unset;
  }
}

.metric-cards {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  width: 100%;
}

.section-title {
  text-wrap: nowrap;
  font-size: 14px;
  font-weight: bold;
}

.card {
  border: 1px solid var(--sys-color-divider);
  border-radius: 4px;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--color-background-elevation-1);
}

.card-title {
  text-wrap: nowrap;
  font-size: 12px;
  font-weight: bold;
}

.card-section-title {
  margin-top: 8px;
  text-wrap: nowrap;
  font-size: 12px;
  font-weight: bold;
}

.metric-card-value {
  display: flex;
  align-items: center;
  gap: 8px;
}

.local-metric-value {
  text-wrap: nowrap;
  font-size: 30px;
  flex: 1;
}

.good {
  color: var(--app-color-performance-good);
}

.needs-improvement {
  color: var(--app-color-performance-ok);
}

.poor {
  color: var(--app-color-performance-bad);
}

.good-bg {
  background-color: var(--app-color-performance-good);
}

.needs-improvement-bg {
  background-color: var(--app-color-performance-ok);
}

.poor-bg {
  background-color: var(--app-color-performance-bad);
}

.metric-card-element {
  overflow: hidden;
}

.interactions-list {
  padding: 0;
  overflow: auto;
  flex-grow: 1;
  min-height: 100px;
}

.interaction {
  display: flex;
  align-items: center;
  gap: 32px;
}

.interaction-type {
  font-weight: bold;
  width: 60px;
  flex-shrink: 0;
}

.interaction-node {
  overflow: hidden;
  flex-grow: 1;
}

.interaction-duration {
  text-align: end;
  width: max-content;
  flex-shrink: 0;
}

.divider {
  grid-column: 1/-1;
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--sys-color-divider);
  margin: 4px 0;
}

.field-data {
  width: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  grid-auto-rows: 1fr;
  column-gap: 8px;
  justify-items: flex-end;
  align-items: center;
  flex: 1;
}

.histogram-bar {
  height: 6px;
}
