/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.container {
  /* stylelint-disable-next-line property-no-unknown */
  container-type: inline-size;
  height: 100%;
  font-size: var(--sys-typescale-body4-size);
  line-height: var(--sys-typescale-body4-line-height);
  font-weight: var(--ref-typeface-weight-regular);
}

.live-metrics-view {
  --min-main-area-size: 60%;

  background-color: var(--sys-color-cdt-base-container);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.live-metrics,
.next-steps {
  padding: 16px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.live-metrics {
  flex: 1;
}

.next-steps {
  flex: 0 0 336px;
  box-sizing: border-box;
  border: none;
  border-left: 1px solid var(--sys-color-divider);
}

/* stylelint-disable-next-line at-rule-no-unknown */
@container (max-width: 650px) {
  .live-metrics-view {
    flex-direction: column;
  }

  .next-steps {
    flex-basis: 40%;
    border: none;
    border-top: 1px solid var(--sys-color-divider);
  }
}

.metric-cards {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  width: 100%;
}

.section-title {
  font-size: var(--sys-typescale-headline4-size);
  line-height: var(--sys-typescale-headline4-line-height);
  font-weight: var(--ref-typeface-weight-medium);
  margin: 0;
  margin-bottom: 10px;
}

.metric-card {
  border-radius: var(--sys-shape-corner-small);
  padding: 14px 16px;
  background-color: var(--sys-color-surface3);
  height: 100%;
  box-sizing: border-box;
}

.settings-card {
  border-radius: var(--sys-shape-corner-small);
  padding: 14px 16px 16px;
  background-color: var(--sys-color-surface3);
  margin-bottom: 16px;
}

.record-action-card {
  border-radius: var(--sys-shape-corner-small);
  padding: 12px 16px 12px 12px;
  background-color: var(--sys-color-surface3);
  margin-bottom: 16px;
}

.card-title {
  font-size: var(--sys-typescale-headline5-size);
  line-height: var(--sys-typescale-headline5-line-height);
  font-weight: var(--ref-typeface-weight-medium);
  margin: 0;
}

.metric-card .card-title {
  margin-bottom: 6px;
}

.settings-card .card-title {
  margin-bottom: 4px;
}

.compare-text {
  margin-top: 8px;
}

.setting-recommendation {
  margin-bottom: 12px;
}

.throttling-recommendation-value {
  font-weight: var(--ref-typeface-weight-medium);
}

.related-element-info {
  overflow: hidden;
  text-wrap: nowrap;
  margin-top: 8px;
}

.related-element-label {
  font-weight: var(--ref-typeface-weight-medium);
}

.related-element-link {
  background-color: var(--sys-color-cdt-base-container);
  border-radius: 2px;
  padding: 0 2px;
}

.card-values {
  position: relative;
  display: flex;
  column-gap: 8px;
  margin-bottom: 8px;
}

.card-value-block {
  flex: 1;
}

.card-value {
  font-size: 32px;
  line-height: 36px;
  font-weight: var(--ref-typeface-weight-regular);
}

.card-value-label {
  font-weight: var(--ref-typeface-weight-medium);
}

.metric-value {
  text-wrap: nowrap;
}

.metric-value.dim {
  font-weight: var(--ref-typeface-weight-medium);
}

.waiting {
  color: var(--sys-color-token-subtle);
}

.good {
  color: var(--app-color-performance-good);
}

.needs-improvement {
  color: var(--app-color-performance-ok);
}

.poor {
  color: var(--app-color-performance-bad);
}

.good.dim {
  color: var(--app-color-performance-good-dim);
}

.needs-improvement.dim {
  color: var(--app-color-performance-ok-dim);
}

.poor.dim {
  color: var(--app-color-performance-bad-dim);
}

.good-bg {
  background-color: var(--app-color-performance-good);
}

.needs-improvement-bg {
  background-color: var(--app-color-performance-ok);
}

.poor-bg {
  background-color: var(--app-color-performance-bad);
}

.interactions-section {
  margin-top: 24px;
}

.interactions-list {
  padding: 0;
  margin: 0;
  overflow: auto;
  max-height: 300px;
}

.interaction {
  display: flex;
  align-items: center;
  padding: 7px 0;
  border: none;
  border-bottom: 1px solid var(--sys-color-divider);
  gap: 32px;
}

.interaction:first-child {
  border-top: 1px solid var(--sys-color-divider);
}

.interaction-type {
  font-weight: var(--ref-typeface-weight-medium);
  width: 60px;
  flex-shrink: 0;
}

.interaction-node {
  overflow: hidden;
  flex-grow: 1;
}

.interaction-duration {
  text-align: end;
  width: max-content;
  flex-shrink: 0;
  font-weight: var(--ref-typeface-weight-medium);
}

.divider {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--sys-color-divider);
  margin: 2px 0;
  box-sizing: border-box;
}

.field-data-histogram {
  display: grid;
  grid-template-columns: max-content 100px max-content;
  grid-auto-rows: 1fr;
  column-gap: 8px;
  justify-items: flex-end;
  align-items: center;
  flex: 1;
  margin-top: 8px;
  overflow-x: auto;
}

.histogram-bar {
  height: 6px;
}

.histogram-label {
  width: 100%;
  font-weight: var(--ref-typeface-weight-medium);
}

.histogram-range {
  color: var(--sys-color-token-subtle);
}

.histogram-percent {
  color: var(--sys-color-token-subtle);
  font-weight: var(--ref-typeface-weight-medium);
}

.record-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.record-action devtools-button {
  overflow: hidden;
}

.shortcut-label {
  width: max-content;
  flex-shrink: 0;
}

.live-metrics-option {
  display: block;
  margin-top: 8px;
  min-width: 0;
  max-width: 100%;
}

.field-setup-buttons {
  margin-top: 14px;
}

.no-data {
  color: var(--sys-color-token-subtle);
}

.tooltip {
  display: none;
  width: min-content;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  box-sizing: border-box;
  padding: var(--sys-size-5) var(--sys-size-6);
  border-radius: var(--sys-shape-corner-small);
  background-color: var(--sys-color-cdt-base-container);
  box-shadow: var(--drop-shadow-depth-3);
}

.detailed-compare-text {
  margin-bottom: 8px;
}

.field-data-message {
  margin-bottom: 12px;
}

.collection-period-range {
  font-weight: var(--ref-typeface-weight-medium);
}

x-link { /* stylelint-disable-line selector-type-no-unknown */
  color: var(--sys-color-primary);
  text-decoration-line: underline;
}

.data-descriptions {
  margin-top: 10px;
  padding-left: 12px;
  border-left: 1px solid var(--sys-color-divider);
}
