/*
 * Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.metric-card {
  border-radius: var(--sys-shape-corner-small);
  padding: var(--sys-size-7) var(--sys-size-8);
  background-color: var(--sys-color-surface3);
  height: 100%;
  box-sizing: border-box;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: var(--sys-typescale-headline5-size);
  line-height: var(--sys-typescale-headline5-line-height);
  font-weight: var(--ref-typeface-weight-medium);
  margin: 0;
  margin-bottom: var(--sys-size-4);
}

.title-help {
  height: var(--sys-typescale-headline5-line-height);
  margin-left: var(--sys-size-3);
}

.metric-values-section {
  position: relative;
  display: flex;
  column-gap: var(--sys-size-5);
  margin-bottom: var(--sys-size-5);
}

.metric-values-section:focus-visible {
  outline: var(--sys-size-2) solid -webkit-focus-ring-color;
}

.metric-source-block {
  flex: 1;
}

.metric-source-value {
  font-size: var(--sys-size-13);
  line-height: 36px;
  font-weight: var(--ref-typeface-weight-regular);
}

.metric-source-label {
  font-weight: var(--ref-typeface-weight-medium);
}

.warning {
  margin-top: var(--sys-size-3);
  color: var(--sys-color-error);
  font-size: var(--sys-typescale-body4-size);
  line-height: var(--sys-typescale-body4-line-height);
  display: flex;

  &::before {
    content: " ";
    width: var(--sys-typescale-body4-line-height);
    height: var(--sys-typescale-body4-line-height);
    mask-size: var(--sys-typescale-body4-line-height);
    mask-image: var(--image-file-warning);
    background-color: var(--sys-color-error);
    margin-right: var(--sys-size-3);
    flex-shrink: 0;
  }
}

.good-bg {
  background-color: var(--app-color-performance-good);
}

.needs-improvement-bg {
  background-color: var(--app-color-performance-ok);
}

.poor-bg {
  background-color: var(--app-color-performance-bad);
}

.divider {
  width: 100%;
  border: 0;
  border-bottom: var(--sys-size-1) solid var(--sys-color-divider);
  margin: var(--sys-size-5) 0;
  box-sizing: border-box;
}

.compare-text {
  margin-top: var(--sys-size-5);
}

.environment-recs-intro {
  margin-top: var(--sys-size-5);
}

.environment-recs {
  margin: 9px 0;
}

.environment-recs > summary {
  font-weight: var(--ref-typeface-weight-medium);
  margin-bottom: var(--sys-size-3);
  font-size: var(--sys-typescale-body4-size);
  line-height: var(--sys-typescale-body4-line-height);
  display: flex;

  &::before {
    content: " ";
    width: var(--sys-typescale-body4-line-height);
    height: var(--sys-typescale-body4-line-height);
    mask-size: var(--sys-typescale-body4-line-height);
    mask-image: var(--image-file-triangle-right);
    background-color: var(--icon-default);
    margin-right: var(--sys-size-3);
    flex-shrink: 0;
  }
}

details.environment-recs[open] > summary::before {
  mask-image: var(--image-file-triangle-down);
}

.environment-recs-list {
  margin: 0;
}

.detailed-compare-text {
  margin-bottom: var(--sys-size-5);
}

.bucket-summaries {
  margin-top: var(--sys-size-5);
  white-space: nowrap;
}

.bucket-summaries.histogram {
  display: grid;
  grid-template-columns: minmax(min-content, auto) minmax(var(--sys-size-14), 60px) max-content;
  grid-auto-rows: 1fr;
  column-gap: var(--sys-size-5);
  place-items: center flex-end;
}

.bucket-label {
  justify-self: start;
  font-weight: var(--ref-typeface-weight-medium);
  white-space: wrap;

  > * {
    white-space: nowrap;
  }
}

.bucket-range {
  color: var(--sys-color-token-subtle);
}

.histogram-bar {
  height: var(--sys-size-4);
}

.histogram-percent {
  color: var(--sys-color-token-subtle);
  font-weight: var(--ref-typeface-weight-medium);
}

.tooltip {
  display: none;
  visibility: hidden;
  transition-property: visibility;
  width: min(var(--tooltip-container-width, 350px), 350px);
  max-width: max-content;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  box-sizing: border-box;
  padding: var(--sys-size-5) var(--sys-size-6);
  border-radius: var(--sys-shape-corner-small);
  background-color: var(--sys-color-cdt-base-container);
  box-shadow: var(--drop-shadow-depth-3);

  .tooltip-scroll {
    overflow-x: auto;

    .tooltip-contents {
      min-width: min-content;
    }
  }
}

.subpart-table {
  display: grid;
  column-gap: var(--sys-size-3);
  white-space: nowrap;
}

.subpart-table-row {
  display: contents;
}

.subpart-table-value {
  text-align: right;
}

.subpart-table-header-row {
  font-weight: var(--ref-typeface-weight-medium);
}
