/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 20px;
}

devtools-icon[name="info"] {
  margin-left: var(--sys-size-3);
  width: var(--sys-size-8);
  height: var(--sys-size-8);
}

devtools-select-menu {
  min-width: 160px;
  max-width: 100%;
  height: 20px;
}
