/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: block;
  padding: var(--sys-size-4);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--sys-size-5);
  justify-content: flex-start;
  align-items: center;
}

.insight-chip button {
  background: none;
  user-select: none;
  font: var(--sys-typescale-body4-regular);
  border: var(--sys-size-1) solid var(--sys-color-primary);
  border-radius: var(--sys-shape-corner-extra-small);
  display: flex;
  margin-top: var(--sys-size-4);
  padding: var(--sys-size-2) var(--sys-size-4) var(--sys-size-2) var(--sys-size-4);
  width: max-content;
  white-space: pre;

  .keyword {
    color: var(--sys-color-primary);
    padding-right: var(--sys-size-3);
  }
}

.insight-chip button:hover {
  background-color: var(--sys-color-state-hover-on-subtle);
  cursor: pointer;
  transition: opacity 0.2s ease;
}
