/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: block;
  height: 100%;
}

.annotations {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.visibility-setting {
  margin-top: auto;
}

.bin-icon {
  visibility: hidden;
}

.annotation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  &:hover {
    background-color: var(--sys-color-neutral-container);

    .bin-icon {
      visibility: visible;
    }
  }
}

.annotation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-break: break-word;
  padding-top: 15px;
  gap: 6px;
}

.annotation-identifier {
  padding: 4px 8px;
  border-radius: 10px;
  font-weight: bold;
  /* The identifier text will always be black to match the event title in the flame chart */
  color: var(--app-color-performance-sidebar-label-text);

  &.time-range {
    background-color: var(--app-color-performance-sidebar-time-range);
    color: var(--app-color-performance-sidebar-time-range-text);
  }
}

.entries-link {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2px;
  align-items: center;
}

.label {
  font-size: larger;
}

.annotation-tutorial-container {
  padding: 10px;
}

.tutorial-card {
  display: block;
  position: relative;
  margin: 10px 0;
  padding: 10px;
  border-radius: var(--sys-shape-corner-extra-small);
  overflow: hidden;
  border: 1px solid var(--sys-color-divider);
  background-color: var(--sys-color-base);
}

.tutorial-image {
  display: flex;
  justify-content: center;

  & > img {
    max-width: 100%;
    height: auto;
  }
}

.tutorial-title,
.tutorial-description,
.tutorial-shortcut {
  margin: 5px 0;
}

.tutorial-shortcut {
  padding: 0.1em 0.6em;
  border: 1px solid var(--sys-color-neutral-outline);
  font-size: 11px;
  background-color: var(--sys-color-neutral-container);
  color: var(--sys-color-on-surface);
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 var(--sys-color-cdt-base-container);
  line-height: 1.5;
  white-space: nowrap;
}
