/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.sidebar {
  padding-top: 8px;
}

.toggle-sidebar-button {
  width: 24px;
  height: 24px;
}

.tab-bar {
  display: flex;

  /* When the sidebar is collapsed, position the expand icon in the
   * center of it */
  .is-closed & {
    justify-content: center;
  }

  /* This means the sidebar is open, so we push the icon to the far
   * right of the tab-bar. */
  .sidebar-toggle-button[name="left-panel-close"] {
    margin-left: auto;
    margin-right: 4px;
  }
}
