/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: block;
  padding: 5px 10px;
}

.metrics-row {
  display: flex;
  flex-direction: row;
}

.metric {
  flex: 1;
  user-select: text;
  cursor: pointer;
  /* metric container is a button for a11y reasons, so remove default styles
   * */
  background: none;
  border: none;
  padding: 0;
  display: block;
  text-align: left;
}

.metric-value {
  font-size: 20px;
}

.metric-value-bad {
  color: var(--app-color-performance-bad);
}

.metric-value-ok {
  color: var(--app-color-performance-ok);
}

.metric-value-good {
  color: var(--app-color-performance-good);
}

.metric-score-unclassified {
  color: var(--sys-color-token-subtle);
}

.metric-label {
  font-size: 12px;
  font-weight: bold;
}
