/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.sidebar-toggle-button {
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.tab-bar {
  display: flex;

  .sidebar-toggle-button[name="left-panel-close"] {
    margin-left: auto;
    margin-right: 4px;
  }
}

.tabs-header {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  /* This is same as the sidebar expansion toggle button */
  height: 40px;
  margin-right: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.tabs-header input {
  background: none;
  border: none;
  color: var(--color-text-secondary);
  box-sizing: border-box;
  padding: 0 10px;
}

.tabs-header input[active] {
  color: var(--sys-color-on-surface-subtle);
}

.tab-slider {
  position: absolute;
  /* This is same as the height of tabs-header */
  top: 40px;
  height: 1px;
  background-color: var(--sys-color-on-surface-subtle);
  transition: left 150ms cubic-bezier(0, 0, 0.2, 1);
}

.tab-headers-bottom-line {
  height: 1px;
  width: 100%;
  background-color: var(--sys-color-divider);
}

.sidebar-body {
  padding: 0 10px;
}

devtools-select-menu {
  margin-top: 10px;
  height: 25px;
  border: none;
}

.metrics-row {
  display: flex;
  flex-direction: row;
}

.metric {
  margin-top: 10px;
  flex: 1;
}

.metric-value {
  font-size: 20px;
}

.metric-value-bad {
  color: var(--app-color-performance-bad);
}

.metric-value-ok {
  color: var(--app-color-performance-ok);
}

.metric-value-good {
  color: var(--app-color-performance-good);
}

.metric-score-unclassified {
  color: var(--sys-color-token-subtle);
}

.metric-label {
  font-size: 12px;
  font-weight: bold;
}

.navigation-wrapper summary {
  text-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
