/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.sidebar-toggle-button {
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.tab-bar {
  display: flex;
  /* When the sidebar is collapsed, position the expand icon in the
   * center of it */
  .is-closed & {
    justify-content: center;
  }

  /* This means the sidebar is open, so we push the icon to the far
   * right of the tab-bar. */
  .sidebar-toggle-button[name="left-panel-close"] {
    margin-left: auto;
    margin-right: 4px;
  }
}

.tabs-header {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  /* This is same as the sidebar expansion toggle button */
  height: 40px;
  margin-right: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.tabs-header input {
  background: none;
  border: none;
  color: var(--color-text-secondary);
  box-sizing: border-box;
  padding: 0 10px;
}

.tabs-header input[active] {
  color: var(--color-text-primary);
}

.tab-slider {
  position: absolute;
  /* This is same as the height of tabs-header */
  top: 40px;
  height: 1px;
  background-color: var(--color-text-primary);
  transition: left 150ms cubic-bezier(0, 0, 0.2, 1);
}

.tab-headers-bottom-line {
  height: 1px;
  width: 100%;
  background-color: var(--sys-color-divider);
}

.sidebar-body {
  padding: 0 4px;
}
