/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.timeline-summary {
  font-size: var(--sys-typescale-body4-size);
  display: flex;
  flex-direction: column;
  padding: var(--sys-size-4) var(--sys-size-8) var(--sys-size-4);
  gap: var(--sys-size-5);
  float: left;
}

.summary-range {
  font-weight: var(--ref-typeface-weight-medium);
}

.category-summary {
  gap: var(--sys-size-3);
  display: flex;
  flex-direction: column;
}

.category-row {
  display: inline-block;
}

.category-swatch {
  display: inline-block;
  width: var(--sys-size-6);
  height: var(--sys-size-6);
  margin-right: var(--sys-size-4);
  top: var(--sys-size-1);
  position: relative;
  border: var(--sys-size-1) solid var(--sys-color-neutral-outline);
}

.category-name {
  display: inline-block;
}

.category-value {
  text-align: right;
  position: relative;
  float: right;
  z-index: 0;
  width: var(--sys-size-19);
}

.background-bar-container {
  position: absolute;
  inset: 0 0 0 var(--sys-size-3);
  z-index: -1;
}

.background-bar {
  width: 100%;
  float: right;
  height: var(--sys-size-8);
  background-color: var(--sys-color-surface-yellow);
  border-bottom: var(--sys-size-1) solid var(--sys-color-yellow-outline);
}
