/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.timeline-summary {
  font-size: var(--sys-typescale-body4-size);
  display: flex;
  flex-direction: column;
  padding: var(--sys-size-4) var(--sys-size-8) var(--sys-size-4);
  gap: var(--sys-size-5);
  float: left;
}

.summary-range {
  font-weight: var(--ref-typeface-weight-medium);
}

.category-summary {
  gap: var(--sys-size-3);
  display: flex;
  flex-direction: column;
}

.category-row {
  display: inline-block;
}

.category-swatch {
  display: inline-block;
  width: var(--sys-size-6);
  height: var(--sys-size-6);
  margin-right: var(--sys-size-4);
  top: var(--sys-size-1);
  position: relative;
  border: var(--sys-size-1) solid var(--sys-color-neutral-outline);
}

.category-name {
  display: inline-block;
}

.category-value {
  text-align: right;
  position: relative;
  float: right;
  z-index: 0;
  width: var(--sys-size-19);
}

.background-bar-container {
  position: absolute;
  inset: 0 0 0 var(--sys-size-3);
  z-index: -1;
}

.background-bar {
  width: 100%;
  float: right;
  height: var(--sys-size-8);
  background-color: var(--sys-color-surface-yellow);
  border-bottom: var(--sys-size-1) solid var(--sys-color-yellow-outline);
}

.data-container {
  height: 200px;
}

.timeline-tree-view .data-grid {
  border-top: none !important; /* stylelint-disable-line declaration-no-important */

  tr .numeric-column,
  tr .site-column {
    border-left: none;
    border-bottom: var(--sys-size-1) solid var(--sys-color-divider);
  }

  .bottom-filler-td,
  th.sortable {
    border-left: none;
  }

  th {
    background-color: var(--sys-color-cdt-base-container);
  }

  tr.revealed.selected {
    background-color: transparent;
  }
}

.widget.vbox.timeline-tree-view {
  height: var(--sys-size-25);
  max-width: var(--sys-size-35);
}

.third-party-table {
  display: flex;
  margin: var(--sys-size-4) var(--sys-size-8) var(--sys-size-4);
  padding-left: var(--sys-size-4);
  padding-right: var(--sys-size-4);
  border-left: var(--sys-size-1) solid var(--sys-color-divider);
  border-right: var(--sys-size-1) solid var(--sys-color-divider);
  max-width: var(--sys-size-35);
}

.name-container {
  display: flex;
  align-items: center;
}

.entity-badge {
  margin-left: var(--sys-size-4);
}

.entity-badge-name {
  font-weight: var(--ref-typeface-weight-bold);
  padding-left: var(--sys-size-3);
  padding-right: var(--sys-size-3);
  background-color: var(--sys-color-tonal-container);
  border-radius: var(--sys-shape-corner-extra-small);
}

.activity-name {
  text-overflow: ellipsis;
  overflow: inherit;
  max-width: 60%;
}
