# devtools tests request http[s] resources from file:// origin. Let
# the tests access the resources.
Header set Access-Control-Allow-Origin "*"

<FilesMatch "\.(cgi)$">
  Header unset Access-Control-Allow-Origin
</FilesMatch>
