/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.report {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 100%;
  gap: var(--sys-size-6);
  padding-top: var(--sys-size-5);
  padding-bottom: var(--sys-size-5);
}

.header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: var(--sys-size-5);
  padding-left: var(--sys-size-6);
  padding-right: var(--sys-size-6);
  min-width: var(--sys-size-31);

  .title {
    font: var(--sys-typescale-headline4);
  }
}

.body {
  font: var(--sys-typescale-body4-regular);
}

.x-link {
  color: var(--sys-color-primary);
  text-decoration-line: underline;
  cursor: pointer;
}

.filter {
  padding-left: var(--sys-size-5);
  padding-right: var(--sys-size-6);
  flex-shrink: 0;
}

.data-grid {
  flex: auto;
}

.empty-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sys-size-2);
  padding: var(--sys-size-11) var(--sys-size-6) 0 var(--sys-size-6);
  flex-shrink: 0;
  min-width: var(--sys-size-31);
}

.empty-report-title {
  font: var(--sys-typescale-headline5);
}

.cookie-off {
  width: var(--sys-size-11);
  height: var(--sys-size-11);
}
