/*
 * Copyright 2025 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

 .dialog-container {
  width: 100%;
 }

.dialog-header {
  margin: var(--sys-size-6) var(--sys-size-8) var(--sys-size-5);
  font: var(--sys-typescale-headline5);
}

.buttons {
  margin: var(--sys-size-6) var(--sys-size-8) var(--sys-size-8);
  display:  flex;
  justify-content: flex-start;
  gap: var(--sys-size-5);
}

.main-content {
  color: var(--sys-color-on-surface-subtle);
  margin: 0 var(--sys-size-8);
}

.add-folder-button {
  margin-left: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: var(--sys-size-6) 0 var(--sys-size-4) 0;
}

li {
  display: flex;
  align-items: center;
  color: var(--sys-color-on-surface-subtle);
  border-radius: 0 var(--sys-shape-corner-full) var(--sys-shape-corner-full) 0;
  height: var(--sys-size-10);
  margin: 0 var(--sys-size-8);
  padding-left: var(--sys-size-9);
}

li:hover {
  background-color: var(--sys-color-state-hover-on-subtle);
}

li.selected {
  background-color: var(--app-color-navigation-drawer-background-selected);
}

.folder-icon {
  color: var(--icon-file-default);
  margin-right: var(--sys-size-4);
}

.selected .folder-icon {
  color: var(--icon-file-authored);
}

.theme-with-dark-background, :host-context(.theme-with-dark-background) {
  li.selected, .selected .folder-icon {
    color: var(--app-color-navigation-drawer-label-selected);
  }
}
