/*
 * Copyright 2019 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.data-grid {
  border: none;
}

.data-grid td .size-units {
  margin-left: 4px;
  font-size: 75%;
}

.data-grid tr:not(.selected) td .size-units {
  color: #999; /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.toolbar {
  border-bottom: 1px solid #ccc;
}
