/*
 * Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.profile-launcher-view {
    overflow: auto;
}

.profile-launcher-view-content {
    margin: 10px 16px;
    flex: auto 1 0;
}

.profile-launcher-view-content h1 {
    font-size: 15px;
    font-weight: normal;
    margin: 6px 0 10px 0;
}

.profile-launcher-view-content [is=dt-radio] {
    font-size: 13px;
}

.profile-launcher-view-content p {
    color: hsl(0, 0%, 45%);
    margin-top: 1px;
    margin-left: 22px;
}

.profile-launcher-view-content p [is=dt-checkbox] {
    display: flex;
}

.profile-launcher-view-content button.running {
    color: hsl(0, 100%, 58%);
}

.profile-launcher-view-content button.running:hover {
    color: hsl(0, 100%, 42%);
}

body.inactive .profile-launcher-view-content button.running:not(.toolbar-item) {
    color: rgb(220, 130, 130);
}

.profile-launcher-view-content > div {
    flex: auto 0 0;
}

.profile-launcher-view-content > .profile-isolate-selector-block {
    flex: auto 1 0;
}

.profile-isolate-selector-block button {
    min-width: 110px;
}

.profile-launcher-target-list {
    margin-bottom: 6px;
    border: 1px solid #ddd;
    flex: 150px 1 0;
}

.profile-memory-usage-item {
    padding: 4px;
    line-height: 16px;
    border-left: 3px solid transparent;
    overflow-x: hidden;
}

.profile-launcher-target-list .profile-memory-usage-item:hover:not(.selected) {
    background-color: var(--item-hover-color);
}

.javascript-vm-instances-list:focus .profile-memory-usage-item.selected {
    border-color: var(--selection-bg-color);
    background-color: var(--item-selection-bg-color);
}

.profile-memory-usage-item.selected {
    background-color: var(--item-selection-inactive-bg-color);
}

.profile-memory-usage-item > div {
    flex-shrink: 0;
    margin-right: 12px;
}

.profile-memory-usage-item-size {
    width: 60px;
    text-align: right;
}

.profile-memory-usage-item-trend {
    min-width: 5em;
    color: green;
}

.profile-memory-usage-item-trend.increasing {
    color: red;
}

.profile-isolate-selector-block > .profile-memory-usage-item {
    margin-left: 1px;
    margin-bottom: 4px;
    font-weight: bolder;
}

.profile-launcher-buttons {
    flex-wrap: wrap;
}

.profile-launcher-buttons button {
    min-width: 120px;
    height: 28px;
    margin: 4px 16px 4px 0;
}

@media (forced-colors: active) {
    .profile-memory-usage-item {
        forced-color-adjust: none;
        border-left-color: transparent;
    }
    .profile-memory-usage-item-trend,
    .profile-memory-usage-item-trend.increasing,
    .profile-launcher-view-content button.running,
    body.inactive .profile-launcher-view-content button.running:not(.toolbar-item) {
        color: ButtonText;
    }
    .profile-launcher-view-content button:not(:disabled):hover.running {
        color: HighlightText;
    }
    .javascript-vm-instances-list .profile-memory-usage-item:hover:not(.selected) {
        background-color: Highlight;
        color: HighlightText;
    }
    .javascript-vm-instances-list .profile-memory-usage-item:hover:not(.selected) .profile-memory-usage-item-trend,
    .javascript-vm-instances-list .profile-memory-usage-item:hover:not(.selected) .profile-memory-usage-item-trend.increasing {
        background-color: Highlight;
        color: HighlightText;
    }
    .javascript-vm-instances-list .profile-memory-usage-item.selected {
        background-color: ButtonText;
        border-color: Highlight;
        color: ButtonFace;
    }
    .javascript-vm-instances-list .profile-memory-usage-item.selected .profile-memory-usage-item-trend,
    .javascript-vm-instances-list .profile-memory-usage-item.selected .profile-memory-usage-item-trend.increasing {
        color: ButtonFace;
    }
    .javascript-vm-instances-list:focus .profile-memory-usage-item.selected,
    .javascript-vm-instances-list[data-keyboard-focus="true"]:focus .profile-memory-usage-item.selected {
        background-color: Highlight;
        border-color: ButtonText;
        color: HighlightText;
    }
}
