/*
 * Copyright 2020 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.shortcut-list {
  padding-left: 0;
  padding-right: 0;
}

.keybinds-key {
  padding: 0.1em 0.6em;
  border: 1px solid var(--sys-color-neutral-outline);
  font-size: 11px;
  background-color: var(--sys-color-neutral-container);
  color: var(--sys-color-on-surface);
  box-shadow: var(--box-shadow-outline-color);
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 var(--sys-color-cdt-base-container);
  line-height: 1.5;
  white-space: nowrap;
}

.keybinds-list-item {
  margin: 0 var(--sys-size-7);
  padding: var(--sys-size-4) 0;
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 30px 2fr 30px 30px;
}

.keybinds-list-item:not(.keybinds-category-header) {
  border-top: 1px solid var(--sys-color-divider);
}

.keybinds-list-item:focus-visible {
  background-color: var(--sys-color-tonal-container);
}

.keybinds-list-item.keybinds-editing {
  background-color: var(--sys-color-neutral-container);
}

.keybinds-list-text.keybinds-action-name {
  grid-row: 1 / 3;
}

.keybinds-shortcut,
.keybinds-info {
  grid-row: auto;
  grid-column: 3 / span 1;
}

.keybinds-error {
  color: var(--sys-color-error);
}

.keybinds-list-item.keybinds-editing .keybinds-shortcut {
  display: flex;
}

.keybinds-modified {
  grid-column: 2 / span 1;
  margin-top: var(--sys-size-3);
}

.keybinds-list-item button[disabled] {
  opacity: 40%;
}

.keybinds-cancel-button {
  grid-column: -1 / span 1;
}

.keybinds-edit-button {
  display: none;
  grid-row: 1 / span 1;
  grid-column: 5 / span 1;
}

.keybinds-list-item:not(.keybinds-editing):hover .keybinds-edit-button,
.keybinds-list-item:not(.keybinds-editing):focus-within .keybinds-edit-button {
  display: inline-block;
}

.keybinds-list-text {
  min-height: var(--sys-size-12);
  display: flex;
  align-items: center;
  user-select: none;
  color: var(--sys-color-on-surface);
  text-align: start;
  position: relative;
  margin-right: 0;
}

.keybinds-category-header {
  display: flex;
  align-items: center;
  font: var(--sys-typescale-body4-bold);
  height: var(--sys-size-13);
  padding: var(--sys-size-4) var(--sys-size-7);
  white-space: nowrap;
}

.keybinds-header-wrapper + .keybinds-list-item-wrapper > .keybinds-list-item {
  border: none;
}

.keybinds-list-item-wrapper:has(:not(.keybinds-category-header):hover),
.keybinds-list-item-wrapper:has(.keybinds-list-item:not(.keybinds-editing)):focus-within {
  background: var(--sys-color-state-hover-on-subtle);
}

.keybinds-set-select label p {
  display: inline;
  color: var(--sys-color-on-surface);
}

button.text-button {
  width: fit-content;
  align-self: flex-end;
}

.keybinds-list-text input {
  margin: 0 2px;
}

.keybinds-set-select {
  margin: 0;
  padding: var(--sys-size-5) var(--sys-size-7);

  & .settings-select {
    display: flex;
    justify-content: space-between;

    & label {
      padding: 0;
    }
  }
}

.keybinds-list-text:has(.keybinds-delete-button) {
  grid-column: 3 / -1;
}

.docs-link.devtools-link {
  align-self: flex-start;
  min-height: 2em;
  line-height: 2em;
  margin-bottom: 4px;
}

.keybinds-footer {
  padding: var(--sys-size-5) var(--sys-size-7);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: fit-content;
  margin-top: 10px;
}
