/*
 * Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

input[type="checkbox"] {
  width: var(--sys-size-6);
  height: var(--sys-size-6);
  accent-color: var(--sys-color-primary-bright);
  color: var(--sys-color-on-primary);
  position: relative;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover::after,
  &:active::before {
    content: "";
    height: var(--sys-size-11);
    width: var(--sys-size-11);
    border-radius: var(--sys-shape-corner-full);
    position: absolute;
  }

  &:not(:disabled):hover::after {
    background-color: var(--sys-color-state-hover-on-subtle);
  }

  &:not(:disabled):active::before {
    background-color: var(--sys-color-state-ripple-neutral-on-subtle);
  }

  &:not(:disabled):focus-visible::before {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 5px;
    position: absolute;
    border: var(--sys-size-2) solid var(--sys-color-state-focus-ring);
  }

  &.small:hover::after,
  &.small:active::before {
    height: var(--sys-size-6);
    width: var(--sys-size-6);
    border-radius: var(--sys-size-2);
  }
}
