/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.devtools-text-input {
  height: 32px;
  width: 100%;
  padding: 8px 11px;
  line-height: 1.16;
  letter-spacing: 0.015em;
  border: 1px solid var(--color-input-outline);
  color: var(--color-text-primary);
  border-radius: 3px;
  background-color: var(--color-background);
  font-family: inherit;
  font-size: inherit;
}

.devtools-text-input:focus-visible {
  border: 1px solid transparent;
  outline: none;
  box-shadow: 0 0 0 2px var(--color-input-outline-active);
}

.devtools-text-input::placeholder {
  color: var(--color-input-text-disabled);
}
