/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.devtools-text-input {
  height: 32px;
  width: 100%;
  padding: 8px 11px;
  line-height: 1.16;
  letter-spacing: 0.015em;
  border: 1px solid var(--sys-color-neutral-outline);
  color: var(--sys-color-on-surface);
  border-radius: 3px;
  background-color: var(--sys-color-cdt-base-container);
  font-family: inherit;
  font-size: inherit;
}

.devtools-text-input:focus-visible {
  outline: none;
  border-color: var(--sys-color-state-focus-ring);
}

.devtools-text-input::placeholder {
  color: var(--sys-color-state-disabled);
}
