/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:host {
  width: 100%;
  height: 100%;
  user-select: text;
  display: flex;
  flex-direction: column;
  background-color: var(--sys-color-cdt-base-container);
}

.chat-ui {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.input-form {
  display: flex;
  flex-direction: column;
  padding: var(--sys-size-8) var(--sys-size-5) 0 var(--sys-size-5);
  max-width: var(--sys-size-36);
  width: 100%;
}

.chat-input-container {
  margin: var(--sys-size-4) 0;
  width: 100%;
  display: flex;
  position: relative;
}

.chat-input {
  --right-padding:
    calc(
      var(--sys-size-3) + 26px
    ); /* Gap between the button and the edge + icon's width */

  scrollbar-width: none;
  field-sizing: content; /* stylelint-disable-line property-no-unknown */
  resize: none;
  width: 100%;
  max-height: 84px; /* 4 rows */
  border: 1px solid var(--sys-color-neutral-outline);
  border-radius: var(--sys-shape-corner-small);
  font: var(--sys-typescale-body4-regular);
  line-height: 18px;
  min-height: var(--sys-size-11);
  padding:
    var(--sys-size-4) var(--right-padding) var(--sys-size-4)
    var(--sys-size-4);
  color: var(--sys-color-on-surface);
  background-color: var(--sys-color-cdt-base-container);

  &::placeholder {
    opacity: 60%;
  }

  &:focus-visible {
    outline: 1px solid var(--sys-color-primary);
    border-color: var(--sys-color-primary);
  }

  &:disabled {
    color: var(--sys-color-state-disabled);
    background-color: var(--sys-color-state-disabled-container);
  }
}

.chat-input-button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 3px;
  padding-right: var(--sys-size-3);
}

.disclaimer {
  display: flex;
  justify-content: center;
  border-top: var(--sys-size-1) solid var(--sys-color-divider);

  .disclaimer-text {
    max-width: var(--sys-size-36);
    color: var(--sys-color-on-surface-subtle);
    font: var(--sys-typescale-body5-regular);
    text-wrap: pretty;
    padding: var(--sys-size-2) var(--sys-size-5);
  }
}

.messages-scroll-container {
  overflow: auto;
  flex-grow: 1;
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
  width: 100%;
}

.messages-container {
  margin: 0 auto;
  max-width: var(--sys-size-36);
}

.chat-message {
  user-select: text;
  cursor: initial;
  display: flex;
  flex-direction: column;
  gap: var(--sys-size-5);
  width: 100%;
  padding: var(--sys-size-7) var(--sys-size-5);
  font-size: 12px;
  word-break: break-word;
  border-bottom: var(--sys-size-1) solid var(--sys-color-divider);

  &:last-child {
    border-bottom: 0;
  }

  .message-info {
    display: flex;
    align-items: center;
    height: var(--sys-size-11);
    gap: var(--sys-size-4);
    font: var(--sys-typescale-body4-bold);

    img {
      border: 0;
      border-radius: var(--sys-shape-corner-full);
      display: block;
      height: var(--sys-size-9);
      width: var(--sys-size-9);
    }

    h2 {
      font: var(--sys-typescale-body4-bold);
    }
  }

  .actions {
    display: flex;
    gap: var(--sys-size-8);
    justify-content: space-between;
    align-items: flex-end;
  }

  /*
    Scroll driven animation below is used for generating shadows
    when the `.suggestions` area is scrollable.
  */
  .suggestions {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    gap: var(--sys-size-3);
    scroll-timeline: --scroll-timeline x; /* stylelint-disable-line property-no-unknown */
    animation: detect-scroll;
    animation-timeline: --scroll-timeline; /* stylelint-disable-line property-no-unknown */
    animation-fill-mode: none;
    position: relative;
  }

  .suggestions::before,
  .suggestions::after {
    content: "";
    display: block;
    position: sticky;
    min-width: var(--sys-size-3);
    height: var(--sys-size-11);
    left: 0;
    right: 0;
    z-index: 999;
    animation-name: reveal;
    animation-timeline: --scroll-timeline; /* stylelint-disable-line property-no-unknown */
    animation-fill-mode: both;
  }

  .suggestions::before {
    top: 0;
    visibility: var(--visibility-if-can-scroll, hidden);
    animation-range: var(--sys-size-6) var(--sys-size-11); /* stylelint-disable-line property-no-unknown */
    background:
      radial-gradient(
        farthest-side at 0 50%,
        var(--app-color-scroll-area-shadow-start),
        transparent
      );
  }

  .suggestions::after {
    bottom: 0;
    visibility: var(--visibility-if-can-scroll, hidden);
    animation-direction: reverse;
    /* stylelint-disable-next-line property-no-unknown */
    animation-range:
      calc(100% - var(--sys-size-11))
      calc(100% - var(--sys-size-6));
    background:
      radial-gradient(
        farthest-side at 100% 50%,
        var(--app-color-scroll-area-shadow-start),
        transparent
      );
  }

  .aborted {
    color: var(--sys-color-on-surface-subtle);
  }
}

.select-element {
  display: flex;
  gap: var(--sys-size-3);
  align-items: center;
  width: 100%;

  .resource-link {
    padding: var(--sys-size-2) var(--sys-size-4);
    font: var(--sys-typescale-body4-size);
    border: var(--sys-size-1) solid var(--sys-color-divider);
    border-radius: var(--sys-shape-corner-extra-small);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: var(--sys-size-32);
    cursor: pointer;

    .icon {
      display: inline-flex;
      vertical-align: top;
      margin-right: var(--sys-size-3);
      width: var(--sys-size-9);
      height: var(--sys-size-9);
    }

    .image.icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: var(--sys-size-3);

      img {
        max-width: var(--sys-size-8);
        max-height: var(--sys-size-8);
      }
    }
  }

  .resource-link.not-selected {
    color: var(--sys-color-state-disabled);
    border-color: var(--sys-color-neutral-outline);
  }
}

.indicator {
  color: var(--sys-color-green-bright);
}

.summary {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: var(--sys-size-3);
  line-height: var(--sys-size-9);
  cursor: default;
  gap: var(--sys-size-3);
  justify-content: center;
  align-items: center;

  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font: var(--sys-typescale-body4-regular);

    .paused {
      font: var(--sys-typescale-body4-bold);
    }
  }
}

.step-code {
  display: flex;
  flex-direction: column;
  gap: var(--sys-size-2);
}

.js-code-output {
  devtools-code-block {
    --code-block-max-code-height: 50px;
  }
}

.context-details {
  devtools-code-block {
    --code-block-max-code-height: 80px;
  }
}

.step {
  width: fit-content;
  background-color: var(--sys-color-surface3);
  border-radius: var(--sys-size-6);
  position: relative;

  &.empty {
    pointer-events: none;

    .arrow {
      display: none;
    }
  }

  &:not(&[open]):hover::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: var(--sys-color-state-hover-on-subtle);
  }

  &.paused {
    .indicator {
      color: var(--sys-color-on-surface-subtle);
    }
  }

  &.canceled {
    .summary {
      color: var(--sys-color-state-disabled);
      text-decoration: line-through;
    }

    .indicator {
      color: var(--sys-color-state-disabled);
    }
  }

  devtools-markdown-view {
    --code-background-color: var(--sys-color-surface1);
  }

  devtools-icon {
    vertical-align: bottom;
  }

  devtools-spinner {
    width: var(--sys-size-9);
    height: var(--sys-size-9);
    padding: var(--sys-size-2);
  }

  &[open] {
    width: auto;

    .summary .title {
      white-space: normal;
      overflow: unset;
    }

    .summary .arrow {
      transform: rotate(180deg);
    }
  }

  summary::marker {
    content: "";
  }

  .step-details {
    padding: 0 var(--sys-size-5) var(--sys-size-4) var(--sys-size-12);
    display: flex;
    flex-direction: column;
    gap: var(--sys-size-6);

    devtools-code-block {
      --code-block-background-color: var(--sys-color-surface1);
    }
  }
}

.input-header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
  line-height: 20px;
  gap: var(--sys-size-8);

  & .feedback-icon {
    width: var(--sys-size-8);
    height: var(--sys-size-8);
  }

  & .header-link-container {
    display: inline-flex;
    align-items: center;
    gap: var(--sys-size-2);
    flex-shrink: 0;
  }

  & .header-link-container:first-of-type {
    flex-shrink: 1;
    min-width: 0;
  }
}

.link {
  color: var(--text-link);
  text-decoration: underline;
  cursor: pointer;
}

button.link {
  border: none;
  background: none;
  font: inherit;
}

.select-an-element-text {
  margin-left: 2px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}

.empty-state-container {
  display: grid;
  align-items: center;
  justify-content: center;
  font: var(--sys-typescale-headline4);
  gap: var(--sys-size-11);
  padding: var(--sys-size-3);

  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-self: end;
    gap: var(--sys-size-5);

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--sys-size-14);
      width: var(--sys-size-14);
      border-radius: var(--sys-shape-corner-small);
      background:
        linear-gradient(
          135deg,
          var(--sys-color-gradient-primary),
          var(--sys-color-gradient-tertiary)
        );
    }

    h1 {
      font: var(--sys-typescale-headline4);
    }
  }

  .suggestions {
    display: flex;
    flex-direction: column;
    gap: var(--sys-size-5);
    align-items: center;
    justify-content: center;
    align-self: start;
  }
}

.opt-in {
  border-radius: var(--sys-shape-corner-small);
  padding: var(--sys-size-6) var(--sys-size-8);
  box-shadow: var(--drop-shadow);
  font: var(--sys-typescale-body4-regular);
  margin: var(--sys-size-8);
  max-width: var(--sys-size-34);
  display: flex;

  .opt-in-icon-container {
    border-radius: var(--sys-shape-corner-extra-small);
    width: var(--sys-size-9);
    height: var(--sys-size-9);
    background:
      linear-gradient(
        135deg,
        var(--sys-color-gradient-primary),
        var(--sys-color-gradient-tertiary)
      );
    margin-right: var(--sys-size-5);

    devtools-icon {
      margin: var(--sys-size-2);
    }
  }
}

.error-step {
  color: var(--sys-color-error);
}

.side-effect-confirmation {
  display: flex;
  flex-direction: column;
  gap: var(--sys-size-5);
  padding-bottom: var(--sys-size-4);
}

.side-effect-buttons-container {
  display: flex;
  gap: var(--sys-size-4);
}

@keyframes reveal {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes detect-scroll {
  from,
  to {
    --visibility-if-can-scroll: visible;
  }
}
