.data-grid {
  flex: auto;
  border: none;
}

.data-grid .data {
  background-image: none;
}

.data-grid td {
  /* border-bottom: 1px solid #ccc; */
  border-left-color: #ccc; /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.data-grid tr.selected {
  background-color: #def; /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.data-grid th {
  border-left-color: #ccc; /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.protocol-message-sent {
  background-color: hsl(281deg 64% 95%); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.protocol-monitor-toolbar {
  border-bottom: var(--divider-border);
}

.error {
  background-color: hsl(0deg 100% 97%); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
  color: #f00; /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}
