/*
 * Copyright 2022 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.divider {
  height: 1px;
  width: inherit;
  background-color: var(--color-details-hairline);
}

.code-snippet {
  width: 100%;
  padding-left: 6px;
  font-family: var(--source-code-font-family);
  font-size: var(--source-code-font-size);
  color: var(--color-text-secondary);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 100;
}

input {
  height: 12px;
  width: 12px;
  flex-shrink: 0;
  margin: 3px 0;
}

details > summary {
  height: 18px;
  list-style: none;
  display: flex;
  padding: 0 4px 0 6px;
  align-items: center;
}

details > summary::before {
  display: block;
  user-select: none;
  -webkit-mask-image: var(--image-file-treeoutlineTriangles);
  -webkit-mask-size: 32px 24px;
  -webkit-mask-position: 0 0;
  background-color: var(--color-text-secondary);
  content: "";
  height: 12px;
  width: 9px;
  overflow: hidden;
}

details[open] > summary::before {
  -webkit-mask-position: -16px 0;
}

.group-header {
  display: inline-flex;
  align-items: center;
}

.group-header-title {
  margin-left: 4px;
  font-weight: 500;
  font-size: var(--source-code-font-size);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.breakpoint-item {
  display: flex;
  align-items: center;
  line-height: 13px;
  height: 18px;
}

.breakpoint-item:hover {
  background-color: var(--color-background-elevation-1);
}

.breakpoint-item.hit {
  --override-breakpoint-hit-background: rgb(255 255 194);

  background-color: var(--override-breakpoint-hit-background);
}

.checkbox-label {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.location {
  line-height: 14px;
  margin: 0 8px;
}
