/*
 * Copyright 2022 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  flex-grow: 1;
}

.row {
  display: flex;
  flex-direction: row;
  color: var(--color-syntax-1);
  font-family: var(--monospace-font-family);
  font-size: var(--monospace-font-size);
  align-items: center;
  line-height: 18px;
  margin: 2em 0 0 0.5em;
}

.row:first-child {
  margin-top: 0.5em;
}

.row devtools-button {
  line-height: 1;
  margin-left: 0.5em;
}

.padded {
  margin: 0.25em 0 0 2em;
}

.separator {
  margin-right: 0.5em;
  color: var(--color-text-primary);
}

.editable {
  cursor: text;
  color: var(--color-text-primary);
  overflow-wrap: anywhere;
  min-height: 18px;
  line-height: 18px;
  min-width: 0.5em;
  background: transparent;
  border: none;
  outline: none;
  display: inline-block;
}

.editable.red {
  color: var(--color-syntax-1);
}

.editable:hover,
.editable:focus {
  box-shadow: 0 0 0 1px var(--color-details-hairline);
  border-radius: 2px;
}

.center-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  margin: 1em;
  max-width: 300px;
  text-align: center;
}

.error-header {
  font-weight: bold;
  margin-bottom: 1em;
}

.error-body {
  line-height: 1.5em;
  color: var(--color-text-secondary);
}
