/*
 * Copyright 2015 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  overflow: hidden;

  --timeline-controls-width: 150px;
}

.toolbar-view-container {
  min-height: fit-content;
}

.animation-node-row {
  width: 100%;
  display: flex;
  border-bottom: var(--sys-size-1) dashed var(--sys-color-divider);
}

.animation-node-description {
  padding-left: var(--sys-size-5);
  overflow: hidden;
  position: relative;
  background-color: var(--sys-color-cdt-base-container);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  white-space: nowrap;
  flex: 0 0 var(--timeline-controls-width);
  z-index: 1;
}

.animation-node-description > * {
  flex: 0 0 auto;
}

.animation-timeline-row {
  height: var(--sys-size-13);
  position: relative;
}

path.animation-keyframe {
  fill-opacity: 20%;
}

.animation-node-selected path.animation-keyframe,
svg.animation-ui g:first-child:hover path.animation-keyframe {
  fill-opacity: 40%;
}

line.animation-line {
  stroke-width: var(--sys-size-2);
  stroke-linecap: round;
  fill: none;
}

line.animation-delay-line {
  stroke-width: var(--sys-size-2);
  stroke-dasharray: 6, 4;
}

line.animation-delay-line.animation-fill {
  stroke-dasharray: none;
}

circle.animation-keyframe-point {
  fill: var(--sys-color-cdt-base-container);
}

circle.animation-endpoint,
circle.animation-keyframe-point {
  stroke-width: var(--sys-size-2);
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  transform: scale(1);
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

circle.animation-endpoint:active,
circle.animation-keyframe-point:active {
  transform: scale(1);
}

.animation-ui circle.animation-endpoint:hover,
.animation-ui circle.animation-keyframe-point:hover {
  transform: scale(1.2);
}

.animation-name {
  position: absolute;
  top: var(--sys-size-5);
  color: var(--sys-color-on-surface);
  text-align: center;
  margin-left: calc(-1 * var(--sys-size-5));
  white-space: nowrap;
}

.animation-timeline-toolbar-container {
  display: flex;
  background-color: var(--sys-color-cdt-base-container);
  border-bottom: var(--sys-size-1) solid var(--sys-color-divider);
  flex: 0 0 auto;
}

.animation-timeline-header {
  height: var(--sys-size-12);
  border-bottom: var(--sys-size-1) solid var(--sys-color-divider);
  flex-shrink: 0;
  display: flex;
}

.animation-timeline-header::after {
  content: '';
  height: calc(100% - var(--sys-size-16) - var(--sys-size-12));
  position: absolute;
  width: var(--timeline-controls-width);
  left: 0;
  margin-top: var(--sys-size-12);
  background-color: var(--sys-color-cdt-base-container);
  z-index: 0;
  border-right: var(--sys-size-1) solid var(--sys-color-divider);
}

.animation-controls {
  flex: 0 0 var(--timeline-controls-width);
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-right: var(--sys-size-5);
}

.animation-timeline-current-time {
  flex: 0 0 auto;
  line-height: var(--sys-size-12);
  margin-right: 5px;
}

.animation-grid-header {
  flex: 1 0 auto;
  z-index: 2;
}

.animation-grid-header.scrubber-enabled {
  cursor: pointer;
}

.animation-timeline-buffer {
  height: var(--sys-size-16);
  flex: 0 0 auto;
  border-bottom: var(--sys-size-1) solid var(--sys-color-divider);
  display: flex;
  padding: 0 var(--sys-size-2);
}

.animation-timeline-buffer-hint {
  display: none;
}

.animation-time-overlay {
  background-color: var(--sys-color-on-surface);
  opacity: 5%;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.animation-timeline-end > .animation-time-overlay {
  visibility: hidden;
}

.animation-scrubber {
  opacity: 100%;
  position: absolute;
  left: 10px;
  height: 100%;
  width: 100%;
  top: var(--sys-size-12);
  border-left: var(--sys-size-1) solid var(--sys-color-error);
  z-index: 2;
}

.animation-scrubber-line {
  width: 11px;
  background: linear-gradient(
    to right,
    transparent 5px,
    var(--sys-color-error) 5px,
    var(--sys-color-error) var(--sys-size-4),
    transparent var(--sys-size-4)
  );
  position: absolute;
  top: calc(-1 * var(--sys-size-12));
  height: var(--sys-size-12);
  left: calc(-1 * var(--sys-size-4));
  padding: 0 5px;
  z-index: 3;
}

.animation-scrubber-head {
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  background: var(--sys-color-error);
  position: absolute;
  left: var(--sys-size-2);
  top: var(--sys-size-1);
  z-index: 4;
}

.grid-overflow-wrapper {
  position: absolute;
  left: calc(var(--timeline-controls-width) - 10px);
  top: 76px;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

svg.animation-timeline-grid {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

rect.animation-timeline-grid-line {
  fill: var(--sys-color-divider);
}

.animation-timeline-row > svg.animation-ui {
  position: absolute;
}

.animation-node-timeline {
  flex-grow: 1;
}

.animation-node-description > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100%;
}

.animation-node-removed {
  filter: saturate(0);
  cursor: not-allowed;
}

.animation-node-removed-overlay {
  width: 100%;
  height: 100%;
  z-index: 100;
  cursor: not-allowed;
}

svg.animation-ui g:first-child {
  opacity: 100%;
}

svg.animation-ui circle:focus-visible,
svg.animation-ui path:focus-visible {
  outline: var(--sys-size-2) solid -webkit-focus-ring-color;
}

.animation-tail-iterations {
  opacity: 50%;
}

.animation-keyframe-step line {
  stroke-width: 2;
  stroke-opacity: 30%;
}

text.animation-timeline-grid-label {
  font-size: 10px;
  fill: var(--sys-color-token-subtle);
  text-anchor: middle;
}

.animation-timeline-rows,
.animation-timeline-rows-hint,
.animation-timeline-buffer-hint {
  flex-grow: 1;
  overflow: hidden auto;
  z-index: 1;
}

.animation-timeline-rows-hint {
  display: none;
}

.animation-timeline-buffer:not(:empty) ~ .animation-timeline-rows:empty {
  flex-grow: 0;
}

.animation-timeline-rows:empty {
  display: none;
}

.animation-timeline-buffer:not(:empty)
  ~ .animation-timeline-rows:empty
  ~ .animation-timeline-buffer-hint:not(:empty)
  ~ .animation-timeline-rows-hint,
.animation-timeline-buffer:empty ~ .animation-timeline-buffer-hint {
  font-size: var(--sys-typescale-body2-size);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--timeline-controls-width);
  padding: 10px;
}

.animation-controls-toolbar {
  flex: 0 0 auto;
}

.animation-node-row.animation-node-selected {
  background-color: var(--sys-color-state-ripple-primary);
}

.animation-node-selected > .animation-node-description {
  background-color: var(--sys-color-tonal-container);
}

.animation-buffer-preview {
  height: var(--sys-size-14);
  margin: var(--sys-size-3) var(--sys-size-2);
  background-color: var(--sys-color-neutral-container);
  border: var(--sys-size-1) solid transparent;
  border-radius: var(--sys-size-2);
  flex: 1 1;
  padding: var(--sys-size-3);
  max-width: 100px;
  animation: newGroupAnim 200ms;
  position: relative;
}

.animation-buffer-preview.no-animation {
  animation: none;
}

.animation-buffer-preview .preview-icon {
  position: absolute;
  width: var(--sys-size-7);
  height: var(--sys-size-7);
  right: var(--sys-size-1);
  bottom: var(--sys-size-2);
  opacity: 60%;
}

.animation-buffer-preview-animation {
  width: 100%;
  height: 100%;
  border-radius: var(--sys-size-2) 0 0 var(--sys-size-2);
  position: absolute;
  top: 0;
  left: 0;
  background: var(--sys-color-tonal-container);
  opacity: 0%;
  border-right: var(--sys-size-1) solid var(--sys-color-divider);
}

.animation-buffer-preview:focus-visible {
  outline: -webkit-focus-ring-color auto 5px;
}

.animation-buffer-preview.selected .preview-icon {
  opacity: 100%;
}

.animation-buffer-preview:not(.selected):focus-visible,
.animation-buffer-preview:not(.selected):hover {
  background-color: var(--sys-color-surface-variant);

  & .preview-icon {
    opacity: 80%;
  }
}

.animation-buffer-preview.selected {
  background-color: var(--sys-color-tonal-container);
}

.animation-paused {
  align-items: center;
  justify-content: center;
  display: none;
}

.animation-paused::before,
.animation-paused::after {
  content: '';
  background: var(--sys-color-cdt-base-container);
  width: 7px;
  height: var(--sys-size-9);
  border-radius: var(--sys-size-2);
  margin: var(--sys-size-2);
  border: var(--sys-size-1) solid var(--sys-color-divider);
}

.animation-buffer-preview.paused .animation-paused {
  display: flex;
}

.animation-buffer-preview > svg > line {
  stroke-width: var(--sys-size-1);
}

.animation-buffer-preview.selected > svg > line {
  stroke: var(
    --sys-color-on-tonal-container
  ) !important; /* stylelint-disable-line declaration-no-important */
}

@keyframes newGroupAnim {
  from {
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0%);
  }

  to {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}

.animation-playback-rate-control {
  margin: var(--sys-size-3) 0 var(--sys-size-3) var(--sys-size-2);
  display: flex;
  width: 120px;
}

.animation-playback-rate-button {
  border-width: var(--sys-size-1);
  border-style: solid;
  border-color: var(--sys-color-tonal-outline);
  border-right-width: 0;
  color: var(--sys-color-on-surface);
  display: inline-block;
  margin-right: calc(-1 * var(--sys-size-1));
  padding: var(--sys-size-1) var(--sys-size-3);
  background-color: transparent;
  flex: 1 0 auto;
  text-align: center;
}

.animation-playback-rate-button:first-child {
  border-radius: var(--sys-shape-corner-extra-small) 0 0 var(--sys-shape-corner-extra-small);
}

.animation-playback-rate-button:last-child {
  border-radius: 0 var(--sys-shape-corner-extra-small) var(--sys-shape-corner-extra-small) 0;
  border-right-width: var(--sys-size-1);
}

.animation-playback-rate-button.selected {
  color: var(--sys-color-on-tonal-container);
  background-color: var(--sys-color-tonal-container);
  border-color: var(--sys-color-tonal-container);
  z-index: 1;
}

.animation-playback-rate-button.selected:focus-visible {
  color: var(--sys-color-on-surface);
}

.animation-playback-rate-button:focus-visible {
  outline: var(--sys-size-2) solid var(--sys-color-primary);
  outline-offset: var(--sys-size-2);
  z-index: 9999;
}

.animation-playback-rate-button:not(.selected, [disabled]):hover {
  background: var(--sys-color-state-hover-on-subtle);
}

.animation-playback-rate-button[disabled] {
  background: unset;
  border-color: var(--sys-color-state-disabled);
  color: var(--sys-color-state-disabled);
}

.animation-remove-button {
  position: absolute;
  top: -3px;
  right: -3px;
  background: var(--sys-color-token-subtle);
  border-radius: var(--sys-shape-corner-medium-small);
  border: 0;
  height: var(--sys-size-8);
  width: var(--sys-size-8);
  z-index: 100;
  display: none;
  padding: 0;

  & > devtools-icon {
    height: var(--sys-size-8);
    width: var(--sys-size-8);
    color: var(--sys-color-cdt-base-container);
  }

  &:hover {
    background-color: var(--sys-color-on-surface);
  }
}

.animation-group-preview-ui {
  position: relative;
}

.animation-group-preview-ui:hover .animation-remove-button {
  display: flex;
}

.timeline-controls-resizer {
  position: absolute;
  width: var(--sys-size-4);
  height: 100%;
  left: var(--timeline-controls-width);
  top: 104px;
  z-index: 3;
  /* We put this a bit to the left of the line to allow dragging
  the delay point of the keyframes */
  margin-left: calc(-1 * var(--sys-size-3));
}

@media (forced-colors: active) {
  .animation-playback-rate-button.selected,
  .animation-playback-rate-button.selected:first-child,
  .animation-playback-rate-button.selected:first-child:focus-visible,
  .animation-playback-rate-button:focus-visible {
    forced-color-adjust: none;
    color: HighlightText;
    background-color: Highlight;
  }

  .animation-node-description:focus-visible {
    background-color: var(--sys-color-cdt-base-container);
    forced-color-adjust: none;
  }

  .monospace {
    forced-color-adjust: auto;
  }
}
