/**
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.styles-element-state-pane {
  overflow: hidden;
  padding-left: 2px;
  background-color: var(--sys-color-cdt-base-container);
  border-bottom: 1px solid var(--sys-color-divider);
  margin-top: 0;
  padding-bottom: 2px;
}

.styles-element-state-pane > .page-state-checkbox {
  margin-block: 6px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.styles-element-state-pane .section-header {
  margin: 8px 4px 6px;
  color: var(--color-text-secondary);
}

.styles-element-state-pane > table {
  width: 100%;
  border-spacing: 0;
}

.styles-element-state-pane td {
  padding: 0;
}

.pseudo-states-container {
  display: grid;
  column-gap: 12px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
}

.pseudo-states-container.specific-pseudo-states {
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 4px;
}
