/**
 * Copyright 2022 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.styles-layers-pane {
  overflow: hidden;
  padding-left: 2px;
  background-color: var(--color-background-elevation-1);
  border-bottom: 1px solid var(--color-details-hairline);
  margin-top: 0;
  padding-bottom: 2px;
}

.styles-layers-pane > div {
  font-weight: bold;
  margin: 8px 4px 6px;
}

.styles-layers-pane > table {
  width: 100%;
  border-spacing: 0;
}

.styles-layers-pane td {
  padding: 0;
}
