/*
 * Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

@scope to (devtools-widget > *) {
  * {
    box-sizing: border-box;
    font-size: var(--sys-typescale-body4-size);
  }

  .header {
    background-color: var(--sys-color-surface2);
    border-bottom: var(--sys-size-1) solid var(--sys-color-divider);
    line-height: 1.6;
    overflow: hidden;
    padding: 0 5px;
    white-space: nowrap;
  }

  .header::marker {
    color: var(--sys-color-on-surface-subtle);
    font-size: var(--sys-typescale-body5-size);
    line-height: 1;
  }

  .header:focus {
    background-color: var(--sys-color-tonal-container);
  }

  .content-section {
    padding: var(--sys-size-8);
    border-bottom: var(--sys-size-1) solid var(--sys-color-divider);
    overflow-x: hidden;
  }

  .content-section-title {
    font-size: var(--sys-typescale-body4-size);
    font-weight: 500;
    line-height: 1.1;
    margin: 0;
    padding: 0;
  }

  .checkbox-settings {
    margin-top: var(--sys-size-5);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--sys-size-4);

    > div {
      display: flex;
    }
  }

  devtools-checkbox {
    /* Allows label text to get ellipsed */
    flex-shrink: unset;
    margin: 0 var(--sys-size-4) 0 0;
    padding: 0;
  }

  .select-settings {
    margin-top: var(--sys-size-8);
    width: fit-content;
  }

  .select-label {
    display: flex;
    flex-direction: column;
  }

  .select-label span {
    margin-bottom: var(--sys-size-3);
  }

  .elements {
    margin-top: var(--sys-size-6);
    color: var(--sys-color-token-tag);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    gap: var(--sys-size-5);
  }

  .element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--sys-size-5);
  }

  .show-element {
    flex: none;
  }

  select {
    min-width: 0;
    max-width: 150px;
  }

  .color-picker {
    opacity: 0%;
  }

  .color-picker-label {
    border: var(--sys-size-1) solid var(--sys-color-neutral-outline);
    cursor: default;
    display: inline-block;
    flex: none;
    height: 10px;
    width: 10px;
    position: relative;

    &:focus-within {
      outline: var(--sys-size-2) solid var(--sys-color-state-focus-ring);
      outline-offset: var(--sys-size-2);
      border-radius: var(--sys-size-2);
    }
  }
  /* We set dimensions for the invisible input to support quick highlight a11y feature
  that uses the dimensions to draw an outline around the element. */
  .color-picker-label input[type="color"] {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .color-picker-label:hover,
  .color-picker-label:focus {
    border: var(--sys-size-1) solid var(--sys-color-outline);
    transform: scale(1.2);
  }

  .node-text-container {
    line-height: var(--sys-typescale-body4-line-height);
    padding: 0 0.5ex;
    border-radius: 5px;
  }

}
