/*
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.flame-chart-main-pane {
  overflow: hidden;

  --selected-group-background: hsl(215deg 85% 98%);
  --selected-group-border: hsl(216deg 68% 54%);
}

:host-context(.theme-with-dark-background) .flame-chart-main-pane {
  --selected-group-background: hsl(215deg 85% 15%);
  --selected-group-border: hsl(216deg 68% 46%);
}

.flame-chart-marker-highlight-element {
  position: absolute;
  top: 1px;
  height: 18px;
  width: 6px;
  margin: 0 -3px;
  content: "";
  display: block;
}

.flame-chart-canvas:focus-visible {
  border-top: 1px solid var(--sys-color-state-focus-ring);
  border-bottom: 1px solid var(--sys-color-state-focus-ring);
}

.flame-chart-highlight-element {
  position: absolute;
  pointer-events: none;
  background-color: var(--sys-color-state-hover-on-subtle);
}

.reveal-descendants-arrow-highlight-element {
  position: absolute;
  pointer-events: none;
  background-color: var(--sys-color-state-hover-on-subtle);
}

.flame-chart-selected-element {
  position: absolute;
  pointer-events: none;
  outline: 2px solid var(--sys-color-primary);
  background-color: var(--sys-color-state-ripple-primary);
}

.flame-chart-search-element {
  position: absolute;
  pointer-events: none;
  outline: 1px solid var(--sys-color-on-surface-subtle);
  background-color: var(--sys-color-state-ripple-neutral-on-subtle);
}

.chart-cursor-element {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 2px;
  background-color: var(--sys-color-primary);
  pointer-events: none;

  &.using-new-overlays {
    background-color: var(--ref-palette-pink50);
  }
}

.flame-chart-entry-info:not(:empty) {
  z-index: 2000;
  position: absolute;
  contain: content;
  background-color: var(--sys-color-cdt-base-container);
  pointer-events: none;
  padding: 4px 8px;
  white-space: nowrap;
  max-width: 80%;
  box-shadow: var(--drop-shadow);
}

.flame-chart-entry-info table tr td:empty {
  padding: 0;
}

.flame-chart-entry-info table tr td:not(:empty) {
  padding: 0 5px;
  white-space: nowrap;
}

.flame-chart-entry-info table tr td:first-child {
  font-weight: bold;
}

.flame-chart-entry-info table tr td span {
  margin-right: 5px;
}

.flame-chart-edit-confirm {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
