/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  /**
    Adjusts the max height of the code area.
    This can be changed from outside by targeting `devtools-code-block` element.
  */
  --max-code-height: none;
}

code {
  color: var(--sys-color-on-surface);
  font-size: 11px;
  user-select: text;
  cursor: text;
  background: var(--sys-color-surface1);
}

.codeblock {
  margin-bottom: var(--sys-size-5);
  box-sizing: border-box;
  color: var(--sys-color-on-surface);
}

.codeblock .toolbar {
  border-top-left-radius: var(--sys-shape-corner-extra-small);
  border-top-right-radius: var(--sys-shape-corner-extra-small);
  box-sizing: border-box;
  display: flex;
  height: var(--sys-size-12);
  flex-direction: row;
  padding: 0 11px;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--sys-size-8);
  background-color: var(--sys-color-surface5);
}

.codeblock .editor-wrapper {
  color: var(--sys-color-on-surface);
  background: var(--sys-color-surface1);
  padding: 10px 5px 0;
  border-bottom-left-radius: var(--sys-shape-corner-extra-small);
  border-bottom-right-radius: var(--sys-shape-corner-extra-small);
}

.codeblock .editor-wrapper:has(.heading) {
  padding: var(--sys-size-3) var(--sys-size-4) 0 5px;
}

.codeblock:not(:has(.toolbar)) .editor-wrapper {
  border-radius: var(--sys-shape-corner-extra-small);
}

.codeblock .editor-wrapper .code {
  max-height: var(--max-code-height);
  overflow: auto;
  padding-bottom: 10px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--sys-size-11);
}

.heading-text {
  font: var(--sys-typescale-body5-bold);
  padding-left: var(--sys-size-4);
  padding-right: var(--sys-size-2);
}

.codeblock .lang {
  padding: var(--sys-size-4) 0;
  flex: 1;
}

.codeblock .copy {
  padding: var(--sys-size-3) 0;
  align-items: center;
  display: flex;
}

.codeblock .copy-button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--sys-size-3);

  devtools-icon {
    width: var(--sys-size-8);
    height: var(--sys-size-8);
    color: var(--icon-default);
  }
}

.codeblock .copy-button.copied {
  color: var(--sys-color-primary);

  devtools-icon {
    color: var(--sys-color-primary);
  }
}

.notice {
  margin-top: var(--sys-size-2);
  padding: var(--sys-size-4) var(--sys-size-5);
  background-color: var(--sys-color-surface1);
  border-radius: var(--sys-shape-corner-extra-small);

  .link {
    font: var(--sys-typescale-body4-regular);
    color: var(--sys-color-primary);
    text-decoration-line: underline;
  }
}
