/*
 * Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

@scope to (devtools-widget > *) {
  :scope {
    flex: auto;
    display: flex;
    min-height: var(--sys-size-9);
  }

  .settings {
    display: flex;
    flex-wrap: wrap;
    margin: 0 var(--sys-size-6) var(--sys-size-6);
    gap: 15px 45px;
  }

  .value-types-selection {
    display: flex;
    flex-direction: column;
  }

  .group {
    font-weight: bold;
    margin-bottom: var(--sys-size-6);
  }
}
