/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: inline-block;
  position: relative;
  outline: none;
}

:host(:not(:last-child)) {
  margin-right: 0.1em;
}

:host-context(.overloaded) {
  text-decoration: line-through;
}

.value {
  cursor: ew-resize;
}

::selection {
  background-color: var(--sys-color-tonal-container);
}
