/*
 * Copyright 2016 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  user-select: none;
  border: var(--sys-size-1) solid transparent;
}

.shadow-editor-field {
  height: var(--sys-size-11);
  margin-top: var(--sys-size-5);
  font-size: var(--sys-typescale-body4-size);
  flex-shrink: 0;
}

.shadow-editor-field:last-of-type {
  margin-bottom: var(--sys-size-5);
}

.shadow-editor-flex-field {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.shadow-editor-field.shadow-editor-blur-field {
  margin-top: var(--sys-size-14);
}

.shadow-editor-2D-slider {
  position: absolute;
  height: 88px;
  width: 88px;
  border: var(--sys-size-1) solid var(--divider-line);
  border-radius: var(--sys-size-2);
}

.shadow-editor-label {
  display: inline-block;
  width: 52px;
  height: var(--sys-size-11);
  line-height: var(--sys-size-11);
  margin-right: var(--sys-size-5);
  text-align: right;
}

.shadow-editor-button-left,
.shadow-editor-button-right {
  width: 74px;
  height: var(--sys-size-11);
  padding: 3px 7px;
  line-height: var(--sys-size-8);
  border: var(--sys-size-1) solid var(--divider-line);
  color: var(--sys-color-on-surface);
  background-color: var(--sys-color-cdt-base-container);
  text-align: center;
  font-weight: 500;
}

.shadow-editor-button-left {
  border-radius: var(--sys-size-2) 0 0 var(--sys-size-2);
}

.shadow-editor-button-right {
  border-radius: 0 var(--sys-size-2) var(--sys-size-2) 0;
  border-left-width: 0;
}

.shadow-editor-button-left:hover,
.shadow-editor-button-right:hover {
  box-shadow: 0 var(--sys-size-1) var(--sys-size-1) var(--color-background-elevation-1);
}

.shadow-editor-button-left:focus,
.shadow-editor-button-right:focus {
  background-color: var(--color-background-elevation-1);
}

.shadow-editor-button-left.enabled,
.shadow-editor-button-right.enabled {
  --override-button-text-color: #fff;

  background-color: var(--color-primary-old);
  color: var(--override-button-text-color);
}

.shadow-editor-button-left.enabled:focus,
.shadow-editor-button-right.enabled:focus {
  background-color: var(--color-primary-variant);
}

.shadow-editor-text-input {
  width: 52px;
  margin-right: var(--sys-size-5);
  text-align: right;
  box-shadow: var(--legacy-focus-ring-inactive-shadow);
}

@media (forced-colors: active) {
  .shadow-editor-button-left:hover,
  .shadow-editor-button-left.enabled:focus,
  .shadow-editor-button-right:hover .shadow-editor-button-left.enabled,
  .shadow-editor-button-right.enabled,
  .shadow-editor-button-right.enabled:focus {
    forced-color-adjust: none;
    background-color: Highlight;
    color: HighlightText;
  }
}
