/*
 * Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  white-space: nowrap;
}

.shadow-swatch-icon {
  --override-swatch-background-color: #9c27b0;

  position: relative;
  margin-left: 1px;
  margin-right: 2px;
  top: 1px;
  user-select: none;
  line-height: 10px;
  background-color: var(--override-swatch-background-color);
}

.shadow-swatch-icon:hover {
  --override-swatch-background-color: #800080;
}

.-theme-with-dark-background .shadow-swatch-icon,
:host-context(.-theme-with-dark-background) .shadow-swatch-icon {
  --override-swatch-background-color: rgb(196 79 216);
}

.-theme-with-dark-background .shadow-swatch-icon:hover,
:host-context(.-theme-with-dark-background) .shadow-swatch-icon:hover {
  --override-swatch-background-color: rgb(255 127 255);
}
