/*
 * Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
.report-field-name {
  flex-basis: 152px;
}

.manifest-view-header {
  min-width: 600px;
  flex-shrink: 0;
  flex-grow: 0;
}

.manifest-container {
  overflow: auto;
}

.inline-icon {
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}

.multiline-value {
  white-space: normal;
}

.inline-icon:focus-visible {
  outline-width: unset;
}
