/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
.not-restored-reason-list {
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0;
}

.inline-icon {
  vertical-align: sub;
}
