/*
 * Copyright 2019 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.cookie-preview-widget {
  padding: 2px 6px;
}

.cookie-preview-widget-header {
  color: var(--sys-color-token-subtle);
  font-weight: bold;
  user-select: none;
  white-space: nowrap;
  margin-bottom: 4px;
  flex: 0 0 18px;
  display: flex;
  align-items: center;
}

.cookie-preview-widget-header-label {
  line-height: 18px;
}

.cookie-preview-widget-cookie-value {
  user-select: text;
  word-break: break-all;
  flex: 1;
  overflow: auto;
}

.cookie-preview-widget-toggle {
  margin-left: 12px;
  font-weight: normal;
}
