/*
 * Copyright 2019 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

@scope to (devtools-widget > *) {
  .cookie-preview-widget {
    padding: var(--sys-size-2) var(--sys-size-4);
  }

  .cookie-preview-widget-header {
    font-weight: bold;
    user-select: none;
    white-space: nowrap;
    margin-bottom: var(--sys-size-3);
    flex: 0 0 18px;
    display: flex;
    align-items: center;
  }

  .cookie-preview-widget-header-label {
    line-height: 18px;
    flex-shrink: 0;
  }

  .cookie-preview-widget-cookie-value {
    user-select: text;
    word-break: break-all;
    flex: 1;
    overflow: auto;
  }

  .cookie-preview-widget-toggle {
    margin-left: var(--sys-size-6);
    font-weight: normal;
    flex-shrink: 1;
  }
}
