/*
 * Copyright 2023 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-size: inherit;
}

.extension-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  padding: 3px var(--sys-size-5);
  justify-content: space-between;
  border-bottom: var(--sys-size-1) solid var(--sys-color-divider);
}

header > div {
  align-self: center;
}

.icon {
  display: block;
  width: var(--sys-size-8);
  height: var(--sys-size-8);
  color: var(--sys-color-secondary);
}

.title {
  display: flex;
  flex-direction: row;
  gap: var(--sys-size-4);
  color: var(--sys-color-secondary);
  align-items: center;
  font-weight: 500;
}
