/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

*:focus,
*:focus-visible {
  outline: none;
}

.wrapper {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

h1 {
  font-size: 16px;
  line-height: 19px;
  color: var(--color-text-primary);
  font-weight: normal;
}

.icon,
.icon devtools-icon {
  width: 20px;
  height: 20px;
}

.table {
  margin-top: 35px;
}

.title {
  font-size: 13px;
  color: var(--color-text-primary);
  margin-left: 10px;
  flex: 1;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.row {
  display: flex;
  align-items: center;
  padding-right: 5px;
  height: 28px;
  border-bottom: 1px solid var(--color-details-hairline);
}

.row:focus-within,
.row:hover {
  background-color: var(--color-background-elevation-1);
}

.row:last-child {
  border-bottom: none;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.actions .divider {
  width: 1px;
  height: 17px;
  background-color: var(--color-details-hairline);
  margin: 0 6px;
}
