/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.select-button {
  display: flex;
  gap: 12px;
}

.select-button devtools-button {
  position: relative; /* Needed for outline to appear on top of the next element */
}

.select-button devtools-select-menu {
  position: relative;
  top: var(--sys-size-1);
  height: var(--sys-size-9);
}

.select-menu-item-content-with-icon {
  display: flex;
  align-items: center;
}
