/*
 * Copyright 2019 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.request-initiator-view-tree {
  user-select: text;

  & .fill {
    right: calc(-1 * var(--sys-size-4)); /* Same as the margin in .request-initiator-view but negative. */
  }
}

.request-initiator-view-section-title {
  font-weight: bold;
  padding: var(--sys-size-3);
}

.console-origin-label {
  color: var(--sys-color-token-subtle);
  padding: var(--sys-size-2) var(--sys-size-3) var(--sys-size-2) var(--sys-size-9);
}

.request-initiator-view-section-title:focus-visible {
  background-color: var(--sys-color-state-focus-highlight);
}

@media (forced-colors: active) {
  .request-initiator-view-section-title:focus-visible {
    forced-color-adjust: none;
    background-color: Highlight;
    color: HighlightText;
  }
}
