/*
 * Copyright 2022 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.header {
  background-color: var(--color-background-elevation-1);
  border-bottom: var(--legacy-divider-border);
  border-top: var(--legacy-divider-border);
  line-height: 25px;
  padding: 0 5px;
}

.header::marker {
  color: rgb(110 110 110); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
  font-size: 11px;
  line-height: 1;
}

.header:focus {
  background-color: var(--legacy-focus-bg-color);
}

details[open] .header-count {
  display: none;
}

details summary label {
  display: none;
}

details[open] summary label {
  display: inline-flex;
  gap: 2px;
}

.raw-checkbox-container {
  float: right;
}

details summary input {
  vertical-align: middle;
}

.row {
  display: flex;
  line-height: 20px;
  padding-left: 8px;
  gap: 12px;
  user-select: text;
}

.row:first-of-type {
  margin-top: 2px;
}

.row:last-child {
  margin-bottom: 10px;
}

.header-name {
  color: var(--color-primary);
  font-weight: 500;
  width: 160px;
  flex-shrink: 0;
}

.header-value {
  word-break: break-all;
}

.green-circle::before,
.red-circle::before,
.yellow-circle::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  vertical-align: text-top;
  margin-right: 2px;
}

.green-circle::before {
  background-color: var(--color-accent-green);
}

.red-circle::before {
  background-color: var(--color-accent-red);
}

.yellow-circle::before {
  background-color: var(--issue-color-yellow);
}

.status-with-comment {
  color: var(--color-text-secondary);
}

.raw-headers {
  font-family: var(--source-code-font-family);
  font-size: var(--source-code-font-size);
  white-space: pre-wrap;
}
