/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  margin: var(--sys-size-3) 0 var(--sys-size-3) var(--sys-size-9);
  min-width: 150px;
}

.key {
  color: var(--sys-color-on-surface-subtle);
  font: var(--sys-typescale-body5-medium);
  padding-right: var(--sys-size-6);
  text-align: left;
  white-space: pre;
  user-select: none;
  line-height: 18px;
}
