/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
    overflow: hidden;
    align-items: stretch;
    flex: auto;
    background-color: #fcfcfc;
}

.device-mode-toolbar {
    flex: none;
    background-color: #f3f3f3;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.device-mode-toolbar .toolbar {
    padding: 0;
}

.device-mode-buttons-toolbar {
    flex: 3 0 0;
    display: flex;
    justify-content: flex-end;
}

.device-mode-options-toolbar {
    flex: 5 0 0;
    display: flex;
    padding-right: 10px;
}

.device-mode-options-toolbar .toolbar {
    flex: none;
}

.device-mode-toolbar-spacer {
    flex: auto;
}

.device-mode-content-clip {
    overflow: hidden;
    flex: auto;
}

.device-mode-media-container {
    flex: none;
    overflow: hidden;
}

.device-mode-content-area {
    flex: auto;
    position: relative;
    margin: 0;
}

.device-mode-screen-area {
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: #171717;
    box-shadow: hsl(0, 0%, 88%) 1px 1px 0 1px, hsla(0, 0%, 80%, 0.6) 0 0 16px;
}

.device-mode-screen-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.device-mode-screen-options {
    position: absolute;
    right: -35px;
    top: 0;
    border-radius: 3px;
    padding: 0;
    margin: 0;
}

.device-mode-screen-options:hover {
    background-color: hsl(0, 0%, 90%);
}

.device-mode-resizer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease;
}

.device-mode-resizer:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
}

.device-mode-resizer > div {
    content: url(Images/toolbarResizerHorizontal.png);
    pointer-events: none;
    margin: 0 0 0 1px;
}

.device-mode-width-resizer {
    top: 0;
    bottom: 0;
    right: -14px;
    width: 14px;
}

.device-mode-height-resizer {
    left: 0;
    right: 0;
    bottom: -14px;
    height: 14px;
}

.device-mode-height-resizer > div {
    transform: rotate(90deg);
    margin: 1px 0 0 0;
}

.device-mode-corner-resizer {
    left: 0;
    top: 0;
    right: -14px;
    bottom: -14px;
    background-color: hsla(0, 0%, 0%, 0.02);
}

.device-mode-corner-resizer > div {
    position: absolute;
    right: 2px;
    bottom: 2px;
    transform: rotate(45deg);
}

.device-mode-page-area {
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    display: flex;
    background-color: #fcfcfc;
}

.device-mode-blueprint-container {
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.device-mode-blueprint {
    display: flex;
    border-left: 1px dashed #dcdcdc;
    border-right: 1px dashed #dcdcdc;
    border-bottom: 1px dashed #dcdcdc;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    color: #aaa;
    pointer-events: initial;
}

.device-mode-blueprint:hover {
    border-color: #aaa;
}

.device-mode-blueprint > span {
    transition: opacity 150ms;
    opacity: 0;
    padding: 3px;
}

.device-mode-blueprint:hover > span {
    opacity: 1;
    display: initial;
}
