/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.adorner-settings-pane {
  display: flex;
  height: auto;
  padding: var(--sys-size-4) var(--sys-size-6);
  color: var(--sys-color-on-surface);
  font-size: 12px;
  align-items: center;

  & > .settings-title {
    font-weight: var(--ref-typeface-weight-medium);
    margin-right: var(--sys-size-4);
    min-width: fit-content;
  }

  & > .setting-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.setting {
  margin-left: 1em;
  display: flex;
  min-width: fit-content;
}

.adorner-status {
  margin: auto 0.4em auto 0;
}

.adorner-status,
.adorner-name {
  vertical-align: middle;
}
