.query:not(.editing-query) {
  overflow: hidden;
}

.editable .query-text {
  color: var(--color-text-primary);
}

.editable .query-text:hover {
  text-decoration: var(--override-styles-section-text-hover-text-decoration);
  cursor: var(--override-styles-section-text-hover-cursor);
}
