/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.container-link {
  display: inline-block;
  color: var(--sys-color-state-disabled);
}

.container-link:hover {
  color: var(--sys-color-primary);
}

.queried-size-details {
  color: var(--sys-color-on-surface);
}

.axis-icon {
  margin-left: 0.4em;
  width: 16px;
  height: 12px;
  vertical-align: text-top;
}

.axis-icon.hidden {
  display: none;
}

.axis-icon.vertical {
  transform: rotate(90deg);
}
