/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.container {
  padding: 12px;
  min-width: 170px;
}

.row {
  padding: 0;
  color: var(--sys-color-on-surface);
  padding-bottom: 16px;
}

.row:last-child {
  padding-bottom: 0;
}

.property {
  padding-bottom: 4px;
  white-space: nowrap;
}

.property-name {
  color: var(--sys-color-token-property-special);
}

.property-value {
  color: var(--sys-color-on-surface);
}

.property-value.not-authored {
  color: var(--sys-color-state-disabled);
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons > :first-child {
  border-radius: 3px 0 0 3px;
}

.buttons > :last-child {
  border-radius: 0 3px 3px 0;
}

.button {
  border: 1px solid var(--sys-color-neutral-outline);
  background-color: var(--sys-color-cdt-base-container);
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:focus-visible {
  outline: auto 5px -webkit-focus-ring-color;
}

.button devtools-icon {
  --icon-color: var(--icon-default);
}

.button:hover devtools-icon {
  --icon-color: var(--icon-default-hover);
}

.button.selected devtools-icon {
  --icon-color: var(--icon-toggled);
}
