/*
 * Copyright 2020 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
.media-messages-header {
  background-color: var(--toolbar-bg-color);
  border-bottom: 1px solid var(--divider-color);
  min-height: 26px;
}

.media-messages-body {
  overflow-y: scroll;
}

.media-messages-level-dropdown-element {
  background-color: var(--toolbar-bg-color);
  color: #000; /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
  height: 18px;
  line-height: 18px;
}

.media-messages-level-dropdown-element:hover {
  background-color: var(--accent-color-hover);
  color: #fff; /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.media-messages-level-dropdown-text {
  float: left;
}

.media-messages-level-dropdown-checkbox {
  float: left;
  width: 18px;
  height: 100%;
  padding-left: 2px;
}

.media-messages-message-container {
  font-size: 14px;
  line-height: 18px;
  padding: 4px;
  user-select: text;
  border-bottom: 1px solid var(--divider-color);
}

.media-message-warning {
  background-color: hsl(45deg 100% 97%); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.media-message-error {
  background-color: hsl(0deg 100% 97%); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

.media-messages-message-filtered {
  display: none;
}

.media-messages-message-unselected {
  display: none;
}
