/*
 * Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.blackboxed-message {
  text-align: center;
  font-style: italic;
  padding: 4px;
  color: #888;
  background-color: #ffffc2;
}

.show-more-message > .link {
  margin-left: 5px;
}

.blackboxed-message > .link {
  margin-left: 5px;
}

.blackboxed-message > .link:focus {
  outline-width: unset;
}

.show-more-message {
  text-align: center;
  font-style: italic;
  padding: 4px;
  border-top: 1px solid #d8d8d8;
}

.call-frame-item {
  padding: 3px 8px 3px 20px;
  position: relative;
  min-height: 18px;
  line-height: 15px;
  display: flex;
  flex-wrap: wrap;
}

.call-frame-title-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.async-header + .call-frame-item {
  border-top: 0;
}

.call-frame-item:not(.async-header) {
  border-top: 1px solid #efefef;
}

.call-frame-item-title,
.call-frame-location {
  display: flex;
  white-space: nowrap;
}

.async-header .call-frame-item-title {
  font-weight: bold;
  color: #999;
  background-color: white;
  margin-left: -5px;
  padding: 0 5px;
  z-index: 1;
}

.call-frame-item:focus-visible,
.call-frame-item.async-header:focus-visible .call-frame-item-title {
  background-color: var(--focus-bg-color);
}

.call-frame-item:not(.async-header):hover {
  background-color: #eee;
}

.call-frame-location {
  color: #888;
  margin-left: auto;
  padding: 0 10px 0 10px;
}

.async-header::before {
  content: " ";
  width: 100%;
  border-top: 1px solid #d8d8d8;
  margin-top: 8px;
  position: absolute;
  left: 0;
}

.blackboxed-call-frame {
  opacity: 60%;
  font-style: italic;
}

.selected-call-frame-icon {
  display: none;
  position: absolute;
  top: 5px;
  left: 4px;
}

.call-frame-item.selected .selected-call-frame-icon {
  display: block;
}

:host-context(.-theme-with-dark-background) .blackboxed-message {
  background-color: hsl(46deg 98% 22%);
  color: #aaa;
}

:host-context(.-theme-with-dark-background) .blackboxed-message > .link {
  color: hsl(0deg 0% 67%);
}

@media (forced-colors: active) {
  .call-frame-item:focus-visible,
  .call-frame-item:not(.async-header):hover {
    forced-color-adjust: none;
    background-color: Highlight;
  }

  .call-frame-item:focus-visible *,
  .call-frame-item:not(.async-header):hover * {
    color: HighlightText;
  }
}
