/*
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.breakpoint-entry {
  padding: 3px 8px 3px 8px;
  min-height: 18px;
  line-height: 15px;
  border-top: 1px solid #efefef;
}

.breakpoint-entry:focus {
  background-color: var(--focus-bg-color);
}

.breakpoint-entry [is=dt-checkbox] {
  max-width: 100%;
  white-space: nowrap;
}

:not(.breakpoints-list-deactivated) > .breakpoint-entry:hover {
  background-color: #eee;
}

.breakpoint-entry > .source-text {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 22px;
}

.breakpoints-list-deactivated {
  background-color: #eee;
  opacity: 30%;
}

.breakpoint-hit {
  background-color: rgb(255 255 194);
  border-right: 3px solid rgb(107 97 48);
}

:host-context(.-theme-with-dark-background) .breakpoint-hit {
  background-color: hsl(46deg 98% 22%);
  color: #ccc;
}

@media (forced-colors: active) {
  .breakpoint-entry:focus,
  :not(.breakpoints-list-deactivated) > .breakpoint-entry:hover {
    forced-color-adjust: none;
    background-color: Highlight;
  }

  .breakpoint-entry:focus > *,
  :not(.breakpoints-list-deactivated) > .breakpoint-entry:hover > * {
    color: HighlightText;
  }
}
