/*
 * Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.search-drawer-header {
    flex: none;
    display: flex;
    border-bottom: 2px solid #e8e8e8;
    white-space: nowrap;
    overflow: hidden;
}

.search-drawer-header input.search-config-search {
    padding: 0 28px;
    margin: 1px 0px 1px 1px;
    height: 28px;
    border-radius: 2px;
    color: #303030;
    border: none;
    min-width: 95px;
}

.search-drawer-header .search-icon {
    left: 10px;
    top: 10px;
    position: absolute;
}

.search-config-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.search-drawer-header .search-cancel-button-container {
    position: relative;
}

.search-drawer-header .search-cancel-button {
    position: absolute;
    right: 9px;
    top: 9px;
}

:host-context(.platform-mac) .search-drawer-header input.search-config-search {
    top: 1px;
}

.search-drawer-header label.search-config-label:first-of-type {
    border-left: 1px solid #dadada;
    margin: 0px 0px 0px 1px;
    padding-left: 10px;
}

.search-drawer-header label.search-config-label {
    margin: 2px 4px;
    margin-left: 8px;
    color: #303030;
    display: flex;
}

.search-toolbar-summary {
    background-color: #eee;
    border-top: 1px solid #ccc;
    padding-left: 5px;
    flex: 0 0 19px;
    display: flex;
    padding-right: 5px;
}

.search-toolbar-summary .search-message {
    padding-top: 2px;
    padding-left: 1ex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.search-view .search-results {
    overflow-y: auto;
    display: flex;
    flex: auto;
}

.search-view .search-results > div {
    flex: auto;
}

.search-results .empty-view {
    pointer-events: none;
}

.empty-view {
    font-size: 24px;
    color: rgb(75%, 75%, 75%);
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
