/*
 * Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.search-drawer-header {
    flex: none;
    display: flex;
    border-bottom: 2px solid #e8e8e8;
    white-space: nowrap;
    overflow: hidden;
}

.search-drawer-header input.search-config-search {
    padding: 0 28px;
    margin: 1px 0px 0px 1px;
    height: 28px;
    border-radius: 2px;
    color: #303030;
    border: none;
    min-width: 95px;
}

.search-drawer-header .search-icon {
    background-image: url(Images/toolbarButtonGlyphs.png);
    background-size: 352px 168px;
    background-position: -234px 138px;
    left: 10px;
    top: 10px;
    width: 12px;
    height: 12px;
    position: absolute;
}

.search-config-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.search-drawer-header .search-cancel-button {
    position: relative;
    left: -22px;
    top: 9px;
}

.search-drawer-header .search-cancel-button::before {
    content: '';
    background-image: url(Images/toolbarButtonGlyphs.png);
    background-size: 352px 168px;
    left: 0;
    top: 0;
    width: 13px;
    height: 13px;
    background-position: -143px -96px;
    position: absolute;
}

:host-context(.platform-mac) .search-drawer-header input.search-config-search {
    top: 1px;
}

.search-drawer-header label.search-config-label:first-of-type {
    border-left: 1px solid #dadada;
    margin: 0px 0px 0px 1px;
    padding-left: 10px;
}

.search-drawer-header label.search-config-label {
    margin: 2px 4px;
    margin-left: 8px;
    color: #303030;
    display: flex;
}

.search-toolbar-summary {
    background-color: #eee;
    border-top: 1px solid #ccc;
    padding-left: 5px;
    flex: 0 0 19px;
    display: flex;
    padding-right: 5px;
}

.search-toolbar-summary .search-message {
    padding-top: 2px;
    padding-left: 1ex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#search-results-pane-file-based li {
    list-style: none;
}

#search-results-pane-file-based ol {
    -webkit-padding-start: 0;
    margin-top: 0;
}

#search-results-pane-file-based ol.children {
    display: none;
}

#search-results-pane-file-based ol.children.expanded {
    display: block;
}

#search-results-pane-file-based li.parent::before {
    -webkit-user-select: none;
    background-image: url(Images/toolbarButtonGlyphs.png);
    background-size: 352px 168px;
    opacity: 0.5;
    width: 12px;
    content: "a";
    color: transparent;
    margin-left: -5px;
    padding-right: 4px;
    display: inline-block;
    box-sizing: border-box;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
.search-drawer-header .search-icon {
    background-image: url(Images/toolbarButtonGlyphs_2x.png);
}

.search-drawer-header .search-cancel-button::before {
    background-image: url(Images/toolbarButtonGlyphs_2x.png);
}

#search-results-pane-file-based li.parent::before {
    background-image: url(Images/toolbarButtonGlyphs_2x.png);
}
} /* media */

#search-results-pane-file-based li.parent::before {
    background-position: -4px -96px;
}

#search-results-pane-file-based li.parent.expanded::before {
    background-position: -20px -96px;
}

#search-results-pane-file-based .search-result {
    font-size: 11px;
    padding: 2px 0 2px 10px;
    word-wrap: normal;
    white-space: pre;
    cursor: pointer;
}

#search-results-pane-file-based .search-result:hover {
    background-color: rgba(121, 121, 121, 0.1);
}

#search-results-pane-file-based .search-result .search-result-file-name {
    font-weight: bold;
    color: #222;
}

#search-results-pane-file-based .search-result .search-result-matches-count {
    margin-left: 5px;
    color: #222;
}

#search-results-pane-file-based .show-more-matches {
    padding: 4px 0;
    color: #222;
    cursor: pointer;
    font-size: 11px;
    margin-left: 20px;
}

#search-results-pane-file-based .show-more-matches:hover {
    text-decoration: underline;
}

#search-results-pane-file-based .search-match {
    word-wrap: normal;
    white-space: pre;
}

#search-results-pane-file-based .search-match .search-match-line-number {
    color: rgb(128, 128, 128);
    text-align: right;
    vertical-align: top;
    word-break: normal;
    padding-right: 4px;
    padding-left: 6px;
    margin-right: 5px;
    border-right: 1px solid #BBB;
}

#search-results-pane-file-based .search-match:not(:hover) .search-match-line-number {
    background-color: #F0F0F0;
}

#search-results-pane-file-based .search-match:hover {
    background-color: rgba(56, 121, 217, 0.1);
}

#search-results-pane-file-based .search-match .highlighted-match {
    background-color: #F1EA00;
}

:host-context(.-theme-with-dark-background) #search-results-pane-file-based .search-match .highlighted-match {
    background-color: hsl(133, 100%, 30%) !important;
}

#search-results-pane-file-based a {
    text-decoration: none;
    display: block;
}

#search-results-pane-file-based .search-match .search-match-content {
    color: #000;
}

.search-view .search-results {
    overflow-y: auto;
    display: flex;
    flex: auto;
}

.search-results .empty-view {
    pointer-events: none;
}

.empty-view {
    font-size: 24px;
    color: rgb(75%, 75%, 75%);
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
