/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.entry-highlight-wrapper {
  box-sizing: border-box;
  border: 2px solid var(--sys-color-on-surface);
  position: absolute;
}

.crate-link-icon {
  color: var(--sys-color-on-surface);
  width: 16px;
  height: 16px;
  position: absolute;
}
