/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.connectorContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.entry-wrapper {
  pointer-events: none;
  position: absolute;
  display: block;
  border: 2px solid var(--color-text-primary);
  box-sizing: border-box;

  &.cut-off-top {
    border-top: none;
  }

  &.cut-off-bottom {
    border-bottom: none;
  }

  &.cut-off-right {
    border-right: none;
  }

  &.cut-off-left {
    border-left: none;
  }
}

.entry-is-not-source {
  border: 2px dashed var(--color-text-primary);
}

.create-link-icon {
  pointer-events: auto;
  cursor: pointer;
  color: var(--sys-color-on-surface);
  width: 16px;
  height: 16px;
  position: absolute;
}
