/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.label-parts-wrapper {
  /* Move element by half of its own width to position so now it is covering the whole entry.
    The reason we cannot directly place it in the middle of the entry is that the width of the whole entry label overlay
    depends of which element is wider - the label or the entry it belongs to. Therefore we cannot make sure the
    label won't be positioned in front of the entry box.  */
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  color: var(--color-selected-option);
  align-items: center;
}

.label-box {
  pointer-events: auto;
  background-color: var(--sys-color-token-variable);
  border-radius: var(--sys-shape-corner-extra-small);
  white-space: nowrap;
  padding: var(--sys-size-3) var(--sys-size-4);
  font-family: var(--default-font-family);
  font-size: var(--sys-typescale-body2-size);
  font-weight: var(--ref-typeface-weight-medium);
}

.label-box:focus {
  background-color: var(--color-selected-option);
  color: var(--sys-color-token-variable);
}

.connectorContainer {
  overflow: visible;
}

.entry-highlight-wrapper {
  box-sizing: border-box;
  border: 2px solid var(--sys-color-on-surface);
}
